openapi: 3.0.1
info:
  description: |
    <div class="api-block">

    Управление [сборочными заданиями](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) и [идентификаторами маркировки](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers) заказов модели Самовывоз.<br><br>

    Вы можете протестировать методы заказов Самовывоз в [песочнице](/sandbox). Также в песочнице доступны [специальные методы](/docs/openapi-other/sandbox-environment#tag/Marketplejs-Samovyvoz) для эмуляции действий пользователя

    </div>
  title: Заказы Самовывоз
  version: instorepickup
  x-file-name: in-store-pickup
servers:
- url: https://marketplace-api.wildberries.ru
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Сборочные задания Самовывоз
  x-displayName: Сборочные задания Самовывоз
- description: ""
  name: Идентификаторы маркировки Самовывоз
  x-displayName: Идентификаторы маркировки Самовывоз
paths:
  /api/v3/click-collect/orders/new:
    get:
      description: |
        Метод возвращает список всех новых [сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders), которые есть у продавца на момент запроса.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: getV3ClickCollectOrdersNew
      responses:
        "200":
          content:
            application/json:
              examples:
                NewOrderClick:
                  $ref: "#/components/examples/NewOrderClick"
              schema:
                $ref: "#/components/schemas/api.NewOrders"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Получить список новых сборочных заданий
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: true
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/status/confirm:
    post:
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статуса](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `new` — новый — в статус `confirm` — на сборке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersStatusConfirm
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.StatusSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Перевести сборочные задания на сборку
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/status/prepare:
    post:
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статуса](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` — на сборке — в статус `prepare` — готово к выдаче.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersStatusPrepare
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.MetaDetailsResponse"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: "Сообщить, что сборочные задания готовы к выдаче"
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/v3/click-collect/orders/client:
    post:
      description: |
        Метод возвращает информацию о покупателе по ID сборочного задания.
        <br><br>
        Доступно только для сборочных заданий в статусах:
          - `confirm` — на сборке
          - `prepare` — готов к выдаче

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.OrderClientInfoResp"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Информация о покупателе
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: true
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/v3/click-collect/orders/client/identity:
    post:
      description: |
        Метод сообщает, принадлежит ли проверяемый заказ покупателю или нет по переданному коду.
        <br><br>
        Доступно, если хотя бы одно сборочное задание из заказа находится в статусе prepare - готов к выдаче.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersClientIdentity
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.CheckIdentityRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.CheckedIdentity"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              examples:
                OrderNotFound:
                  $ref: "#/components/examples/OrderNotFound"
              schema:
                $ref: "#/components/schemas/api.Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                InvalidPasscode:
                  $ref: "#/components/examples/InvalidPasscode"
              schema:
                $ref: "#/components/schemas/api.Error"
          description: Введён неверный проверочный код
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: "Проверить, что заказ принадлежит покупателю"
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: true
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/status/receive:
    post:
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статуса](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `prepare` — готово к выдаче — в статус `receive` — получено покупателем.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersStatusReceive
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.StatusSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: "Сообщить, что заказы приняты покупателями"
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/status/reject:
    post:
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статуса](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `prepare` — готово к выдаче — в статус `reject` — отказ при получении.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersStatusReject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.StatusSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Сообщить об отказе от заказов
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/status/info:
    post:
      description: "Метод возвращает статусы [сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders)\
        \ по их ID.\n<br><br>\n`supplierStatus` — статус сборочного задания. Тригг\
        ер его изменения - действие самого продавца.\n\nВозможные значения `supplierStatus`:\n\
        | Статус   | Описание            | Как перевести сборочное задание в данны\
        й статус |\n| -------  | ---------           | --------------------------------------|\n\
        | `new`      | **Новое сборочное задание** |\n| `confirm`  | **На сборке**\
        \  | \t[Перевести сборочное задание на сборку](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusConfirm)\n\
        | `prepare`  | **Готов к выдаче** | \t[Сообщить, что сборочное задание гот\
        ово к выдаче](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusPrepare)\n\
        | `receive`  | **Получено покупателем**   | [Сообщить, что заказ принят по\
        купателем](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusReceive)\n\
        | `reject`  | **Отказ покупателя при получении**    |  \t[Сообщить, что по\
        купатель отказался от заказа](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusReject)\n\
        | `cancel`   | **Отменено продавцом**    |  \t[Отменить сборочное задание\
        ](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusCancel)\n\
        | `cancel_shelf_life` | **Отмена по истечении срока хранения**    |  \tПер\
        еводится автоматически по возникновению события\n\n<br><br>\n`wbStatus` —\
        \ статус системы Wildberries.\n\nВозможные значения `wbStatus`:\n- `waiting`\
        \ - сборочное задание в работе\n- `sold` - заказ получен покупателем\n- `canceled`\
        \ - отмена сборочного задания\n- `canceled_by_client` - покупатель отменил\
        \ заказ при получении\n- `declined_by_client` - покупатель отменил заказ в\
        \ первый чаc\n<br> Отмена доступна покупателю в первый час с момента заказ\
        а, если заказ не переведён на сборку\n- `defect` - отмена заказа по причин\
        е брака\n- `ready_for_pickup` - заказ готов к выдаче\n\n<div class=\"description_limit\"\
        >\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Л\
        имит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал\
        \ | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10\
        \ запросов |\n\nОдин запрос с кодами ответов <code>4XX</code> учитывается\
        \ как 10 запросов\n</div>\n"
      operationId: postV3ClickCollectOrdersStatusInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.OrderStatusesV2"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Получить статусы сборочных заданий
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: true
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/v3/click-collect/orders:
    get:
      description: |
        Метод возвращает информацию о завершённых сборочных заданиях после продажи или отмены заказа.

        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: getV3ClickCollectOrders
      parameters:
      - description: |
          Параметр пагинации. Устанавливает предельное количество возвращаемых
          данных.
        explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: |
          Параметр пагинации. Устанавливает значение, с которого необходимо получить
          следующий пакет данных. Для получения полного списка данных должен
          быть равен `0` в первом запросе. Для следующих запросов необходимо
          брать значения из одноимённого поля в ответе
        explode: true
        in: query
        name: next
        required: true
        schema:
          type: integer
        style: form
      - description: Дата начала периода в формате Unix timestamp
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          type: integer
        style: form
      - description: Дата конца периода в формате Unix timestamp
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.Orders"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Получить информацию о завершённых сборочных заданиях
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: true
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/status/cancel:
    post:
      description: |
        Переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статусов](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `new`, `confirm`, `prepare` в статус `cancel` — отменено продавцом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersStatusCancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.StatusSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Отменить сборочные задания
      tags:
      - Сборочные задания Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/meta/details:
    post:
      description: |
        Метод возвращает идентификаторы маркировки [сборочных заданий ](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) и статусы их проверки.<br><br>

        Перечень идентификаторов маркировки, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/getV3ClickCollectOrdersNew), поле `requiredMeta`. Если поле `requiredMeta` не содержит какой-либо идентификатор маркировки, значит, у сборочного задания не может быть этого идентификатора — и добавить его нельзя.<br>
        Возможные идентификаторы маркировки:
          - `imei` — [IMEI](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaImei)
          - `uin` — [УИН](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaUin)
          - `gtin` — [GTIN](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaGtin)
          - `sgtin` — [код маркировки](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaSgtin)
          - `customsDeclaration` — [номер ДТ](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration)
          - `originCountryCode` — [числовой код страны происхождения товара](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration) из [Общероссийского классификатора стран мира](https://esnsi.gosuslugi.ru/classifiers/16269)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersMetaDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.OrdersMetaDetailsResponse"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Получить идентификаторы маркировки сборочных заданий
      tags:
      - Идентификаторы маркировки Самовывоз
      x-readonly-method: true
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/meta/info:
    post:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [15 июля](/release-notes?id=536)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersMetaInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.OrdersMetaResponse"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Получить идентификаторы маркировки сборочных заданий
      tags:
      - Идентификаторы маркировки Самовывоз
      x-readonly-method: true
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/meta/delete:
    post:
      description: |
        Метод удаляет значения указанных [идентификаторов маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails).
        <br><br>
        В одном запросе можно удалить идентификаторы маркировки только одного типа. Укажите тип идентификаторов маркировки в запросе:
          - `imei` — [IMEI](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaImei)
          - `uin` — [УИН](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaUin)
          - `gtin` — [GTIN](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaGtin)
          - `sgtin` — [код маркировки](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaSgtin)
          - `customsDeclaration` — [номер ДТ](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration). При удалении номера ДТ также удаляется код страны происхождения товара — `originCountryCode`

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersMetaDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersMetaDeleteRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.OrdersResponses"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Удалить идентификаторы маркировки сборочных заданий
      tags:
      - Идентификаторы маркировки Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/meta/sgtin:
    post:
      description: |
        Метод обновляет код маркировки [Честного знака](https://честныйзнак.рф/) в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails).<br>
        Закрепить код маркировки можно только за сборочным заданием в [статусе](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` и если в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails) есть поле `sgtin`.
        <br><br>
        Получить загруженные маркировки можно в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersMetaSgtin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersSGTINsSetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.MetaSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Закрепить коды маркировки Честного знака за сборочными заданиями
      tags:
      - Идентификаторы маркировки Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/meta/uin:
    post:
      description: |
        Метод обновляет УИН, уникальные идентификационные номера, в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails). У одного сборочного задания может быть только один УИН. <br>
        Закрепить УИН можно только за сборочным заданием в [статусе](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` и если в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails) есть поле `uin`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersMetaUin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersUINSetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.MetaSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Закрепить УИН за сборочными заданиями
      tags:
      - Идентификаторы маркировки Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/meta/imei:
    post:
      description: |
        Метод обновляет IMEI в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails). <br>
        У одного сборочного задания может быть только один IMEI. Если у устройства два IMEI — **IMEI** и **IMEI2** или **IMEI1** и **IMEI2** — укажите только **IMEI** или **IMEI1**. **IMEI2** указывать не нужно.<br>
        Закрепить IMEI можно только за сборочным заданием в [статусе](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` и если в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails) есть поле `imei`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersMetaImei
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersIMEISetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.MetaSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Закрепить IMEI за сборочными заданиями
      tags:
      - Идентификаторы маркировки Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/meta/gtin:
    post:
      description: |
        Метод обновляет GTIN, уникальный ID товара в Беларуси, в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails). У одного сборочного задания может быть только один GTIN. <br>
        Закрепить GTIN можно только за сборочным заданием в [статусе](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` и если в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails) есть поле `gtin`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersMetaGtin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersGTINSetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.MetaSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      summary: Закрепить GTIN за сборочными заданиями
      tags:
      - Идентификаторы маркировки Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - description: |
        **Prod**
      url: https://marketplace-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://marketplace-api-sandbox.wildberries.ru
  /api/marketplace/v3/click-collect/orders/meta/customs-declaration:
    post:
      description: |
        Метод обновляет номера ДТ — деклараций на товары — и коды стран происхождения товаров в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails). У одного сборочного задания может быть только один номер ДТ. <br>
        Закрепить номер ДТ можно, только если выполняются все условия:
          - сборочное задание имеет признак B2B-продажи — `"isB2b":true` в ответе метода [получения новых сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/getV3ClickCollectOrdersNew)
          - сборочное задание находится в [статусах](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` или `prepare`
          - поле `customsDeclaration` есть в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      operationId: postV3ClickCollectOrdersMetaCustomsDeclaration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/postV3ClickCollectOrdersMetaCustomsDeclaration_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                CustomsDeclarationResponse:
                  $ref: "#/components/examples/CustomsDeclarationResponse"
              schema:
                $ref: "#/components/schemas/api.CustomsDeclarationSetResponse"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Доступ запрещён
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить номера ДТ за сборочными заданиями
      tags:
      - Идентификаторы маркировки Самовывоз
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
components:
  examples:
    NewOrderClick:
      value:
        orders:
        - ddate: 29.10.2024
          salePrice: 14000
          requiredMeta:
          - sgtin
          article: wb1702fyjh
          rid: 1234567673554519872.0.0
          createdAt: 2024-10-29T10:19:30Z
          warehouseAddress: "Москва, район Якиманка, Софийская набережная, 4 с1"
          orderCode: 23457822-6667
          payMode: prepaid
          skus:
          - "2041546265353"
          id: 1234567890
          warehouseId: 1234567
          nmId: 123456789
          chrtId: 987654321
          price: 14000
          finalPrice: 14000
          convertedPrice: 14000
          convertedFinalPrice: 14000
          currencyCode: 643
          convertedCurrencyCode: 643
          cargoType: 1
          isZeroOrder: false
          options:
            isB2b: true
    CustomsDeclarationResponse:
      value:
        requestId: 7849e1c4-d30e-4937-abe3-0e54e85874bd
        results:
        - orderId: 567891234
          isError: false
        - errors:
          - detail: InvalidOriginCountryCode
            code: 400
          orderId: 987654321
          isError: true
        - errors:
          - detail: OrderNotB2B
            code: 422
          orderId: 123456789
          isError: true
        - errors:
          - detail: StatusMismatch
            code: 409
          orderId: 543216789
          isError: true
    IncorrectRequestBody:
      value:
        code: IncorrectRequestBody
        message: Некорректное тело запроса
    InvalidPasscode:
      description: Введён неправильный проверочный код
      value:
        code: InvalidPasscode
    OrderNotFound:
      description: Заказ не найден
      value:
        code: NotFound
    IncorrectParameter:
      value:
        code: IncorrectParameter
        message: Передан некорректный параметр
  responses:
    "401":
      content:
        application/problem+json:
          example:
            title: unauthorized
            detail: "token problem; token is malformed: could not base64 decode signature:\
              \ illegal base64 data at input byte 84"
            code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
      description: Не авторизован
    "402":
      content:
        application/problem+json:
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance.
              please top up the balance in the company's personal account https://dev.wildberries.ru/company
          schema:
            $ref: "#/components/schemas/getV3ClickCollectOrdersNew_402_response"
      description: Требуется платёж
    "429":
      content:
        application/problem+json:
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/getV3ClickCollectOrdersNew_401_response"
      description: Слишком много запросов
    AccessDenied:
      content:
        application/json:
          example:
            code: AccessDenied
            message: Доступ запрещён
          schema:
            $ref: "#/components/schemas/Error"
      description: Доступ запрещён
    IncorrectRequest:
      content:
        application/json:
          example:
            detail: {}
            origin: market-public-api
            requestId: f1787bd2d1fdс35d6f537316514у4a05
            title: IncorrectRequest
          schema:
            $ref: "#/components/schemas/api.BatchError"
      description: Неправильный запрос
    AccessDeniedBatch:
      content:
        application/json:
          example:
            detail: {}
            origin: market-public-api
            requestId: f1787bd2d1fdс35d6f537316514у4a05
            title: AccessDenied
          schema:
            $ref: "#/components/schemas/api.BatchError"
      description: Доступ запрещён
  schemas:
    api.CheckedIdentity:
      example:
        ok: true
      properties:
        ok:
          description: |
            Принадлежит ли заказ покупателю:
              - `true` — принадлежит
              - `false` — значение не применяется. Если заказ не принадлежит покупателю, вы получите ответ со статус-кодом `409`
          type: boolean
      type: object
    Error:
      example:
        code: code
        message: message
        data: "{}"
      nullable: false
      properties:
        code:
          description: Код ошибки
          nullable: false
          type: string
        message:
          description: Описание ошибки
          nullable: false
          type: string
        data:
          description: "Дополнительные данные, обогащающие ошибку"
          nullable: true
          type: object
      type: object
    api.CheckIdentityRequest:
      example:
        orderCode: 170046918-0011
        passcode: "4567"
      properties:
        orderCode:
          description: Уникальный ID заказа покупателя
          type: string
        passcode:
          description: Код подтверждения
          type: string
      type: object
    api.Error:
      example:
        code: code
        data: "{}"
        message: message
      properties:
        code:
          type: string
        data:
          type: object
        message:
          type: string
      type: object
    api.NewOrder:
      example:
        ddate: ddate
        salePrice: 504600
        requiredMeta:
        - requiredMeta
        - requiredMeta
        article: article
        rid: rid
        createdAt: 2000-01-23T04:56:07.000+00:00
        warehouseAddress: warehouseAddress
        orderCode: orderCode
        payMode: prepaid
        skus:
        - skus
        - skus
        id: 0
        warehouseId: 6
        nmId: 1
        chrtId: 5
        price: 5
        finalPrice: 5000
        convertedPrice: 5000
        convertedFinalPrice: 5000
        currencyCode: 643
        convertedCurrencyCode: 643
        cargoType: 2
        isZeroOrder: true
        options:
          isB2b: true
      properties:
        ddate:
          description: Планируемая дата доставки
          type: string
        salePrice:
          description: |
            Цена продавца в валюте продажи с учётом скидки продавца, без учёта скидки WB Клуба, умноженная на 100. Предоставляется в информационных целях
          example: 504600
          nullable: true
          type: integer
        requiredMeta:
          description: |
            Список идентификаторов маркировки, доступных для сборочного задания
          items:
            type: string
          nullable: true
          type: array
        article:
          description: Артикул продавца
          type: string
        rid:
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
              - [Продажи](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1sales/get)
              - [Отчет о возвратах и перемещении товаров](./reports#tag/Otchyot-o-vozvratah-i-peremeshenii-tovarov)
              - [Детализации к отчётам реализации по ID отчётов](./financial-reports-and-accounting#tag/financialReports/operation/postV1SalesReportsDetailedReportId)
              - [Детализации к отчётам реализации за период](./financial-reports-and-accounting#tag/financialReports/operation/postV1SalesReportsDetailed)
              - [Детализации к отчётам об издержках на приём платежей по ID отчётов](./financial-reports-and-accounting#tag/financialReports/operation/postV1AcquiringDetailedReportId)
              - [Детализации к отчётам об издержках на приём платежей за период](./financial-reports-and-accounting#tag/financialReports/operation/postV1AcquiringDetailed)
          type: string
        createdAt:
          description: Дата и время создания сборочного задания
          format: date-time
          type: string
        warehouseAddress:
          description: |
            Адрес магазина (склада продавца), на который поступило сборочное
            задание
          type: string
        orderCode:
          description: |
            Уникальный ID заказа покупателя
          type: string
        payMode:
          description: |
            Режим оплаты:
              - `prepaid` — предоплатный
              - `postpaid` — постоплатный
              - `unknown` — неизвестный
          example: prepaid
          type: string
        skus:
          description: Массив баркодов товара
          items:
            type: string
          type: array
        id:
          description: ID сборочного задания
          type: integer
        warehouseId:
          description: |
            ID склада продавца, на который поступило сборочное
            задание
          type: integer
        nmId:
          description: Артикул WB
          type: integer
        chrtId:
          description: ID размера товара в системе WB
          type: integer
        price:
          description: |
            Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100.
            Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
        finalPrice:
          description: "Сумма к оплате покупателем в валюте продажи с учетом всех\
            \ скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`.\
            \ Предоставляется в информационных целях"
          example: 5000
          type: integer
        convertedPrice:
          description: "Цена в валюте страны продавца с учетом всех скидок, кроме\
            \ скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан\
            \ в поле `currencyCode`. Предоставляется в информационных целях"
          example: 5000
          type: integer
        convertedFinalPrice:
          description: "Сумма к оплате покупателем в валюте страны продавца с учет\
            ом всех скидок, умноженная на 100. Предоставляется в информационных це\
            лях"
          example: 5000
          type: integer
        currencyCode:
          description: Код валюты продажи
          example: 643
          format: ISO 4217
          type: integer
        convertedCurrencyCode:
          description: Код валюты страны продавца
          example: 643
          format: ISO 4217
          type: integer
        cargoType:
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
          - 1
          - 2
          - 3
          nullable: false
          type: integer
        isZeroOrder:
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          type: boolean
        options:
          $ref: "#/components/schemas/api_NewOrder_options"
      type: object
    api.NewOrders:
      example:
        orders:
        - ddate: ddate
          salePrice: 504600
          requiredMeta:
          - requiredMeta
          - requiredMeta
          article: article
          rid: rid
          createdAt: 2000-01-23T04:56:07.000+00:00
          warehouseAddress: warehouseAddress
          orderCode: orderCode
          payMode: prepaid
          skus:
          - skus
          - skus
          id: 0
          warehouseId: 6
          nmId: 1
          chrtId: 5
          price: 5
          finalPrice: 5000
          convertedPrice: 5000
          convertedFinalPrice: 5000
          currencyCode: 643
          convertedCurrencyCode: 643
          cargoType: 2
          isZeroOrder: true
          options:
            isB2b: true
        - ddate: ddate
          salePrice: 504600
          requiredMeta:
          - requiredMeta
          - requiredMeta
          article: article
          rid: rid
          createdAt: 2000-01-23T04:56:07.000+00:00
          warehouseAddress: warehouseAddress
          orderCode: orderCode
          payMode: prepaid
          skus:
          - skus
          - skus
          id: 0
          warehouseId: 6
          nmId: 1
          chrtId: 5
          price: 5
          finalPrice: 5000
          convertedPrice: 5000
          convertedFinalPrice: 5000
          currencyCode: 643
          convertedCurrencyCode: 643
          cargoType: 2
          isZeroOrder: true
          options:
            isB2b: true
      properties:
        orders:
          description: Список сборочных заданий
          items:
            $ref: "#/components/schemas/api.NewOrder"
          type: array
      type: object
    api.Order:
      example:
        article: wb6scpbwvp
        cargoType: 1
        chrtId: 12345676
        createdAt: 2025-03-21T09:53:31Z
        price: 5000
        finalPrice: 5000
        convertedPrice: 5000
        convertedFinalPrice: 5000
        currencyCode: 643
        convertedCurrencyCode: 643
        id: 123456789
        isZeroOrder: false
        nmId: 1234567898765
        orderCode: 21117866-0006
        payMode: prepaid
        rid: 5044304527347733263.0.0
        skus:
        - "2043227963145"
        warehouseAddress: "Москва, район Якиманка, Софийская набережная, 4 с1"
        warehouseId: 1162157
        options:
          isB2b: false
      properties:
        article:
          description: Артикул продавца
          example: wb6scpbwvp
          type: string
        cargoType:
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
          - 1
          - 2
          - 3
          example: 1
          nullable: false
          type: integer
        chrtId:
          description: ID размера товара в системе WB
          example: 12345676
          type: integer
        createdAt:
          description: Дата и время создания сборочного задания
          example: 2025-03-21T09:53:31Z
          format: date-time
          type: string
        price:
          description: |
            Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100.
            Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          example: 5000
          type: integer
        finalPrice:
          description: "Сумма к оплате покупателем в валюте продажи с учетом всех\
            \ скидок, умноженная на 100. Код валюты продажи указан в поле `currencyCode`.\
            \ Предоставляется в информационных целях"
          example: 5000
          type: integer
        convertedPrice:
          description: "Цена в валюте страны продавца с учетом всех скидок, кроме\
            \ скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан\
            \ в поле `currencyCode`. Предоставляется в информационных целях"
          example: 5000
          type: integer
        convertedFinalPrice:
          description: "Сумма к оплате покупателем в валюте страны продавца с учет\
            ом всех скидок, умноженная на 100. Предоставляется в информационных це\
            лях"
          example: 5000
          type: integer
        currencyCode:
          description: Код валюты продажи
          example: 643
          format: ISO 4217
          type: integer
        convertedCurrencyCode:
          description: Код валюты страны продавца
          example: 643
          format: ISO 4217
          type: integer
        id:
          description: ID сборочного задания
          example: 123456789
          type: integer
        isZeroOrder:
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
          type: boolean
        nmId:
          description: Артикул WB
          example: 1234567898765
          type: integer
        orderCode:
          description: |
            Уникальный ID заказа покупателя
          example: 21117866-0006
          type: string
        payMode:
          description: |
            Режим оплаты:
              - `prepaid` — предоплатный
              - `postpaid` — постоплатный
              - `unknown` — неизвестный
          example: prepaid
          type: string
        rid:
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/Vozvraty-pokupatelyami/paths/~1api~1v1~1claims/get)
              - [Заказы](./reports#tag/Osnovnye-otchyoty/paths/~1api~1v1~1supplier~1orders/get)
[...]
