openapi: 3.0.1
info:
  description: |
    <div class="description_important">
      Узнать больше об аналитике и данных можно в <a href="https://seller.wildberries.ru/instructions/ru/ru/subcategory/seller-analytics">справочном центре</a>
    </div>

    <div class="api-block">

    В разделе описаны методы получения:
      1. [Воронки продаж](/openapi/analytics#tag/salesFunnel)
      2. [Ленты заказов](/openapi/analytics#tag/orderFeed)
      3. [Поисковых запросов по вашим товарам](/openapi/analytics#tag/searchQueriesForYourItems)
      4. [Истории остатков](/openapi/analytics#tag/stocksReport)
      5. [Оценки товара](/openapi/analytics#tag/itemRating)
      6. [Аналитики продавца в формате CSV](/openapi/analytics#tag/sellerAnalyticsCsv)

    </div>
  title: Аналитика и данные
  version: analytics
  x-file-name: analytics
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Воронка продаж
  x-displayName: Воронка продаж
- description: ""
  name: Лента заказов
  x-displayName: Лента заказов
- description: ""
  name: Поисковые запросы по вашим товарам
  x-displayName: Поисковые запросы по вашим товарам
- description: ""
  name: История остатков
  x-displayName: История остатков
- description: ""
  name: Оценка товара
  x-displayName: Оценка товара
- description: ""
  name: Аналитика продавца CSV
  x-displayName: Аналитика продавца CSV
paths:
  /api/analytics/v3/sales-funnel/products:
    post:
      description: |
        Метод формирует отчёт о товарах, сравнивая ключевые показатели за текущий период с аналогичным прошлым.<br><br>

        Данные отчёта обновляются 1 раз в час.<br><br>

        В течение часа после события появляется большая часть данных:
          - о заказах
          - о переходах в карточку товара
          - о добавлениях товаров в корзину

        Малая часть этих данных может появляться в течение нескольких дней.<br><br>

        Выкупы, отмены и возвраты отображаются в отчёте за тот день, когда товар был заказан. Например, если заказ был сделан 1 января, а покупатель вернул товар 10 января, данные об этом возврате появятся в отчёте за 1 января.<br>
        Окончательные итоги продаж вы можете отслеживать с помощью [детализаций к отчётам реализации](/openapi/financial-reports-and-accounting#tag/financialReports).<br><br>

        Параметры `brandNames`,`subjectIds`, `tagIds`, `nmIds` могут быть пустыми `[]`, тогда в ответе возвращаются все карточки продавца.<br><br>

        Если вы указали несколько параметров, в ответе будут карточки, в которых есть одновременно все эти параметры. Если карточки не подходят по параметрам запроса, вернётся пустой ответ `[]`.<br><br>

        Можно получить отчёт максимум за последние 365 дней.<br><br>

        В данных предыдущего периода:
          * Данные в `pastPeriod` указаны за такой же период, что и в `selectedPeriod`
          * Если дата начала  `pastPeriod` раньше, чем год назад от текущей даты, она будет приведена к виду: `pastPeriod.start = текущая дата — 365 дней`

        Можно использовать пагинацию.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      operationId: postV3SalesFunnelProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: "code=400, message=invalid: positionCluster (field required),\
                      \ internal=invalid: positionCluster (field required)"
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/ErrorObject"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/ErrorObject"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Статистика карточек товаров за период
      tags:
      - Воронка продаж
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/analytics/v3/sales-funnel/products/history:
    post:
      description: |
        Метод возвращает статистику карточек товаров по дням или неделям.<br>
        Можно получить данные максимум за последнюю неделю.<br><br>

        Данные отчёта обновляются 1 раз в час.<br><br>

        В течение часа после события появляется большая часть данных:
          - о заказах
          - о переходах в карточку товара
          - о добавлениях товаров в корзину

        Малая часть этих данных может появляться в течение нескольких дней.<br><br>

        Выкупы, отмены и возвраты отображаются в отчёте за тот день, когда товар был заказан. Например, если заказ был сделан 1 января, а покупатель вернул товар 10 января, данные об этом возврате появятся в отчёте за 1 января.<br>
        Окончательные итоги продаж вы можете отслеживать с помощью [детализаций к отчётам реализации](/openapi/financial-reports-and-accounting#tag/financialReports).

        <div class="description_important">
          Чтобы получать отчёты за период до года, используйте методы <a href="/openapi/analytics#tag/sellerAnalyticsCsv">Аналитика продавца CSV</a> — тип <code>DETAIL_HISTORY_REPORT</code>. Отчёты этого типа доступны только с подпиской <a href='https://seller.wildberries.ru/monetization/jam'>Джем</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      operationId: postV3SalesFunnelProductsHistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemHistoryRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemHistoryResponse"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: "code=400, message=invalid: positionCluster (field required),\
                      \ internal=invalid: positionCluster (field required)"
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/ErrorObject"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/ErrorObject"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Статистика карточек товаров по дням
      tags:
      - Воронка продаж
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/analytics/v3/sales-funnel/grouped/history:
    post:
      description: |
        Метод возвращает статистику карточек товаров по дням или неделям.<br>
        Карточки товаров сгруппированы по предметам, брендам и ярлыкам.<br>
        Можно получить данные максимум за последнюю неделю.<br><br>

        Данные отчёта обновляются 1 раз в час.<br><br>

        В течение часа после события появляется большая часть данных:
          - о заказах
          - о переходах в карточку товара
          - о добавлениях товаров в корзину

        Малая часть этих данных может появляться в течение нескольких дней.<br><br>

        Выкупы, отмены и возвраты отображаются в отчёте за тот день, когда товар был заказан. Например, если заказ был сделан 1 января, а покупатель вернул товар 10 января, данные об этом возврате появятся в отчёте за 1 января.<br>
        Окончательные итоги продаж вы можете отслеживать с помощью [детализаций к отчётам реализации](/openapi/financial-reports-and-accounting#tag/financialReports).<br><br>

        Параметры `brandNames`, `subjectIds`, `tagIds` могут быть пустыми `[]`, тогда группировка происходит по всем карточкам продавца.<br><br>

        Произведение количества предметов, брендов, ярлыков в запросе может быть не больше 16. Например, 4 бренда и 4 предмета или 2 предмета, 2 ярлыка и 4 бренда.

        <div class="description_important">
          Чтобы получать отчёты за период до года, используйте методы <a href="/openapi/analytics#tag/sellerAnalyticsCsv">Аналитика продавца CSV</a> — тип <code>GROUPED_HISTORY_REPORT</code>. Отчёты этого типа доступны только с подпиской <a href='https://seller.wildberries.ru/monetization/jam'>Джем</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      operationId: postV3SalesFunnelGroupedHistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupedHistoryRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelGroupedHistory_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: "code=400, message=invalid: positionCluster (field required),\
                      \ internal=invalid: positionCluster (field required)"
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/ErrorObject"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/ErrorObject"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Статистика групп карточек товаров по дням
      tags:
      - Воронка продаж
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/nm-report/downloads:
    get:
      description: |
        Метод возвращает список отчётов с расширенной аналитикой продавца. Ответ содержит ID [созданных отчётов](/openapi/analytics#tag/sellerAnalyticsCsv/operation/postV2NmReportDownloads) и статусы генерации.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: getV2NmReportDownloads
      parameters:
      - description: ID отчёта
        explode: true
        in: query
        name: "filter[downloadIds]"
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NmReportGetReportsResponse"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: download id was not found
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/getV2NmReportDownloads_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/getV2NmReportDownloads_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить список отчётов
      tags:
      - Аналитика продавца CSV
      x-readonly-method: true
      x-category: contentanalytics
    post:
      description: |
        Метод создаёт задание на генерацию отчёта с расширенной аналитикой продавца. <br><br>

        Вы можете создать CSV-версии отчётов по [воронке продаж](/openapi/analytics#tag/salesFunnel) или [параметрам поиска](/openapi/analytics#tag/searchQueriesForYourItems) с группировкой по:
          * артикулам WB
          * предметам, брендам и ярлыкам

        В отчётах по воронке продаж можно группировать данные по дням, неделям или месяцам.<br><br>

        Также можете создать CSV-версии отчётов по [текстам поисковых запросов](/openapi/analytics#tag/searchQueriesForYourItems/operation/postV2SearchReportProductSearchTexts) и [остаткам](/openapi/analytics#tag/stocksReport).<br><br>

        Каждый новый отчёт должен иметь уникальный ID.

        <div class="description_important">
          Не используйте одинаковые ID для разных отчётов — это может привести к ошибкам при генерации
        </div>

        Набор параметров запроса в объекте `params` зависит от типа отчёта. Чтобы получить описание параметров, выберите тип отчёта в раскрывающемся списке в описании параметра `reportType`.<br><br>

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Если не удалось [получить отчёт](/openapi/analytics#tag/sellerAnalyticsCsv/operation/getV2NmReportDownloadsFileDownloadId), можно создать [повторное задание на генерацию](/openapi/analytics#tag/sellerAnalyticsCsv/operation/postV2NmReportDownloadsRetry). Также можно [получить список и проверить статусы](/openapi/analytics#tag/sellerAnalyticsCsv/operation/getV2NmReportDownloads) отчётов.

        <div class="description_important">
          Отчёты по <a href="https://seller.wildberries.ru/content-analytics/history-remains">остаткам</a> — типы <code>STOCK_HISTORY_REPORT_CSV</code> и <code>STOCK_HISTORY_DAILY_CSV</code> — можно создать без подписки <a href="https://seller.wildberries.ru/monetization/jam">Джем</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: postV2NmReportDownloads
      requestBody:
        content:
          application/json:
            examples:
              SalesFunnelItemReq:
                description: Воронка продаж. По артикулам WB
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: DETAIL_HISTORY_REPORT
                  userReportName: Listing report
                  params:
                    nmIDs:
                    - 1234567
                    subjectIds:
                    - 1234567
                    brandNames:
                    - Name
                    tagIds:
                    - 1234567
                    startDate: 2024-06-21
                    endDate: 2024-06-23
                    timezone: Europe/Moscow
                    aggregationLevel: day
                    skipDeletedNm: false
              SalesFunnelGroupReq:
                description: "Воронка продаж. По предметам, брендам и ярлыкам"
                value:
                  id: 06eea887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: GROUPED_HISTORY_REPORT
                  userReportName: Subcategory report
                  params:
                    subjectIds:
                    - 1234567
                    brandNames:
                    - Name
                    tagIds:
                    - 1234567
                    startDate: 2024-06-21
                    endDate: 2024-06-23
                    timezone: Europe/Moscow
                    aggregationLevel: day
                    skipDeletedNm: false
              SearchReportGroupReq:
                description: "Отчёт по параметрам поиска. По предметам, брендам и\
                  \ ярлыкам"
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: SEARCH_QUERIES_PREMIUM_REPORT_GROUP
                  userReportName: Subcategory report
                  params:
                    currentPeriod:
                      start: 2024-02-10
                      end: 2024-02-10
                    pastPeriod:
                      start: 2024-02-08
                      end: 2024-02-08
                    nmIds:
                    - 162579635
                    - 166699779
                    subjectIds:
                    - 64
                    - 334
                    brandNames:
                    - nikkle
                    - abikas
                    tagIds:
                    - 32
                    - 53
                    orderBy:
                      field: avgPosition
                      mode: asc
                    positionCluster: all
                    includeSubstitutedSKUs: true
                    includeSearchTexts: false
              SearchReportItemReq:
                description: Отчёт по параметрам поиска. По артикулам WB
                value:
                  id: 06eea887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: SEARCH_QUERIES_PREMIUM_REPORT_PRODUCT
                  userReportName: Listing report
                  params:
                    currentPeriod:
                      start: 2024-02-10
                      end: 2024-02-10
                    pastPeriod:
                      start: 2024-02-08
                      end: 2024-02-08
                    subjectId: 123
                    brandName: Abble
                    tagId: 45
                    nmIds:
                    - 162579635
                    - 166699779
                    orderBy:
                      field: buyoutCount
                      mode: asc
                    positionCluster: all
                    includeSubstitutedSKUs: false
                    includeSearchTexts: true
              SearchReportTextReq:
                description: Отчёт по текстам поисковых запросов по вашим товарам
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: SEARCH_QUERIES_PREMIUM_REPORT_TEXT
                  userReportName: Subcategory report
                  params:
                    currentPeriod:
                      start: 2024-02-10
                      end: 2024-02-10
                    pastPeriod:
                      start: 2024-02-08
                      end: 2024-02-08
                    nmIds:
                    - 162579635
                    - 166699779
                    subjectIds:
                    - 64
                    - 334
                    brandNames:
                    - nikkle
                    - abikas
                    tagIds:
                    - 32
                    - 53
                    topOrderBy: openCard
                    orderBy:
                      field: avgPosition
                      mode: asc
                    includeSubstitutedSKUs: true
                    includeSearchTexts: true
                    limit: 50
              InventoryMetricsReportReq:
                description: Отчёт по статистике остатков
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: STOCK_HISTORY_REPORT_CSV
                  userReportName: Inventory report
                  params:
                    nmIDs:
                    - 111222333
                    - 444555666
                    subjectIDs:
                    - 123
                    - 456
                    brandNames:
                    - ЭгКа
                    - Stock
                    tagIDs:
                    - 3
                    - 4
                    - 5
                    currentPeriod:
                      start: 2024-02-10
                      end: 2024-02-10
                    stockType: mp
                    skipDeletedNm: true
                    availabilityFilters:
                    - deficient
                    - balanced
                    orderBy:
                      field: avgOrders
                      mode: asc
              InventoryHistoryReportReq:
                description: Отчёт по истории остатков
                value:
                  id: 06eae887-9d9f-491f-b16a-bb1766fcb8d2
                  reportType: STOCK_HISTORY_DAILY_CSV
                  userReportName: Inventory report
                  params:
                    nmIds:
                    - 111222333
                    - 444555666
                    subjectIds:
                    - 123
                    - 456
                    brandNames:
                    - ЭгКа
                    - Stock
                    tagIds:
                    - 3
                    - 4
                    - 5
                    currentPeriod:
                      start: 2025-12-13
                      end: 2025-12-15
                    stockType: ""
                    skipDeletedNm: true
            schema:
              $ref: "#/components/schemas/postV2NmReportDownloads_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NmReportCreateReportResponse"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: userReportName can not contain emojis
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/getV2NmReportDownloads_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/getV2NmReportDownloads_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV2NmReportDownloads_429_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Создать отчёт
      tags:
      - Аналитика продавца CSV
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/nm-report/downloads/retry:
    post:
      description: |
        Метод создает повторное [задание на генерацию](/openapi/analytics#tag/sellerAnalyticsCsv/operation/postV2NmReportDownloads) отчёта с расширенной аналитикой продавца. Необходимо, если при генерации отчёта вы [получили статус](/openapi/analytics#tag/sellerAnalyticsCsv/operation/getV2NmReportDownloads) `FAILED`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: postV2NmReportDownloadsRetry
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NmReportRetryReportRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NmReportRetryReportResponse"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: invalid download id
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/getV2NmReportDownloads_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/getV2NmReportDownloads_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Сгенерировать отчёт повторно
      tags:
      - Аналитика продавца CSV
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/nm-report/downloads/file/{downloadId}:
    get:
      description: |
        Метод возвращает отчёт с расширенной аналитикой продавца по ID [задания на генерацию](/openapi/analytics#tag/sellerAnalyticsCsv/operation/postV2NmReportDownloads).
        <br><br>
        Можно получить отчёт, который сгенерирован за последние 48 часов.<br>Отчёт будет загружен внутри архива ZIP в формате CSV.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: getV2NmReportDownloadsFileDownloadId
      parameters:
      - description: ID отчёта
        explode: false
        in: path
        name: downloadId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/zip:
              examples:
                SalesFunnelItemRes:
                  $ref: "#/components/examples/SalesFunnelItemRes"
                SalesFunnelGroupRes:
                  $ref: "#/components/examples/SalesFunnelGroupRes"
                SearchReportGroupRes:
                  $ref: "#/components/examples/SearchReportGroupRes"
                SearchReportItemRes:
                  $ref: "#/components/examples/SearchReportItemRes"
                SearchReportTextRes:
                  $ref: "#/components/examples/SearchReportTextRes"
                InventoryMetricsReportRes:
                  $ref: "#/components/examples/InventoryMetricsReportRes"
                InventoryHistoryReportRes:
                  $ref: "#/components/examples/InventoryHistoryReportRes"
              schema:
                description: "Описание полей в файле CSV:\n<br>\n<br>\n**Воронка п\
                  родаж** — `DETAIL_HISTORY_REPORT` по артикулам WB и `GROUPED_HISTORY_REPORT`\
                  \ по предметам, брендам и ярлыкам\n\n| Имя | Тип | Формат | Опис\
                  ание |\n|-----------------| --- | --- | --- |\n| nmID (только дл\
                  я `DETAIL_HISTORY_REPORT`) | integer | int32 | Артикул WB |\n| dt\
                  \ | string | date | Дата |\n| openCardCount | integer | int32 |\
                  \ Переходы в карточку товара |\n| addToCartCount | integer | int32\
                  \ | Положили в корзину, шт. |\n| ordersCount | integer | int32 |\
                  \ Заказали товаров, шт. |\n| ordersSumRub | integer | int32 | За\
                  казали на сумму |\n| buyoutsCount | integer | int32 | Выкупили т\
                  оваров, шт. |\n| buyoutsSumRub | integer | int32 | Выкупили на с\
                  умму |\n| cancelCount | integer | int32 | Отменили и вернули тов\
                  аров, шт. |\n| cancelSumRub | integer | int32 | Отменили и верну\
                  ли на сумму |\n| addToCartConversion | number | int32 | Конверси\
                  я в корзину, % (Какой процент посетителей, открывших карточку то\
                  вара, добавили товар в корзину) |\n| cartToOrderConversion | integer\
                  \ | int32 | Конверсия в заказ, % (Какой процент посетителей, доб\
                  авивших товар в корзину, сделали заказ) |\n| buyoutPercent | integer\
                  \ | int32 | Процент выкупа, % (Какой процент посетителей, заказа\
                  вших товар, его выкупили. Без учёта товаров, которые еще доставл\
                  яются покупателю) |\n| addToWishlist | integer | int32 | Добавил\
                  и в **Отложенные**|\n| currency | string | string | Валюта отчёт\
                  а |\n\n\n**Отчёт по параметрам поиска. По предметам, брендам и я\
                  рлыкам** — `SEARCH_QUERIES_PREMIUM_REPORT_GROUP`\n\n| Имя | Поле\
                  \ | Формат | Описание |\n|-----------------| --- | --- | --- |\n\
                  | SubjectName |\tstring | string | Название предмета |\n| SubjectID\
                  \ | integer | int32 | ID предмета |\n| BrandName | string | string\
                  \  | Бренд |\n| TagID | integer | int64 | ID ярлыка |\n| AveragePosition\
                  \ | integer | uint64 | Средняя позиция в поиске в текущий период\
                  \ |\n| OpenCard | integer | uint64 | Количество переходов в карт\
                  очку товара из поиска в текущий период |\n| AddToCart | integer\
                  \ | uint64 | Количество добавлений товара в корзину из поиска в\
                  \ текущий период |\n| OpenToCart | integer | uint64 |\tКонверсия\
                  \ в корзину из поиска в текущий период |\n| Orders | integer | uint64\
                  \ | Заказали товар из поиска в текущий период |\n| CartToOrder |\
                  \ integer | uint64 | Конверсия в заказ из поиска в текущий перио\
                  д |\n| Visibility | integer | uint64 | Видимость товара в поиске\
                  \ в текущий период. Процент вероятности, что пользователь увидит\
                  \ карточку товара. Зависит от средней позиции |\n| AveragePositionPast\
                  \ | integer | uint64 | Средняя позиция в поиске в предыдущий пер\
                  иод (заполняется, если указан прошлый период) |\n| OpenCardPast\
                  \ | integer | uint64 | Количество переходов в карточку товара из\
                  \ поиска в предыдущий период (заполняется, если указан прошлый п\
                  ериод) |\n| AddToCartPast | integer | uint64 | Количество добавл\
                  ений товара в корзину из поиска в предыдущий период (заполняется\
                  , если указан прошлый период) |\n| OpenToCartPast | integer | uint64\
                  \ | Конверсия в корзину из поиска в предыдущий период (заполняет\
                  ся, если указан прошлый период) |\n| OrdersPast | integer | uint64\
                  \ | Заказали товар из поиска в предыдущий период (заполняется, е\
                  сли указан прошлый период) |\n| CartToOrderPast | integer | uint64\
                  \ | Конверсия в заказ из поиска в предыдущий период (заполняется\
                  , если указан прошлый период) |\n| VisibilityPast | integer | uint64\
                  \ | Видимость товара в поиске в предыдущий период. Процент вероя\
                  тности, что пользователь увидит карточку товара. Зависит от сред\
                  ней позиции (заполняется, если указан прошлый период), % |\n\n\n\
                  **Отчёт по параметрам поиска. По артикулам WB** — `SEARCH_QUERIES_PREMIUM_REPORT_PRODUCT`\n\
                  \n| Имя | Поле | Формат | Описание |\n|-----------------| --- |\
                  \ --- | --- |\n| NmID | integer | int64 | Артикул WB |\n| VendorCode\
                  \ | string | string | Артикул продавца |\n| Name | string\t| string\
                  \ | Название товара |\n| SubjectName | string\t| string | Назван\
                  ие предмета |\n| BrandName | string | string  | Бренд |\n| IsAdvertised\
                  \ | boolean | bool\t| Рекламируется ли товар |\n| IsRated | boolean\
                  \ | bool | Есть ли возможность оценить качество карточки товара\
                  \ |\n| Rating | float | float64 | Рейтинг карточки товара |\n| FeedbackRating\
                  \ | float | float64 | Рейтинг по отзывам |\n| MinPrice | integer\
                  \ | uint64 | Минимальная цена продавца со скидкой продавца (без\
                  \ учёта скидки WB Клуба |\n| MaxPrice | integer | uint64 | Макси\
                  мальная цена продавца со скидкой продавца (без учёта скидки WB К\
                  луба) |\n| AveragePosition | integer | uint64 | Средняя позиция\
                  \ товара в поиске в текущий период |\n| OpenCard | integer | uint64\
                  \ | Количество переходов в карточку товара из поиска в текущий п\
                  ериод |\n| AddToCart | integer | uint64 | Количество добавлений\
                  \ товара в корзину из поиска в текущий период |\n| OpenToCart |\
                  \ integer | uint64 | Конверсия в корзину из поиска в текущий пер\
                  иод |\n| Orders | integer | uint64 | Заказали товар из поиска в\
                  \ текущий период |\n| CartToOrder | integer | uint64 | Конверсия\
                  \ в заказ из поиска в текущий период |\n| Visibility | integer |\
                  \ uint64 | Видимость товара в поиске в текущий период. Процент в\
                  ероятности, что пользователь увидит карточку товара. Зависит от\
                  \ средней позиции |\n| AveragePositionPast | integer | uint64 |\
                  \ Средняя позиция товара в поиске в предыдущий период (заполняет\
                  ся, если указан прошлый период) |\n| OpenCardPast | integer | uint64\
                  \ | Количество переходов в карточку товара из поиска в предыдущи\
                  й период (заполняется, если указан прошлый период) |\n| AddToCartPast\
                  \ | integer | uint64 | Количество добавлений товара в корзину из\
                  \ поиска в предыдущий период (заполняется, если указан прошлый п\
                  ериод) |\n| OpenToCartPast | integer | uint64 | Конверсия в корз\
                  ину из поиска в предыдущий период (заполняется, если указан прош\
                  лый период) |\n| OrdersPast | integer | uint64 | Заказали товар\
                  \ из поиска в предыдущий период (заполняется, если указан прошлы\
                  й период) |\n| CartToOrderPast | integer | uint64 | Конверсия в\
                  \ заказ из поиска в предыдущий период (заполняется, если указан\
                  \ прошлый период) |\n| VisibilityPast | integer | uint64 | Видим\
                  ость товара в поиске в предыдущий период. Процент вероятности, ч\
                  то пользователь увидит карточку товара. Зависит от средней позиц\
                  ии (заполняется, если указан прошлый период), % |\n| IsSubstitutedSKU\
                  \ | boolean | bool | Искали ли товар по подменному артикулу. Буд\
                  ет в ответе при наличии в запросе `includeSubstitutedSKUs` и/или\
                  \ `includeSearchTexts` |\n| Currency | string | string | Валюта\
                  \ отчёта |\n\n\n**Отчёт по текстам поисковых запросов по вашим т\
                  оварам** — `SEARCH_QUERIES_PREMIUM_REPORT_TEXT`\n\n| Имя | Поле\
                  \ | Формат | Описание |\n|-----------------| --- | --- | --- |\n\
                  | Text | string\t| string | Текст поискового запроса |\n| NmID |\
                  \ integer | int64 | Артикул WB |\n| SubjectName | string\t| string\
                  \ | Название предмета |\n| BrandName | string | string  | Бренд\
                  \ |\n| VendorCode | string | string | Артикул продавца |\n| Name\
                  \ | string\t| string | Название товара |\n| Rating | float | float64\
                  \ | Рейтинг карточки товара. Если рейтинг отсутствует, то значен\
                  ие будет `no rating` |\n| FeedbackRating | float | float64 | Рей\
                  тинг по отзывам |\n| MinPrice | integer | uint64 | Минимальная ц\
                  ена продавца со скидкой продавца (без учёта скидки WB Клуба) |\n\
                  | MaxPrice | integer | uint64 | Максимальная цена продавца со ск\
                  идкой продавца (без учёта скидки WB Клуба) |\n| Frequency | integer\
                  \ | uint64 | Количество обращений с поисковым запросом в текущий\
                  \ период |\n| MedianPosition | float | float64 | Медианная позиц\
                  ия товара в поиске в текущий период. Учитываются только те позиц\
                  ии, из которых пользователи добавляли товар в корзину или перехо\
                  дили в его карточку. Серединное значение позиции в поисковой выд\
                  аче, которое исключает сильные отклонения данных от среднего зна\
                  чения |\n| AveragePosition | integer | uint64 | Средняя позиция\
                  \ товара в поиске в текущий период. Учитываются только те позици\
                  и, из которых пользователи добавляли товар в корзину или переход\
                  или в его карточку |\n| OpenCard | integer | uint64 | Количество\
                  \ открытий карточки товара из поисковой выдачи в текущий период\
                  \ |\n| OpenCardPercentile | float | float64 | Процент, на которы\
                  й показатель количества открытий карточки товара выше, чем у кар\
                  точек других продавцов по поисковому запросу |\n| AddToCart | integer\
                  \ | uint64 | Количество добавлений товара в корзину из поисковой\
                  \ выдачи в текущий период |\n| AddToCartPercentile | float | float64\
                  \ | Процент, на который показатель добавлений в корзину выше, че\
                  м у карточек других продавцов по поисковому запросу |\n| OpenToCart\
                  \ | integer | uint64 | Конверсия в корзину из поиска в текущий п\
                  ериод, % |\n| OpenToCartPercentile\t| float\t| float64\t| Процен\
                  т, на который показатель конверсии в корзину выше, чем у карточе\
                  к других продавцов по поисковому запросу |\n| Orders | integer |\
                  \ uint64 | Заказали товар из поиска в текущий период |\n| OrdersPercentile\
                  \ | float | float64 | Процент, на который показатель заказов выш\
                  е, чем у карточек других продавцов по поисковому запросу |\n| CartToOrder\
                  \ | integer | uint64 | Конверсия в заказ из поиска в текущий пер\
                  иод, % |\n| CartToOrderPercentile | float | float64 | Процент, н\
                  а который показатель конверсии в заказ выше, чем у карточек друг\
                  их продавцов по поисковому запросу |\n| Visibility | integer | uint64\
                  \ | Видимость товара в поиске в текущий период. Процент вероятно\
                  сти, что пользователь увидит карточку товара. Зависит от средней\
                  \ позиции |\n| FrequencyPast | integer | uint64 | Количество обр\
                  ащений с поисковым запросом за предыдущий период (заполняется, е\
                  сли указан прошлый период) |\n| MedianPositionPast | float | float64\
                  \ | Медианная позиция товара в поиске за предыдущий период (запо\
                  лняется, если указан прошлый период) |\n| AveragePositionPast |\
                  \ integer | uint64 | Средняя позиция товара в поиске в предыдущи\
                  й период (заполняется, если указан прошлый период) |\n| OpenCardPast\
                  \ | integer | uint64 | Количество открытий карточки товара из по\
                  исковой выдачи в предыдущий период (заполняется, если указан про\
                  шлый период) |\n| AddToCartPast | integer | uint64 | Количество\
                  \ добавлений товара в корзину в предыдущий период (заполняется,\
                  \ если указан прошлый период) |\n| OpenToCartPast | integer | uint64\
                  \ | Конверсия в корзину из поиска в предыдущий период (заполняет\
                  ся, если указан прошлый период) |\n| OrdersPast | integer | uint64\
                  \ | Заказали товар из поиска в предыдущий период (заполняется, е\
                  сли указан прошлый период) |\n| CartToOrderPast | integer | uint64\
                  \ | Конверсия в заказ из поиска в предыдущий период (заполняется\
                  , если указан прошлый период), % |\n| VisibilityPast | integer |\
                  \ uint64 | Видимость товара в поиске в предыдущий период. Процен\
                  т вероятности, что пользователь увидит карточку товара. Зависит\
                  \ от средней позиции (заполняется, если указан прошлый период),\
                  \ % |\n| Currency | string | string | Валюта отчёта |\n\n\n**Отч\
                  ёт по статистике остатков** — `STOCK_HISTORY_REPORT_CSV`\n\n| Им\
                  я | Поле | Формат | Описание |\n|-----------------| --- | --- |\
                  \ --- |\n| VendorCode | string | string | Артикул продавца |\n|\
                  \ Name | string\t| string | Название товара |\n| NmID | integer\
                  \ | int64 | Артикул WB |\n| SubjectName | string\t| string | Наз\
                  вание предмета |\n| BrandName | string | string  | Бренд |\n| SizeName\
                  \ | string\t| string | Название размера |\n| ChrtID | integer |\
                  \ int64 | ID размера |\n| RegionName | string\t| string | Регион\
                  \ отгрузки. Для складов продавца значение в строках будет `Марке\
                  тплейс`, так как данные по складам продавца приходят в агрегиров\
                  анном виде — по всем сразу, без детализации по конкретным склада\
                  м |\n| OfficeName | string\t| string | Название склада. Для скла\
                  дов продавца значение в строках будет `Маркетплейс`, так как дан\
                  ные по складам продавца приходят в агрегированном виде — по всем\
                  \ сразу, без детализации по конкретным складам |\n| Availability\
                  \ | string\t| enum | Доступность товара |\n| OrdersCount | integer\t\
                  | uint64 | Заказы, шт. |\n| OrdersSum | integer\t| uint64 | Зака\
                  зы, сумма |\n| BuyoutCount | integer\t| uint64 | Выкупы, шт. |\n\
                  | BuyoutSum | integer\t| uint64 | Выкупы, сумма |\n| BuyoutPercent\
                  \ | integer\t| uint32 | Процент выкупа |\n| AvgOrders | number\t\
                  | float64 | Среднее количество заказов в день |\n| StockCount |\
                  \ integer\t| uint64 | Остатки на текущий день, шт. |\n| StockSum\
                  \ | integer\t| uint64 | Стоимость остатков на текущий день |\n|\
                  \ SaleRate | integer\t| int32 | Оборачиваемость текущих остатков\
                  \ в часах |\n| AvgStockTurnover | integer\t| int32 | Оборачиваем\
                  ость средних остатков в часах |\n| ToClientCount | integer\t| uint64\
                  \ | В пути к клиенту, шт. |\n| FromClientCount | integer\t| uint64\
                  \ | В пути от клиента, шт. |\n| Price | integer\t| uint64 | Теку\
                  щая цена продавца со скидкой продавца (без учёта скидки WB Клуба\
                  ) |\n| OfficeMissingTime | integer\t| int32 | Время отсутствия т\
                  овара на складе в часах |\n| LostOrdersCount | number\t| float64\
                  \ | Упущенные заказы, шт. |\n| LostOrdersSum | number\t| float64\
                  \ | Упущенные заказы, сумма |\n| LostBuyoutsCount | number\t| float64\
                  \ | Упущенные выкупы, шт. |\n| LostBuyoutsSum | number\t| float64\
                  \ | Упущенные выкупы, сумма |\n| AvgOrdersByMonth_MM.YYYY | number\t\
                  | float64 | Среднее количество заказов по месяцам. Столбцы форми\
                  руются динамически в зависимости от переданного текущего периода\
                  . Каждому месяцу текущего периода соответствует один столбец. В\
                  \ случае, если товар не существовал на момент конкретного месяца\
                  , то значение будет пропущено |\n| Currency | string | string |\
                  \ Валюта отчёта |\n\n\n**Отчёт по истории остатков** — `STOCK_HISTORY_DAILY_CSV\
                  \ `\n\n| Имя | Поле | Формат | Описание |\n|-----------------| ---\
                  \ | --- | --- |\n| VendorCode | string | string | Артикул продав\
                  ца |\n| Name | string\t| string | Название товара |\n| NmID | integer\
                  \ | int64 | Артикул WB |\n| SubjectName | string\t| string | Наз\
                  вание предмета |\n| BrandName | string | string  | Бренд |\n| SizeName\
                  \ | string\t| string | Название размера |\n| ChrtID | integer |\
                  \ int64 | ID размера |\n| OfficeName | string\t| string | Назван\
                  ие склада. Для складов продавца значение в строках будет `Маркет\
                  плейс`, так как данные по складам продавца приходят в агрегирова\
                  нном виде — по всем сразу, без детализации по конкретным складам\
                  \ |\n| DD.MM.YYYY | integer| uint64 | Остаток по состоянию на 23:59\
                  \ дня в заголовке. Столбцы формируются динамически в зависимости\
                  \ от переданного в запросе периода. Каждому дню периода соответс\
                  твует один столбец. Если товара не было в конкретный день, значе\
                  ние будет пропущено |\n"
                format: binary
                type: string
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Invalid request body
                    detail: check correctness of download id
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/getV2NmReportDownloads_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              examples:
                errorExample:
                  value:
                    title: Authorization error
                    detail: Authorization error
                    requestId: 51b7828b-e298-4dfa-b7cd-45ab179921d3
                    origin: analytics-open-api
              schema:
                $ref: "#/components/schemas/getV2NmReportDownloads_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить отчёт
      tags:
      - Аналитика продавца CSV
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/search-report/report:
    post:
      description: |
        Метод формирует набор данных для основной страницы отчёта по поисковым запросам с:
         - общей информацией
         - позициями товаров
         - данными по видимости и переходам в карточку
         - данными для таблицы по группам

        Для получения дополнительных данных в таблице используйте отдельный запрос для:
         - [пагинации по группам](/openapi/analytics#tag/searchQueriesForYourItems/operation/postV2SearchReportTableGroups)
         - [получения по товарам в группе](/openapi/analytics#tag/searchQueriesForYourItems/operation/postV2SearchReportTableDetails)

        Дополнительный параметр выбора списка товаров в таблице:
         - `positionCluster` — средняя позиция в поиске

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: postV2SearchReportReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MainRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV2SearchReportReport_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject403"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Основная страница
      tags:
      - Поисковые запросы по вашим товарам
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/search-report/table/groups:
    post:
      description: |
        Метод формирует дополнительные данные к [основному отчёту](/openapi/analytics#tag/searchQueriesForYourItems/operation/postV2SearchReportReport) с пагинацией по группам. Пагинация возможна только при наличии фильтра по бренду, предмету или ярлыку.<br><br>

        Дополнительный параметр выбора списка товаров в таблице:
         - `positionCluster` — средняя позиция в поиске

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: postV2SearchReportTableGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TableGroupRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV2SearchReportTableGroups_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject403"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Пагинация по группам
      tags:
      - Поисковые запросы по вашим товарам
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/search-report/table/details:
    post:
      description: |
        Метод формирует дополнительные данные к [основному отчёту](/openapi/analytics#tag/searchQueriesForYourItems/operation/postV2SearchReportReport) с пагинацией по товарам в группе. Пагинация возможна вне зависимости от наличия фильтров.<br><br>

        Фильтры для пагинации по товарам в группе или без фильтров:
         - кортеж `subjectId`,`brandName`,`tagId` — фильтр для группы
         - `nmIds` — фильтр по карточке товара

        Дополнительный параметр выбора списка товаров:
         - `positionCluster` — средняя позиция в поиске

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: postV2SearchReportTableDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TableDetailsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV2SearchReportTableDetails_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject403"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Пагинация по товарам в группе
      tags:
      - Поисковые запросы по вашим товарам
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/search-report/product/search-texts:
    post:
      description: |
        Метод формирует топ поисковых запросов по товару.

        Параметры выбора поисковых запросов:
         - `limit` — количество запросов, максимум 30. Для тарифов [Джема](https://seller.wildberries.ru/monetization/tariffs) **Продвинутый** и **Премиальный** максимум — 100.
         - `topOrderBy` — способ выбора топа запросов

        Параметры `includeSubstitutedSKUs` и `includeSearchTexts` не могут одновременно иметь значение `false`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: postV2SearchReportProductSearchTexts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemSearchTextsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV2SearchReportProductSearchTexts_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject403"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Поисковые запросы по товару
      tags:
      - Поисковые запросы по вашим товарам
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/search-report/product/orders:
    post:
      description: |
        Метод формирует данные для таблицы:
          - о заказах по каждому поисковому запросу для конкретного товара
          - о позициях товара в результатах поиска по каждому запросу

        Данные указаны в рамках периода для [запрошенного товара](/openapi/analytics#tag/searchQueriesForYourItems/operation/postV2SearchReportProductSearchTexts) и сгруппированы по дням. Максимальный период — 7 дней.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_important">
          Можно получить отчёт максимум за последние 365 дней с момента выполнения запроса
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: postV2SearchReportProductOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemOrdersRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV2SearchReportProductOrders_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject403"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Заказы и позиции по поисковым запросам товара
      tags:
      - Поисковые запросы по вашим товарам
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/analytics/v1/stocks-report/wb-warehouses:
    post:
      description: "\n<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API\"\
        >доступен</a> по\n        <strong>Персональному</strong> токену, \n      \
        \  <strong>Сервисному</strong> токену, \n        <strong>Базовому</strong>\
        \ токену <strong>с секретом</strong>\n</div>\n\nМетод возвращает текущие о\
        статки товаров на складах WB.\n<br><br>\nДанные обновляются 1 раз в 30 мин\
        ут.\n<br><br>\n1 строка ответа — данные об 1 размере товара на 1 складе WB.\n\
        \n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интерв\
        ал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 3 запроса | 20 сек |\
        \ 1 запрос |\n</div>\n"
      operationId: postV1StocksReportWbWarehouses
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV1StocksReportWbWarehouses_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject403"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Response403General"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Остатки на складах WB
      tags:
      - История остатков
      x-readonly-method: true
      x-category: contentanalytics
      x-token-types:
      - personal
      - service
      - base-with-secret
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/stocks-report/products/groups:
    post:
      description: |
        Метод формирует набор данных об остатках по группам товаров.
        <br><br>
        Группа товаров описывается кортежем `subjectID, brandName, tagID`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      operationId: postV2StocksReportProductsGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TableGroupRequestSt"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV2StocksReportProductsGroups_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject403"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Данные по группам
      tags:
      - История остатков
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/stocks-report/products/products:
    post:
      description: |
        Метод формирует набор данных об остатках по товарам.
        <br><br>
        Можно получить данные как по отдельным товарам, так и в рамках всего отчёта — если в запросе отсутствуют фильтры: `nmIDs`, `subjectID`, `brandName`, `tagID`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      operationId: postV2StocksReportProductsProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TableItemRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV2StocksReportProductsProducts_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject403"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Данные по товарам
      tags:
      - История остатков
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
  /api/v2/stocks-report/products/sizes:
    post:
      description: |
        Метод формирует набор данных об остатках по размерам товара.
        <br><br>
        Возможны случаи:
        1. Товар имеет размеры и `"includeOffice":true`, тогда в ответе будут данные об остатках по каждому из размеров с вложенной детализацией по складам.
        2. Товар имеет размеры и `"includeOffice":false`, тогда в ответе будут данные об остатках по каждому из размеров без вложенной детализации по складам.
        3. Товар не имеет размера и `"includeOffice":true`, тогда в ответе будет детализация по складам. Без данных об остатках по каждому из размеров.
        4. Товар не имеет размера и `"includeOffice":false`, тогда тело ответа будет пустым.<br></br>
        Товар не имеет размера, если у него единственный размер с `"techSize":"0"`. В ответах метода получения данных по [товарам](/openapi/analytics#tag/stocksReport/operation/postV2StocksReportProductsProducts) у таких товаров `"hasSizes":false`.<br></br>
        Данные по складам продавца приходят в агрегированном виде — по всем сразу, без детализации по конкретным складам — эти записи будут с `"regionName":"Маркетплейс"` и `"officeName":""`.<br><br>

        Данные отчёта обновляются 1 раз в час.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Сервисный | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый с секретом | 1 мин | 3 запроса | 20 сек | 3 запроса |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      operationId: postV2StocksReportProductsSizes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TableSizeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postV2StocksReportProductsSizes_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorObject403"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/postV3SalesFunnelProducts_401_response"
          description: Слишком много запросов
      summary: Данные по размерам
      tags:
      - История остатков
      x-readonly-method: true
      x-category: contentanalytics
    servers:
    - url: https://seller-analytics-api.wildberries.ru
[...]
