openapi: 3.0.1
info:
  description: |
    <div class="description_important">
      Узнать больше о документах и бухгалтерии можно в <a href="https://seller.wildberries.ru/instructions/category/ba929b64-1f89-4426-82d7-ce998ee552bd?goBackOption=prevRoute&categoryId=3c971375-9939-45e8-ab82-376019be8942">справочном центре</a>
    </div>

    <div class="api-block">

    Просмотр [баланса](/openapi/financial-reports-and-accounting#tag/Balans), [финансовых отчётов](/openapi/financial-reports-and-accounting#tag/Finansovye-otchyoty) и [документов](/openapi/financial-reports-and-accounting#tag/Dokumenty) продавца.

    </div>
  title: Документы и бухгалтерия
  version: finances
  x-file-name: finances
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Баланс
- description: ""
  name: Финансовые отчёты
- description: ""
  name: Документы
paths:
  /api/v1/account/balance:
    get:
      description: |
        Метод возвращает данные виджета баланса на [главной странице](https://seller.wildberries.ru) портала продавцов.
        <br><br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 24 ч | 1 запрос | 24 ч | 1 запрос |
        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_200_response"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить баланс продавца
      tags:
      - Баланс
      x-readonly-method: true
      x-category: finance
    servers:
    - url: https://finance-api.wildberries.ru
  /api/finance/v1/sales-reports/list:
    post:
      description: "\n<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API\"\
        >доступен</a> по\n        <strong>Персональному</strong> токену, \n      \
        \  <strong>Сервисному</strong> токену\n</div>\n\nМетод возвращает список о\
        тчётов релизации по формату [таблицы отчётов](https://seller.wildberries.ru/suppliers-mutual-settlements).\n\
        <br><br>\nДанные доступны с 1 января 2025 года.\n\n<div class=\"description_limit\"\
        >\n<a href=\"/openapi/api-information#tag/Vvedenie/Limity-zaprosov\">Лимит\
        \ запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал |\
        \ Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 1 запрос | 1 мин | 1 зап\
        рос |\n</div>\n"
      operationId: postV1SalesReportsList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesReportListReq"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SalesReportListRes"
                type: array
          description: Успешно
        "204":
          description: Нет данных
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/postV1SalesReportsList_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список отчётов реализации
      tags:
      - Финансовые отчёты
      x-readonly-method: true
      x-category: finance
      x-token-types:
      - personal
      - service
    servers:
    - url: https://finance-api.wildberries.ru
  /api/finance/v1/sales-reports/detailed/{reportId}:
    post:
      description: "\n<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API\"\
        >доступен</a> по\n        <strong>Персональному</strong> токену, \n      \
        \  <strong>Сервисному</strong> токену\n</div>\n\nМетод возвращает детализа\
        ции к [отчётам реализации](https://seller.wildberries.ru/suppliers-mutual-settlements)\
        \ по ID отчётов.\n<br><br>\nДанные доступны с 1 января 2025 года.\n\n<div\
        \ class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Vvedenie/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интерв\
        ал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 1 запрос | 1 мин | 1\
        \ запрос |\n</div>\n"
      operationId: postV1SalesReportsDetailedReportId
      parameters:
      - description: "ID отчёта.<br>Для ежедневных отчётов вместо стандартной десе\
          риализации рекомендуем использовать нестандартные библиотеки с поддержко\
          й [BigInt](https://www.npmjs.com/package/json-bigint)"
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinancialReportsDetailedReportIdReq"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SalesReportsDetailedRes"
                type: array
          description: Успешно
        "204":
          description: Нет данных
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/postV1SalesReportsList_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Детализации к отчётам реализации по ID отчётов
      tags:
      - Финансовые отчёты
      x-readonly-method: true
      x-category: finance
      x-token-types:
      - personal
      - service
    servers:
    - url: https://finance-api.wildberries.ru
  /api/finance/v1/sales-reports/detailed:
    post:
      description: |
        Метод возвращает детализации к [отчётам реализации](https://seller.wildberries.ru/suppliers-mutual-settlements) за указанный период.
        <br><br>
        Данные доступны с 29 января 2024 года.

        <div class="description_important">
          Вы можете выгрузить данные в <a href="https://dev.wildberries.ru/knowledge-base/articles/019d49a4-650c-7b04-9596-ba441936f9d3">Google Таблицы</a>
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 1 запрос |
        | Базовый | 24 ч | 2 запроса | 12 ч | 1 запрос |
        </div>
      operationId: postV1SalesReportsDetailed
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SalesReportsDetailedReq"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SalesReportsDetailedRes"
                type: array
          description: Успешно
        "204":
          description: Нет данных
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/postV1SalesReportsList_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Детализации к отчётам реализации за период
      tags:
      - Финансовые отчёты
      x-readonly-method: true
      x-category: finance
    servers:
    - url: https://finance-api.wildberries.ru
  /api/v5/supplier/reportDetailByPeriod:
    get:
      deprecated: true
      description: |
        Данный метод устарел. Он будет удалён [15 июля](https://dev.wildberries.ru/release-notes?id=498).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый | 24 ч | 2 запроса | 12 ч | 1 запрос |
        </div>
      parameters:
      - description: |
          Начальная дата отчёта.<br>
          Дата в формате RFC3339. Можно передать дату или дату со временем.
          Время можно указывать с точностью до секунд или миллисекунд. <br>
          Время передаётся в часовом поясе Москва (UTC+3).
          <br>Примеры:
            - `2019-06-20`
            - `2019-06-20T23:59:59`
            - `2019-06-20T00:00:00.12345`
            - `2017-03-25T00:00:00`
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Конечная дата отчёта
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: Количество строк в ответе
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100000
          maximum: 100000
          type: integer
        style: form
      - description: |
          Уникальный ID строки отчёта. Необходим для получения отчёта частями.
          <br>
          Загрузку отчёта нужно начинать с `rrdid = 0` и при последующих вызовах API передавать в запросе значение `rrd_id` из последней строки, полученной в результате предыдущего вызова.
          <br>
          Таким образом, для загрузки одного отчёта может понадобиться вызывать API до тех пор, пока не вернётся ответ 204.
        explode: true
        in: query
        name: rrdid
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: |
          Периодичность отчётов:
            - `weekly` — еженедельные
            - `daily` — ежедневные
        explode: true
        in: query
        name: period
        required: false
        schema:
          default: weekly
          enum:
          - weekly
          - daily
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DetailReportItem"
                type: array
          description: Успешно
        "204":
          description: Нет данных
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/postV1SalesReportsList_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Отчёт о продажах по реализации
      tags:
      - Финансовые отчёты
      x-readonly-method: true
      x-category: statistics
    servers:
    - description: |
        **Prod**
      url: https://statistics-api.wildberries.ru
    - description: |
        **Sandbox**
      url: https://statistics-api-sandbox.wildberries.ru
  /api/finance/v1/acquiring/list:
    post:
      description: "\n<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API\"\
        >доступен</a> по\n        <strong>Персональному</strong> токену, \n      \
        \  <strong>Сервисному</strong> токену\n</div>\n\nМетод возвращает список о\
        тчётов об издержках на приём платежей по формату [таблицы отчётов](https://seller.wildberries.ru/suppliers-mutual-settlements/reports-implementations/acquiring-reports).\n\
        \n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Vvedenie/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интерв\
        ал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 1 запрос | 1 мин | 1\
        \ запрос |\n</div>\n"
      operationId: postV1AcquiringList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcquiringReportListReq"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AcquiringReportListRes"
                type: array
          description: Успешно
        "204":
          description: Нет данных
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/postV1SalesReportsList_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список отчётов об издержках на приём платежей
      tags:
      - Финансовые отчёты
      x-readonly-method: true
      x-category: finance
      x-token-types:
      - personal
      - service
    servers:
    - url: https://finance-api.wildberries.ru
  /api/finance/v1/acquiring/detailed/{reportId}:
    post:
      description: "\n<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API\"\
        >доступен</a> по\n        <strong>Персональному</strong> токену, \n      \
        \  <strong>Сервисному</strong> токену\n</div>\n\nМетод возвращает детализа\
        ции к [отчётам об издержках на приём платежей](https://seller.wildberries.ru/suppliers-mutual-settlements/reports-implementations/acquiring-reports)\
        \ по ID отчётов.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Vvedenie/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интерв\
        ал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 1 запрос | 1 мин | 1\
        \ запрос |\n</div>\n"
      operationId: postV1AcquiringDetailedReportId
      parameters:
      - description: ID отчёта
        explode: false
        in: path
        name: reportId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinancialReportsDetailedReportIdReq"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AcquiringReportsDetailedRes"
                type: array
          description: Успешно
        "204":
          description: Нет данных
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/postV1SalesReportsList_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Детализации к отчётам об издержках на приём платежей по ID отчётов
      tags:
      - Финансовые отчёты
      x-readonly-method: true
      x-category: finance
      x-token-types:
      - personal
      - service
    servers:
    - url: https://finance-api.wildberries.ru
  /api/finance/v1/acquiring/detailed:
    post:
      description: "\n<div class=\"description_token\">\n    Метод <a href=\"/openapi/api-information#tag/Avtorizaciya/Pravila-ispolzovaniya-tokenov-dostupa-k-API\"\
        >доступен</a> по\n        <strong>Персональному</strong> токену, \n      \
        \  <strong>Сервисному</strong> токену\n</div>\n\nМетод возвращает детализа\
        ции к [отчётам об издержках на приём платежей](https://seller.wildberries.ru/suppliers-mutual-settlements/reports-implementations/acquiring-reports)\
        \ за указанный период.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/Vvedenie/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интерв\
        ал | Всплеск |\n| --- | --- | --- | --- |\n| 1 мин | 1 запрос | 1 мин | 1\
        \ запрос |\n</div>\n"
      operationId: postV1AcquiringDetailed
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcquiringReportsDetailedReq"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AcquiringReportsDetailedRes"
                type: array
          description: Успешно
        "204":
          description: Нет данных
        "400":
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/postV1SalesReportsList_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Детализации к отчётам об издержках на приём платежей за период
      tags:
      - Финансовые отчёты
      x-readonly-method: true
      x-category: finance
      x-token-types:
      - personal
      - service
    servers:
    - url: https://finance-api.wildberries.ru
  /api/v1/documents/categories:
    get:
      description: |
        Метод возвращает категории документов для получения [списка документов продавца](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1list/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Сервисный | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Базовый с секретом | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Базовый | 24 ч | 1 запрос | 24 ч | 1 запрос |
        </div>
      parameters:
      - description: |
          Язык поля `title`:
            - `ru` — русский
            - `en` — английский
            - `zh` — китайский
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: ru
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCategories"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Категории документов
      tags:
      - Документы
      x-readonly-method: true
      x-category: documents
    servers:
    - url: https://documents-api.wildberries.ru
  /api/v1/documents/list:
    get:
      description: |
        Метод возвращает список документов продавца. Вы можете получить [один](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1download/get) или [несколько](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1download~1all/post) документов из полученного списка.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Сервисный | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Базовый с секретом | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Базовый | 24 ч | 1 запрос | 24 ч | 1 запрос |
        </div>
      parameters:
      - description: |
          Язык поля `category`:
            - `ru` — русский
            - `en` — английский
            - `zh` — китайский
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          example: ru
          type: string
        style: form
      - description: Начало периода. Только вместе с `endTime`
        explode: true
        in: query
        name: beginTime
        required: false
        schema:
          example: 2024-07-09
          format: date
          type: string
        style: form
      - description: Конец периода. Только вместе с `beginTime`
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          example: 2024-07-15
          format: date
          type: string
        style: form
      - description: |
          Сортировка:
            - `date` — по дате создания документа
            - `category` — по категории (только при `locale=ru`)

          Только вместе с `order`
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: date
          enum:
          - date
          - category
          example: category
          type: string
        style: form
      - description: |
          Сортировка:
            - `desc` — по убыванию
            - `asc` — по возрастанию

          Только вместе с `sort`
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - desc
          - asc
          example: asc
          type: string
        style: form
      - description: "ID [категории документов](./financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1categories/get)\
          \ из поля `name`"
        explode: true
        in: query
        name: category
        required: false
        schema:
          example: redeem-notification
          type: string
        style: form
      - description: Уникальный ID документа
        explode: true
        in: query
        name: serviceName
        required: false
        schema:
          example: redeem-notification-44841941
          type: string
        style: form
      - description: Максимальное количество строк ответа
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          example: 10
          maximum: 50
          type: integer
        style: form
      - description: После какой строки выдавать данные
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 90
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetList"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                BadSort&Orders:
                  description: Параметры sort и order нельзя указывать по отдельности
                  value:
                    title: Bad Request
                    status: 400
                    detail: sort and order must be both set or both not set
                    requestId: 41fc3b08-051d-4871-9991-6502977912ad
                    origin: docs-public-api
                BadLimit:
                  description: Превышено допустимое значение параметра limit
                  value:
                    title: Bad Request
                    status: 400
                    detail: limit must be less than or equal to 50
                    requestId: 46ce9c17-4b74-46ed-abb1-e40d2b0d52ce
                    origin: docs-public-api
              schema:
                $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Список документов
      tags:
      - Документы
      x-readonly-method: true
      x-category: documents
    servers:
    - url: https://documents-api.wildberries.ru
  /api/v1/documents/download:
    get:
      description: |
        Метод загружает один документ из [списка документов продавца](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1list/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Сервисный | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Базовый с секретом | 10 сек | 1 запрос | 10 сек | 5 запросов |
        | Базовый | 24 ч | 1 запрос | 24 ч | 1 запрос |
        </div>
      parameters:
      - description: Уникальный ID документа
        explode: true
        in: query
        name: serviceName
        required: true
        schema:
          example: redeem-notification-44841941
          type: string
        style: form
      - description: Формат документа
        explode: true
        in: query
        name: extension
        required: true
        schema:
          example: zip
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDoc"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                title: Bad Request
                status: 400
                detail: serviceName and extension are required
                requestId: 7c500a19-f531-4639-b0a4-53d6d296c349
                origin: docs-public-api
              schema:
                $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить документ
      tags:
      - Документы
      x-readonly-method: true
      x-category: documents
    servers:
    - url: https://documents-api.wildberries.ru
  /api/v1/documents/download/all:
    post:
      description: |
        Метод загружает несколько документов из [списка документов продавца](/openapi/financial-reports-and-accounting#tag/Dokumenty/paths/~1api~1v1~1documents~1list/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 5 мин | 1 запрос | 5 мин | 5 запросов |
        | Сервисный | 5 мин | 1 запрос | 5 мин | 5 запросов |
        | Базовый с секретом | 5 мин | 1 запрос | 5 мин | 5 запросов |
        | Базовый | 24 ч | 1 запрос | 24 ч | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              params:
              - extension: zip
                serviceName: redeem-notification-44841941
              - extension: xlsx
                serviceName: act-income-mp-392460936
            schema:
              $ref: "#/components/schemas/requestDownload"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDocs"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                badRequestBodyElement:
                  description: Некорректное тело запроса
                  value:
                    title: Bad Request
                    status: 400
                    detail: request body must contain at least one element with serviceName
                      and extension
                    requestId: 6c364410-625c-4493-a434-8cbe79dfbf18
                    origin: docs-public-api
                badRequestBodyElementCount:
                  description: Превышено количество запрашиваемых документов
                  value:
                    title: Bad Request
                    status: 400
                    detail: documents count must be less than or equal to 50
                    requestId: 0cf25b67-865e-4126-b971-1ff2e17fe84a
                    origin: docs-public-api
              schema:
                $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить документы
      tags:
      - Документы
      x-readonly-method: true
      x-category: documents
    servers:
    - url: https://documents-api.wildberries.ru
components:
  parameters:
    LocaleCat:
      description: |
        Язык поля `title`:
          - `ru` — русский
          - `en` — английский
          - `zh` — китайский
      explode: true
      in: query
      name: locale
      required: false
      schema:
        default: en
        example: ru
        type: string
      style: form
    LocaleList:
      description: |
        Язык поля `category`:
          - `ru` — русский
          - `en` — английский
          - `zh` — китайский
      explode: true
      in: query
      name: locale
      required: false
      schema:
        default: en
        example: ru
        type: string
      style: form
  responses:
    "401":
      content:
        application/problem+json:
          example:
            title: unauthorized
            detail: "token problem; token is malformed: could not base64 decode signature:\
              \ illegal base64 data at input byte 84"
            code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
      description: Не авторизован
    "402":
      content:
        application/problem+json:
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance.
              please top up the balance in the company's personal account https://dev.wildberries.ru/company
          schema:
            $ref: "#/components/schemas/_api_v1_account_balance_get_402_response"
      description: Требуется платёж
    "429":
      content:
        application/problem+json:
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/_api_v1_account_balance_get_401_response"
      description: Слишком много запросов
    response400FinancialReports:
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/postV1SalesReportsList_400_response"
      description: Неправильный запрос
    Responses400List:
      content:
        application/json:
          examples:
            BadSort&Orders:
              description: Параметры sort и order нельзя указывать по отдельности
              value:
                title: Bad Request
                status: 400
                detail: sort and order must be both set or both not set
                requestId: 41fc3b08-051d-4871-9991-6502977912ad
                origin: docs-public-api
            BadLimit:
              description: Превышено допустимое значение параметра limit
              value:
                title: Bad Request
                status: 400
                detail: limit must be less than or equal to 50
                requestId: 46ce9c17-4b74-46ed-abb1-e40d2b0d52ce
                origin: docs-public-api
          schema:
            $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
      description: Неправильный запрос
    Responses400Download:
      content:
        application/json:
          example:
            title: Bad Request
            status: 400
            detail: serviceName and extension are required
            requestId: 7c500a19-f531-4639-b0a4-53d6d296c349
            origin: docs-public-api
          schema:
            $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
      description: Неправильный запрос
    Responses400DownloadAll:
      content:
        application/json:
          examples:
            badRequestBodyElement:
              description: Некорректное тело запроса
              value:
                title: Bad Request
                status: 400
                detail: request body must contain at least one element with serviceName
                  and extension
                requestId: 6c364410-625c-4493-a434-8cbe79dfbf18
                origin: docs-public-api
            badRequestBodyElementCount:
              description: Превышено количество запрашиваемых документов
              value:
                title: Bad Request
                status: 400
                detail: documents count must be less than or equal to 50
                requestId: 0cf25b67-865e-4126-b971-1ff2e17fe84a
                origin: docs-public-api
          schema:
            $ref: "#/components/schemas/_api_v1_documents_list_get_400_response"
      description: Неправильный запрос
  schemas:
    requestDownload:
      properties:
        params:
          items:
            $ref: "#/components/schemas/requestDownload_params_inner"
          maxItems: 50
          minItems: 1
          type: array
      type: object
    GetCategories:
      example:
        data:
          categories:
          - name: redeem-notification
            title: Уведомление о выкупе
          - name: redeem-notification
            title: Уведомление о выкупе
      properties:
        data:
          $ref: "#/components/schemas/GetCategories_data"
    GetList:
      example:
        data:
          documents:
          - serviceName: redeem-notification-44841941
            name: redeem-notification
            category: Уведомление о выкупе
            extensions:
            - zip
            - zip
            creationTime: 2023-10-03T00:18:06.879Z
            viewed: false
          - serviceName: redeem-notification-44841941
            name: redeem-notification
            category: Уведомление о выкупе
            extensions:
            - zip
            - zip
            creationTime: 2023-10-03T00:18:06.879Z
            viewed: false
      properties:
        data:
          $ref: "#/components/schemas/GetList_data"
    GetDoc:
      example:
        data:
          fileName: Notice of redemption 44841941.zip
          extension: zip
          document: UEsDBBQACAgIAAAAAAAAAAAAAAAAAAAAAABHAAAA0KPQstC10LTQvtC80LvQtdC90LjQtSDQviDQstGL0LrRg9C/0LUg4oSWNDQ4NDE5NDEg0L7RgiAyNS4wOS4yMDIzLnhsc3jsnQk0lP3f/0dEUiRkNwmVECI7o0WS7EklxprdkH2bKVkqISRkGSlkaxRlN2TPnmzJvu/Gzmz/Uz33fY/L8/Q8zrn/x/07565zcjrn9f1cn/V6f69v53zTVCWnYATtA+0DAX/Rg0AgM5ip5l2Yg5OwKeyu+Wl3O1vbcA3YV5FDVfPej2vXKptOK1V9LjycmPDG72uW4vcG9xdsOI1V2wj86sk6+4nHJeZ92NFgC/He3gmDlccFXSyumXYUGSKK4hLLsqu5aBTspu5lqlcGB/JNlQVn1Eumj6o8ZEWPRotEVGkH9/kf457totEKj2N2P4dSZWAIaC0ajy5J+VL5fen1YOhcGMxvvUw+XOKFOHL...LSL/tC77s0GzTi2iBuHorbMpcOaw0Hmsc/gpk7ty3/cdDYRmhkRUPAIC37P94CA8oiP/fIvpPK8n9l43YARWRgH/tI6E3ntD/nfOfPyj9jxxDwn+b8/8dZqBDQPjPNSAACJgBAAD21P9s/y8AAP//UEsHCFHrudyQEwAASxQAAFBLAQIUABQACAgIAAAAAACH4v2BaSgAAGNjAABHAAAAAAAAAAAAAAAAAAAAAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeFBLAQIUABQACAgIAAAAAADTmLxwRQcAAGAPAABLAAAAAAAAAAAAAAAAAN4oAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeC5zaWdQSwECFAAUAAgACAAAAAAAUeu53JATAABLFAAACAAAAAAAAAAAAAAAAACcMAAAbWNoZC56aXBQSwUGAAAAAAMAAwAkAQAAYkQAAAAA
      properties:
        data:
          $ref: "#/components/schemas/GetDoc_data"
    GetDocs:
      example:
        data:
          fileName: Notice of redemption 44841941.zip
          extension: zip
          document: UEsDBBQACAgIAAAAAAAAAAAAAAAAAAAAAABHAAAA0KPQstC10LTQvtC80LvQtdC90LjQtSDQviDQstGL0LrRg9C/0LUg4oSWNDQ4NDE5NDEg0L7RgiAyNS4wOS4yMDIzLnhsc3jsnQk0lP3f/0dEUiRkNwmVECI7o0WS7EklxprdkH2bKVkqISRkGSlkaxRlN2TPnmzJvu/Gzmz/Uz33fY/L8/Q8zrn/x/07565zcjrn9f1cn/V6f69v53zTVCWnYATtA+0DAX/Rg0AgM5ip5l2Yg5OwKeyu+Wl3O1vbcA3YV5FDVfPej2vXKptOK1V9LjycmPDG72uW4vcG9xdsOI1V2wj86sk6+4nHJeZ92NFgC/He3gmDlccFXSyumXYUGSKK4hLLsqu5aBTspu5lqlcGB/JNlQVn1Eumj6o8ZEWPRotEVGkH9/kf457totEKj2N2P4dSZWAIaC0ajy5J+VL5fen1YOhcGMxvvUw+XOKFOHL...LSL/tC77s0GzTi2iBuHorbMpcOaw0Hmsc/gpk7ty3/cdDYRmhkRUPAIC37P94CA8oiP/fIvpPK8n9l43YARWRgH/tI6E3ntD/nfOfPyj9jxxDwn+b8/8dZqBDQPjPNSAACJgBAAD21P9s/y8AAP//UEsHCFHrudyQEwAASxQAAFBLAQIUABQACAgIAAAAAACH4v2BaSgAAGNjAABHAAAAAAAAAAAAAAAAAAAAAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeFBLAQIUABQACAgIAAAAAADTmLxwRQcAAGAPAABLAAAAAAAAAAAAAAAAAN4oAADQo9Cy0LXQtNC+0LzQu9C10L3QuNC1INC+INCy0YvQutGD0L/QtSDihJY0NDg0MTk0MSDQvtGCIDI1LjA5LjIwMjMueGxzeC5zaWdQSwECFAAUAAgACAAAAAAAUeu53JATAABLFAAACAAAAAAAAAAAAAAAAACcMAAAbWNoZC56aXBQSwUGAAAAAAMAAwAkAQAAYkQAAAAA
      properties:
        data:
          $ref: "#/components/schemas/GetDoc_data"
    SalesReportListReq:
      description: Параметры запроса
      example:
        dateFrom: 2026-03-17
        dateTo: 2026-03-20
        limit: 211
        offset: 345
        period: daily
      properties:
        dateFrom:
          description: |
            Начальная дата отчёта.<br>Можно передать дату или дату со временем. Время можно указывать с точностью до секунд или миллисекунд.<br>Дата передаётся в формате [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339), время — в часовом поясе Москва `UTC+3`.<br>Примеры:
              - `2025-06-20`
              - `2025-06-20T23:59:59`
              - `2025-06-20T00:00:00.12345`
              - `2025-06-20T00:00:00`
          example: 2026-03-17
          type: string
        dateTo:
          description: |
            Конечная дата отчёта.<br>Дата в формате [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339). Можно передать дату или дату со временем. Время можно указывать с точностью до секунд или миллисекунд.<br>Время передаётся в часовом поясе Москва `UTC+3`.<br>Примеры:
              - `2025-06-20`
              - `2025-06-20T23:59:59`
              - `2025-06-20T00:00:00.12345`
              - `2025-06-20T00:00:00`
          example: 2026-03-20
          type: string
        limit:
          default: 1000
          description: Количество отчётов в ответе
          example: 211
          maximum: 1000
          type: integer
        offset:
          default: 0
          description: "Сколько элементов пропустить. Например, для значения `10`\
            \ ответ начнётся с 11 элемента"
          example: 345
          type: integer
        period:
          default: weekly
          description: |
            Периодичность отчётов:
              - `weekly` — еженедельные
              - `daily` — ежедневные
          enum:
          - daily
          - weekly
          example: daily
          type: string
      required:
      - dateFrom
      - dateTo
      type: object
    SalesReportListRes:
      description: Список отчётов реализации
      example:
        reportId: 307401554
        sellerFinanceName: ИП Кружинин В. Р.
        dateFrom: 2026-03-16
        dateTo: 2026-03-22
        createDate: 2026-03-23
        currency: RUB
        reportType: 1
        retailAmountSum: "258"
        forPaySum: "183.79"
        avgSalePercent: 0
        deliveryServiceSum: "2558.47"
        paidStorageSum: "626.84"
        paidAcceptanceSum: "243.81"
        deductionSum: "150"
        penaltySum: "1457.61"
        additionalPaymentSum: "9509.71"
        cashbackAmountSum: "2"
        cashbackDiscountSum: "19"
        cashbackCommissionChangeSum: "0.2"
        paymentSchedule: "-1"
        bankPaymentSum: "5172.94"
      properties:
        reportId:
          description: ID отчёта
          example: 307401554
          format: int64
          type: integer
        sellerFinanceName:
          description: Наименование продавца
          example: ИП Кружинин В. Р.
          type: string
        dateFrom:
          description: Дата начала отчётного периода
          example: 2026-03-16
          format: date
          type: string
        dateTo:
          description: Дата конца отчётного периода
          example: 2026-03-22
          format: date
          type: string
        createDate:
          description: Дата формирования отчёта
          example: 2026-03-23
          format: date
          type: string
        currency:
          description: Валюта отчёта
          example: RUB
          type: string
        reportType:
          description: |
            Тип отчёта:
              - `1` — основной
              - `2` — по выкупам
              - `3` — по выкупам для Грузии
          enum:
          - 1
          - 2
          - 3
          example: 1
          type: integer
        retailAmountSum:
          description: Продажа
          example: "258"
          type: string
        forPaySum:
          description: К перечислению за товар
          example: "183.79"
          type: string
        avgSalePercent:
          description: "Согласованная скидка, %"
          example: 0
          type: number
        deliveryServiceSum:
          description: Стоимость логистики
          example: "2558.47"
          type: string
        paidStorageSum:
          description: Стоимость хранения
          example: "626.84"
          type: string
        paidAcceptanceSum:
          description: Стоимость операций при приёмке
          example: "243.81"
          type: string
        deductionSum:
          description: Прочие удержания и выплаты
          example: "150"
          type: string
        penaltySum:
          description: Общая сумма штрафов
          example: "1457.61"
          type: string
        additionalPaymentSum:
          description: Корректировка Вознаграждения Вайлдберриз (ВВ)
          example: "9509.71"
          type: string
        cashbackAmountSum:
          description: "Сумма, удержанная за начисленные баллы программы лояльност\
            и"
          example: "2"
          type: string
        cashbackDiscountSum:
          description: Компенсация скидки по программе лояльности
          example: "19"
          type: string
        cashbackCommissionChangeSum:
          description: Стоимость участия в программе лояльности
          example: "0.2"
          type: string
        paymentSchedule:
          description: Разовое изменение срока перечисления денежных средств
          example: "-1"
          type: string
        bankPaymentSum:
          description: Итого к оплате
          example: "5172.94"
          type: string
      required:
      - additionalPaymentSum
      - avgSalePercent
      - bankPaymentSum
      - cashbackAmountSum
      - cashbackCommissionChangeSum
      - cashbackDiscountSum
      - createDate
      - currency
      - dateFrom
      - dateTo
      - deductionSum
      - deliveryServiceSum
      - forPaySum
      - paidAcceptanceSum
      - paidStorageSum
      - paymentSchedule
      - penaltySum
      - reportId
      - reportType
      - retailAmountSum
      - sellerFinanceName
      type: object
    FinancialReportsDetailedReportIdReq:
      description: Параметры запроса
      example:
        limit: 21100
        rrdId: 0
        fields:
        - rrdId
        - nmId
        - docTypeName
        - retailAmount
        - acquiringFee
        - srid
      properties:
        limit:
          default: 100000
          description: Количество строк в ответе
          example: 21100
          maximum: 100000
          type: integer
        rrdId:
          default: 0
          description: |
            ID строки ответа. Необходим для получения отчёта частями.<br>Начинайте загрузку отчёта с `"rrdid":0`. В последующих запросах передавайте значение `rrdId` из последней строки предыдущего ответа.<br>Повторяйте запрос, пока не получите ответ `204`
          type: integer
        fields:
          description: "Список полей, которые вернутся в ответе. Если параметр не\
            \ указан, возвращаются все поля"
          example:
          - rrdId
          - nmId
          - docTypeName
          - retailAmount
          - acquiringFee
          - srid
          items:
            type: string
          type: array
      type: object
    SalesReportsDetailedReq:
      description: Параметры запроса
      example:
        dateFrom: 2026-03-17
        dateTo: 2026-03-20
        limit: 21100
        rrdId: 0
        period: daily
        fields:
        - rrdId
        - nmId
        - docTypeName
        - retailAmount
        - acquiringFee
        - srid
      properties:
        dateFrom:
          description: |
            Начальная дата отчёта.<br>Можно передать дату или дату со временем. Время можно указывать с точностью до секунд или миллисекунд.<br>Дата передаётся в формате [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339), время — в часовом поясе Москва `UTC+3`.<br>Примеры:
              - `2025-06-20`
              - `2025-06-20T23:59:59`
              - `2025-06-20T00:00:00.12345`
              - `2025-06-20T00:00:00`
          example: 2026-03-17
          type: string
        dateTo:
          description: |
            Конечная дата отчёта.<br>Дата в формате [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339). Можно передать дату или дату со временем. Время можно указывать с точностью до секунд или миллисекунд.<br>Время передаётся в часовом поясе Москва `UTC+3`.<br>Примеры:
              - `2025-06-20`
              - `2025-06-20T23:59:59`
              - `2025-06-20T00:00:00.12345`
              - `2025-06-20T00:00:00`
          example: 2026-03-20
          type: string
        limit:
          default: 100000
          description: Количество строк в ответе
          example: 21100
          maximum: 100000
          type: integer
        rrdId:
          default: 0
          description: |
            ID строки ответа. Необходим для получения отчёта частями.<br>Начинайте загрузку отчёта с `"rrdid":0`. В последующих запросах передавайте значение `rrdId` из последней строки предыдущего ответа.<br>Повторяйте запрос, пока не получите ответ `204`
          type: integer
        period:
          default: weekly
          description: |
            Периодичность отчётов:
              - `weekly` — еженедельные
              - `daily` — ежедневные
          enum:
          - daily
          - weekly
          example: daily
          type: string
        fields:
          description: "Список полей, которые вернутся в ответе. Если параметр не\
            \ указан, возвращаются все поля"
          example:
          - rrdId
          - nmId
          - docTypeName
          - retailAmount
          - acquiringFee
          - srid
          items:
            type: string
          type: array
      required:
      - dateFrom
      - dateTo
      type: object
    SalesReportsDetailedRes:
      description: Детализации к отчётам реализации
      example:
        reportId: 1234567
        dateFrom: 2026-03-16
        dateTo: 2026-03-22
        createDate: 2026-03-23
        currency: RUB
        reportType: 1
        rrdId: 1232610467
        giId: 123456
        dlvPrc: 1.8
        fixTariffDateFrom: 2026-03-18
        fixTariffDateTo: 2026-03-19
        subjectName: Мини-печи
        nmId: 1234567
        brandName: BlahBlah
        vendorCode: MAB123
        title: ДС тарелка
        techSize: "0"
        sku: "1231312352310"
        docTypeName: Продажа
        quantity: 1
        retailPrice: "1249"
        retailAmount: "367"
        salePercent: 0
        commissionPercent: 24
        officeName: Коледино
        sellerOperName: Продажа
        orderDt: 2026-03-14T00:00:00Z
        saleDt: 2026-03-21T00:00:00Z
        rrDate: 2025-10-20
        shkId: 1239159661
        retailPriceWithDisc: "399.68"
        deliveryAmount: 0
        returnAmount: 0
        deliveryService: "0"
        giBoxTypeName: Монопаллета
        productDiscountForReport: 0
        sellerPromo: "0"
        spp: 25.31
        kvwBase: 24.15
        kvw: 1.81
        supRatingUp: 0.8008281904610115
        isKgvpV2: 6.027456183070403
        ppvzSalesCommission: "23.74"
        forPay: "376.99"
        ppvzReward: "0"
        acquiringFee: "14.89"
        acquiringPercent: 4.06
        paymentProcessing: Комиссия за организацию платежа с НДС
        acquiringBank: Тинькофф
        vw: "22.25"
        vwNds: "4.45"
        ppvzOfficeName: Москва Москва Очаковское шоссе 6к2
        ppvzOfficeId: 105383
        ppvzSupplierName: ИП Жасмин
        ppvzSupplierInn: "010101010101"
        declarationNumber: ""
        bonusTypeName: Штраф МП. Невыполненный заказ (отмена клиентом после недовоза)
        stickerId: "1964038895"
        country: Россия
        srvDbs: true
        penalty: "231.35"
        additionalPayment: "0"
        rebillLogisticCost: "1.349"
        rebillLogisticOrg: ИП Иванов Иван Иванович(123456789012)
        paidStorage: "12647.29"
        deduction: "6354"
        paidAcceptance: "865"
        orderId: 2816993144
        kiz: "0102900000376311210G2CIS?ehge)S\x1d91002A\x1d92F9Qof4FDo/31Icm14kmtuVYQzLypxm3HWkC1vQ/+pVVjm1dNAth1laFMoAGn7yEMWlTjxIe7lQnJqZ7TRZhlHQ=="
        isB2b: false
        trbxId: WB-TRBX-1234567
        installmentCofinancingAmount: "0"
        wibesDiscountPercent: 1
        cashbackAmount: "2"
        cashbackDiscount: "19"
        cashbackCommissionChange: "0.2"
        paymentSchedule: "-1"
        deliveryMethod: "FBS, (МГТ)"
        sellerPromoId: 14350
        sellerPromoDiscount: 3
        loyaltyId: 0
        loyaltyDiscount: 0
        uuidPromocode: ""
        salePricePromocodeDiscountPrc: 0
        articleSubstitution: ""
        salePriceAffiliatedDiscountPrc: 0
        agencyVat: 0
        salePriceWholesaleDiscountPrc: 0
        b2bCustomerTin: "010101010101"
        orderUid: id375f16c4bec295d9995393af803ff7b
        srid: 0f1c3999172603062979867564654dac5b702849
      properties:
        reportId:
          description: ID отчёта
          example: 1234567
          format: int64
          type: integer
        dateFrom:
          description: Дата начала отчётного периода
          example: 2026-03-16
          format: date
          type: string
        dateTo:
          description: Дата конца отчётного периода
          example: 2026-03-22
          format: date
          type: string
        createDate:
          description: Дата формирования отчёта
          example: 2026-03-23
          format: date
          type: string
        currency:
          description: Валюта отчёта
          example: RUB
          type: string
        reportType:
          description: |
            Тип отчёта:
              - `1` — основной
              - `2` — по выкупам
              - `3` — по выкупам для Грузии
          enum:
          - 1
          - 2
          - 3
          example: 1
          type: integer
        rrdId:
          description: ID строки
          example: 1232610467
          type: integer
        giId:
          description: ID поставки
          example: 123456
          type: integer
        dlvPrc:
          description: Фиксированный коэффициент склада по поставке
          example: 1.8
          type: number
        fixTariffDateFrom:
          description: Дата начала действия фиксации
          example: 2026-03-18
          format: date
          type: string
        fixTariffDateTo:
          description: Дата конца действия фиксации
          example: 2026-03-19
          format: date
          type: string
        subjectName:
          description: Предмет
          example: Мини-печи
          type: string
        nmId:
          description: Артикул WB
          example: 1234567
          type: integer
        brandName:
          description: Бренд
          example: BlahBlah
          type: string
        vendorCode:
          description: Артикул продавца
          example: MAB123
          type: string
        title:
          description: Название товара
          example: ДС тарелка
          type: string
        techSize:
          description: Размер
          example: "0"
          type: string
        sku:
          description: Баркод
          example: "1231312352310"
          type: string
        docTypeName:
          description: Тип документа
          example: Продажа
          type: string
        quantity:
          description: Количество
          example: 1
          type: integer
        retailPrice:
          description: Цена розничная
          example: "1249"
          type: string
        retailAmount:
          description: Вайлдберриз реализовал Товар (Пр)
          example: "367"
          type: string
        salePercent:
          description: "Согласованный продуктовый дисконт, %"
          example: 0
          type: integer
        commissionPercent:
          description: "Размер кВВ, %"
          example: 24
          type: number
        officeName:
          description: Склад
          example: Коледино
          type: string
        sellerOperName:
          description: Обоснование для оплаты
          example: Продажа
          type: string
        orderDt:
          description: Дата и время заказа
          example: 2026-03-14T00:00:00Z
          format: date-time
          type: string
        saleDt:
          description: Дата и время продажи
          example: 2026-03-21T00:00:00Z
          format: date-time
          type: string
        rrDate:
          description: Дата операции
          example: 2025-10-20
          format: date
          type: string
        shkId:
          description: Штрихкод
          example: 1239159661
          type: integer
        retailPriceWithDisc:
          description: Цена розничная с учётом согласованной скидки
          example: "399.68"
          type: string
        deliveryAmount:
          description: Количество доставок
          example: 0
          type: integer
        returnAmount:
          description: Количество возврата
          example: 0
          type: integer
        deliveryService:
          description: Услуги по доставке товара покупателю
          example: "0"
          type: string
        giBoxTypeName:
          description: Тип коробов
          example: Монопаллета
          type: string
        productDiscountForReport:
          description: "Итоговая согласованная скидка, %"
          example: 0
          type: number
        sellerPromo:
          description: "Промокод, %"
          example: "0"
          type: string
        spp:
          description: "Платформенные скидки, %"
          example: 25.31
          type: number
        kvwBase:
          description: "Размер кВВ без НДС, % базовый"
          example: 24.15
          type: number
        kvw:
          description: "Итоговый кВВ без НДС, %"
          example: 1.81
          type: number
        supRatingUp:
          description: "Размер снижения кВВ из-за рейтинга, %"
          type: number
        isKgvpV2:
          description: "Размер снижения кВВ из-за акции, %"
          type: number
        ppvzSalesCommission:
          description: "Вознаграждение с продаж до вычета услуг поверенного, без Н\
            ДС"
          example: "23.74"
          type: string
        forPay:
          description: К перечислению продавцу за реализованный товар
          example: "376.99"
          type: string
        ppvzReward:
          description: Возмещение за выдачу и возврат товаров на ПВЗ
          example: "0"
          type: string
        acquiringFee:
          description: Компенсация платёжных услуг/Комиссия за интеграцию платёжных
            сервисов
          example: "14.89"
          type: string
        acquiringPercent:
          description: "Размер компенсации платёжных услуг/Комиссии за интеграцию\
            \ платёжных сервисов, %"
          example: 4.06
          type: number
        paymentProcessing:
          description: "Тип платежа: компенсация платёжных услуг/Комиссия за интег\
            рацию платёжных сервисов"
          example: Комиссия за организацию платежа с НДС
          type: string
        acquiringBank:
          description: Наименование банка-эквайера
          example: Тинькофф
          type: string
        vw:
          description: "Вознаграждение Вайлдберриз (ВВ), без НДС"
          example: "22.25"
          type: string
        vwNds:
          description: НДС с вознаграждения Вайлдберриз
          example: "4.45"
          type: string
        ppvzOfficeName:
          description: Наименование офиса доставки
          example: Москва Москва Очаковское шоссе 6к2
          type: string
        ppvzOfficeId:
          description: ID офиса доставки
          example: 105383
          type: integer
        ppvzSupplierName:
          description: Партнёр
          example: ИП Жасмин
          type: string
        ppvzSupplierInn:
          description: ИНН партнёра
          example: "010101010101"
          type: string
        declarationNumber:
          description: Номер таможенной декларации
          example: ""
          type: string
        bonusTypeName:
          description: "Виды логистики, штрафов и корректировок ВВ"
          example: Штраф МП. Невыполненный заказ (отмена клиентом после недовоза)
          type: string
        stickerId:
          description: Стикер МП
          example: "1964038895"
          type: string
        country:
          description: Страна продажи
          example: Россия
          type: string
        srvDbs:
          description: Признак услуги платной доставки
          example: true
          type: boolean
        penalty:
          description: Общая сумма штрафов
          example: "231.35"
          type: string
        additionalPayment:
          description: Корректировка Вознаграждения Вайлдберриз (ВВ)
          example: "0"
          type: string
        rebillLogisticCost:
          description: Возмещение издержек по перевозке/по складским операциям с товаром
          example: "1.349"
          type: string
        rebillLogisticOrg:
          description: Организатор перевозки
          example: ИП Иванов Иван Иванович(123456789012)
          type: string
        paidStorage:
          description: Хранение
          example: "12647.29"
          type: string
        deduction:
          description: Удержания
          example: "6354"
          type: string
        paidAcceptance:
          description: Операции на приёмке
          example: "865"
          type: string
        orderId:
          description: ID сборочного задания
          example: 2816993144
          type: integer
        kiz:
          description: "Код маркировки [Честного знака](https://честныйзнак.рф/)"
          example: "0102900000376311210G2CIS?ehge)S\x1d91002A\x1d92F9Qof4FDo/31Icm14kmtuVYQzLypxm3HWkC1vQ/+pVVjm1dNAth1laFMoAGn7yEMWlTjxIe7lQnJqZ7TRZhlHQ=="
          type: string
        isB2b:
          description: Признак B2B-продажи
          example: false
          type: boolean
        trbxId:
          description: ID короба для обработки товара
          example: WB-TRBX-1234567
          type: string
        installmentCofinancingAmount:
          description: Скидка по программе софинансирования
          example: "0"
          type: string
        wibesDiscountPercent:
          description: "Скидка Wibes, %"
          example: 1
          type: number
        cashbackAmount:
          description: "Сумма, удержанная за начисленные баллы программы лояльност\
            и"
          example: "2"
          type: string
        cashbackDiscount:
          description: Компенсация скидки по программе лояльности
          example: "19"
          type: string
        cashbackCommissionChange:
          description: Стоимость участия в программе лояльности
          example: "0.2"
          type: string
        paymentSchedule:
          description: Разовое изменение срока перечисления денежных средств
          example: "-1"
          type: string
        deliveryMethod:
          description: Способ продажи и тип товара
          example: "FBS, (МГТ)"
          type: string
        sellerPromoId:
          description: ID собственной акции продавца с дополнительной скидкой
          example: 14350
          type: integer
        sellerPromoDiscount:
          description: "Размер дополнительной скидки по собственной акции продавца\
            , %"
          example: 3
          type: number
        loyaltyId:
          description: ID скидки лояльности от продавца
          example: 0
          type: integer
        loyaltyDiscount:
          description: "Размер скидки лояльности от продавца, %"
          example: 0
          type: number
        uuidPromocode:
          description: ID промокода
          example: ""
          type: string
        salePricePromocodeDiscountPrc:
          description: "Скидка за промокод, %"
          example: 0
          type: number
        articleSubstitution:
          description: ID подменного артикула
          example: ""
          type: string
        salePriceAffiliatedDiscountPrc:
          description: "Скидка по подменному артикулу, %"
          example: 0
          type: number
        agencyVat:
          description: |
            Удержание Агентского НДС, %.<br>Только для продавцов из Кыргызстана
          example: 0
          type: number
        salePriceWholesaleDiscountPrc:
          description: "Оптовая скидка для бизнеса, %"
          example: 0
          type: number
        b2bCustomerTin:
          description: ИНН B2B-покупателя
          example: "010101010101"
          type: string
        orderUid:
          description: |
            ID корзины заказа — транзакции.<br>Заказы в одной корзине покупателя будут иметь одинаковый `orderUid`
          example: id375f16c4bec295d9995393af803ff7b
          type: string
        srid:
          description: |
            ID заказа.<br>В ответах методов сборочных заданий [FBS](./orders-fbs#tag/Sborochnye-zadaniya-FBS), [DBW](./orders-dbw#tag/Sborochnye-zadaniya-DBW), [DBS](./orders-dbs#tag/Sborochnye-zadaniya-DBS) и [Самовывоз](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) `srid` равен `rid`
          example: 0f1c3999172603062979867564654dac5b702849
          type: string
      required:
      - acquiringBank
      - acquiringFee
      - acquiringPercent
      - additionalPayment
      - articleSubstitution
      - b2bCustomerTin
      - brandName
      - cashbackAmount
      - cashbackCommissionChange
      - cashbackDiscount
      - commissionPercent
      - country
      - createDate
      - currency
      - dateFrom
      - dateTo
      - declarationNumber
      - deduction
      - deliveryAmount
      - deliveryMethod
      - deliveryService
      - dlvPrc
      - docTypeName
      - fixTariffDateFrom
      - fixTariffDateTo
      - forPay
      - giBoxTypeName
      - giId
      - installmentCofinancingAmount
      - isB2b
      - isKgvpV2
      - kvw
      - kvwBase
      - loyaltyDiscount
      - loyaltyId
      - nmId
      - officeName
      - orderDt
      - orderId
      - orderUid
      - paidAcceptance
      - paidStorage
      - paymentProcessing
      - paymentSchedule
      - penalty
      - ppvzOfficeId
      - ppvzOfficeName
      - ppvzReward
      - ppvzSalesCommission
      - ppvzSupplierInn
      - ppvzSupplierName
      - productDiscountForReport
      - quantity
      - rebillLogisticCost
      - reportId
      - reportType
      - retailAmount
      - retailPrice
      - retailPriceWithDisc
      - returnAmount
      - rrDate
      - rrdId
      - saleDt
      - salePercent
      - salePriceAffiliatedDiscountPrc
      - salePricePromocodeDiscountPrc
      - salePriceWholesaleDiscountPrc
      - sellerOperName
      - sellerPromo
      - sellerPromoDiscount
      - sellerPromoId
      - shkId
      - sku
      - spp
      - srid
      - srvDbs
      - stickerId
      - subjectName
      - supRatingUp
      - techSize
      - title
      - trbxId
      - uuidPromocode
      - vendorCode
      - vw
      - vwNds
      - wibesDiscountPercent
      type: object
    AcquiringReportListReq:
      description: Параметры запроса
      example:
        dateFrom: 2026-03-17
        dateTo: 2026-03-20
        limit: 211
        offset: 345
      properties:
        dateFrom:
          description: |
            Начальная дата отчёта.<br>Можно передать дату или дату со временем. Время можно указывать с точностью до секунд или миллисекунд.<br>Дата передаётся в формате [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339), время — в часовом поясе Москва `UTC+3`.<br>Примеры:
              - `2025-06-20`
              - `2025-06-20T23:59:59`
              - `2025-06-20T00:00:00.12345`
              - `2025-06-20T00:00:00`
          example: 2026-03-17
          type: string
        dateTo:
          description: |
            Конечная дата отчёта.<br>Дата в формате [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339). Можно передать дату или дату со временем. Время можно указывать с точностью до секунд или миллисекунд.<br>Время передаётся в часовом поясе Москва `UTC+3`.<br>Примеры:
              - `2025-06-20`
              - `2025-06-20T23:59:59`
              - `2025-06-20T00:00:00.12345`
              - `2025-06-20T00:00:00`
          example: 2026-03-20
          type: string
        limit:
          default: 1000
          description: Количество отчётов в ответе
          example: 211
          maximum: 1000
          type: integer
        offset:
          default: 0
          description: "Сколько элементов пропустить. Например, для значения `10`\
            \ ответ начнётся с 11 элемента"
          example: 345
          type: integer
      required:
      - dateFrom
      - dateTo
      type: object
    AcquiringReportListRes:
      description: Список отчётов об издержках на приём платежей
      example:
        reportId: 307401554
        sellerFinanceName: ИП Кружинин В. Р.
        dateFrom: 2026-03-16
        dateTo: 2026-03-22
        createDate: 2026-03-31
        currency: RUB
        acquiringFeeSum: "258"
        acquiringFeeVatSum: "83.79"
      properties:
        reportId:
          description: ID отчёта
          example: 307401554
          format: int64
          type: integer
        sellerFinanceName:
          description: Наименование продавца
          example: ИП Кружинин В. Р.
          type: string
        dateFrom:
          description: Дата начала отчётного периода
          example: 2026-03-16
          format: date
          type: string
        dateTo:
          description: Дата конца отчётного периода
          example: 2026-03-22
          format: date
          type: string
        createDate:
          description: Дата формирования отчёта
          example: 2026-03-31
          format: date
          type: string
        currency:
          description: Валюта отчёта
          example: RUB
          type: string
        acquiringFeeSum:
          description: Сумма издержек по эквайрингу
          example: "258"
          type: string
        acquiringFeeVatSum:
          description: В том числе НДС
          example: "83.79"
          type: string
      required:
      - acquiringFeeSum
      - acquiringFeeVatSum
      - createDate
      - currency
      - dateFrom
      - dateTo
      - reportId
      - sellerFinanceName
      type: object
    AcquiringReportsDetailedReq:
      description: Параметры запроса
      example:
        dateFrom: 2026-03-17
        dateTo: 2026-03-20
        limit: 21100
        rrdId: 0
        fields:
        - rrdId
        - nmId
        - docTypeName
        - retailAmount
        - acquiringFee
        - srid
      properties:
        dateFrom:
          description: |
            Начальная дата отчёта.<br>Можно передать дату или дату со временем. Время можно указывать с точностью до секунд или миллисекунд.<br>Дата передаётся в формате [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339), время — в часовом поясе Москва `UTC+3`.<br>Примеры:
              - `2025-06-20`
              - `2025-06-20T23:59:59`
              - `2025-06-20T00:00:00.12345`
              - `2025-06-20T00:00:00`
          example: 2026-03-17
          type: string
        dateTo:
          description: |
            Конечная дата отчёта.<br>Дата в формате [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339). Можно передать дату или дату со временем. Время можно указывать с точностью до секунд или миллисекунд.<br>Время передаётся в часовом поясе Москва `UTC+3`.<br>Примеры:
              - `2025-06-20`
              - `2025-06-20T23:59:59`
              - `2025-06-20T00:00:00.12345`
              - `2025-06-20T00:00:00`
          example: 2026-03-20
          type: string
        limit:
          default: 100000
          description: Количество строк в ответе
          example: 21100
          maximum: 100000
          type: integer
        rrdId:
          default: 0
          description: |
            ID строки ответа. Необходим для получения отчёта частями.<br>Начинайте загрузку отчёта с `"rrdid":0`. В последующих запросах передавайте значение `rrdId` из последней строки предыдущего ответа.<br>Повторяйте запрос, пока не получите ответ `204`
          type: integer
        fields:
          description: "Список полей, которые вернутся в ответе. Если параметр не\
            \ указан, возвращаются все поля"
          example:
          - rrdId
          - nmId
          - docTypeName
          - retailAmount
          - acquiringFee
          - srid
          items:
            type: string
          type: array
      required:
      - dateFrom
      - dateTo
      type: object
    AcquiringReportsDetailedRes:
      description: Детализации к отчётам об издержках на приём платежей
      example:
        rrdId: 1232610467
        reportId: 1234567
        acqDate: 2026-03-21
        acquiringBank: Тинькофф
        tin: "010101010101"
        taxRegistrationReasonCode: "7701123301"
        saleDate: 2026-03-21
        srid: D0.r3f80c3eec6f845c6840128b4c19986f9.0.0
        docTypeName: Продажа
        nmId: 1234567
        retailAmount: "367"
        acquiringFee: "14.89"
        acquiringFeeVat: "4.06"
        invoiceNumber: С/Ф 123
        invoiceDate: 2026-03-20
        shkId: 1239159661
        currency: RUB
      properties:
        rrdId:
          description: ID строки
          example: 1232610467
          type: integer
        reportId:
          description: ID отчёта
          example: 1234567
          format: int64
          type: integer
        acqDate:
          description: Дата операции
          example: 2026-03-21
          type: string
        acquiringBank:
          description: Наименование банка-эквайера
          example: Тинькофф
          type: string
        tin:
          description: ИНН
          example: "010101010101"
          type: string
        taxRegistrationReasonCode:
          description: КПП
          example: "7701123301"
          type: string
        saleDate:
          description: Дата продажи
          example: 2026-03-21
          type: string
        srid:
          description: |
            ID заказа.<br>В ответах методов сборочных заданий [FBS](./orders-fbs#tag/Sborochnye-zadaniya-FBS), [DBW](./orders-dbw#tag/Sborochnye-zadaniya-DBW), [DBS](./orders-dbs#tag/Sborochnye-zadaniya-DBS) и [Самовывоз](./in-store-pickup#tag/Sborochnye-zadaniya-Samovyvoz) `srid` равен `rid`
          example: D0.r3f80c3eec6f845c6840128b4c19986f9.0.0
          type: string
        docTypeName:
          description: Тип документа
          example: Продажа
          type: string
        nmId:
          description: Артикул WB
          example: 1234567
          type: integer
        retailAmount:
          description: Вайлдберриз реализовал Товар (Пр)
          example: "367"
          type: string
        acquiringFee:
          description: "Размер комиссии за эквайринг, в том числе НДС"
          example: "14.89"
          type: string
        acquiringFeeVat:
          description: Сумма НДС
          example: "4.06"
          type: string
        invoiceNumber:
          description: Номер счёта-фактуры
          example: С/Ф 123
          type: string
        invoiceDate:
          description: Дата счёта-фактуры
          example: 2026-03-20
          type: string
        shkId:
          description: Штрихкод
          example: 1239159661
          type: integer
        currency:
          description: Валюта отчёта
          example: RUB
          type: string
      required:
      - acqDate
      - acquiringBank
      - acquiringFee
      - acquiringFeeVat
      - currency
      - docTypeName
      - invoiceDate
      - invoiceNumber
      - nmId
      - reportId
      - retailAmount
      - rrdId
      - saleDate
      - shkId
      - srid
      - taxRegistrationReasonCode
      - tin
      type: object
    DetailReportItem:
      example:
        realizationreport_id: 1234567
        date_from: 2022-10-17
        date_to: 2022-10-23
        create_dt: 2022-10-24
        currency_name: руб
        suppliercontract_code: "{}"
        rrd_id: 1232610467
        gi_id: 123456
        dlv_prc: 1.8
        fix_tariff_date_from: 2024-10-23
        fix_tariff_date_to: 2024-11-18
        subject_name: Мини-печи
        nm_id: 1234567
        brand_name: BlahBlah
        sa_name: MAB123
        ts_name: "0"
        barcode: "1231312352310"
        doc_type_name: Продажа
        quantity: 1
        retail_price: 1249
        retail_amount: 367
        sale_percent: 0
        commission_percent: 24
        office_name: Коледино
        supplier_oper_name: Продажа
        order_dt: 2022-10-13T00:00:00Z
        sale_dt: 2022-10-20T00:00:00Z
        rr_dt: 2022-10-20
        shk_id: 1239159661
        retail_price_withdisc_rub: 399.68
        delivery_amount: 0
        return_amount: 0
        delivery_rub: 0
        gi_box_type_name: Монопаллета
        product_discount_for_report: 0
        supplier_promo: 0
        ppvz_spp_prc: 25.31
        ppvz_kvw_prc_base: 24.15
        ppvz_kvw_prc: 1.81
        sup_rating_prc_up: 0.8008281904610115
        is_kgvp_v2: 6.027456183070403
        ppvz_sales_commission: 23.74
        ppvz_for_pay: 376.99
        ppvz_reward: 0
        acquiring_fee: 14.89
        acquiring_percent: 4.06
        payment_processing: Комиссия за организацию платежа с НДС
        acquiring_bank: Тинькофф
        ppvz_vw: 22.25
        ppvz_vw_nds: 4.45
        ppvz_office_name: Пункт самовывоза (ПВЗ)
        ppvz_office_id: 105383
        ppvz_supplier_id: 186465
        ppvz_supplier_name: ИП Жасмин
        ppvz_inn: "010101010101"
        declaration_number: ""
        bonus_type_name: Штраф МП. Невыполненный заказ (отмена клиентом после недовоза)
        sticker_id: "1964038895"
        site_country: Россия
        srv_dbs: true
        penalty: 231.35
        additional_payment: 0
        rebill_logistic_cost: 1.349
        rebill_logistic_org: ИП Иванов Иван Иванович(123456789012)
        storage_fee: 12647.29
        deduction: 6354
        acceptance: 865
        assembly_id: 2816993144
        kiz: "0102900000376311210G2CIS?ehge)S\x1d91002A\x1d92F9Qof4FDo/31Icm14kmtuVYQzLypxm3HWkC1vQ/+pVVjm1dNAth1laFMoAGn7yEMWlTjxIe7lQnJqZ7TRZhlHQ=="
        srid: 0f1c3999172603062979867564654dac5b702849
        report_type: 1
        is_legal_entity: false
        trbx_id: WB-TRBX-1234567
        installment_cofinancing_amount: 0
        wibes_wb_discount_percent: 1
        cashback_amount: 0
        cashback_discount: 0
        cashback_commission_change: 0
        order_uid: id375f16c4bec295d9995393af803ff7b
        payment_schedule: 0
        delivery_method: "FBS, (МГТ)"
        seller_promo_id: 14350
        seller_promo_discount: 3
        loyalty_id: 0
        loyalty_discount: 0
        uuid_promocode: ""
        sale_price_promocode_discount_prc: 0
        article_substitution: ""
        sale_price_affiliated_discount_prc: 0
        agency_vat: 0
        sale_price_wholesale_discount_prc: 0
        b2b_customer_tin: "010101010101"
      properties:
        realizationreport_id:
          description: Номер отчёта
          example: 1234567
          type: integer
        date_from:
          description: Дата начала отчётного периода
          example: 2022-10-17
          format: date
          type: string
        date_to:
          description: Дата конца отчётного периода
          example: 2022-10-23
          format: date
          type: string
        create_dt:
          description: Дата формирования отчёта
          example: 2022-10-24
          format: date
          type: string
        currency_name:
          description: Валюта отчёта
          example: руб
          type: string
        suppliercontract_code:
          description: Договор
          nullable: true
          type: object
          example: null
        rrd_id:
          description: Номер строки
          example: 1232610467
          type: integer
[...]
