openapi: 3.0.1
info:
  description: |
    <div class="api-block">

    С помощью методов Заказы DBW (Доставка курьером WB) вы можете:
      - получать информацию о [сборочных заданиях](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW), управлять статусами и отменять сборочные задания
      - получать, добавлять, редактировать и удалять [метаданные](/openapi/orders-dbw#tag/dbwLabelIdentifiers) сборочных заданий

    </div>

    <div class="description_ref">
      Узнать, как использовать методы в бизнес-кейсах, можно в <a href="/knowledge-base/articles/019d49a4-036a-7721-98e8-bed5f1a4f72d/zakazy-dbw">инструкции</a> по работе с <strong>заказами DBW</strong>
    </div>
  title: Заказы DBW
  version: ordersdbw
  x-file-name: orders-dbw
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Сборочные задания DBW
- description: ""
  name: Идентификаторы маркировки DBW
  x-displayName: Идентификаторы маркировки DBW
paths:
  /api/v3/dbw/orders/new:
    get:
      description: "Метод возвращает список всех новых [сборочных заданий](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW),\
        \ которые есть у продавца на момент запроса.\n\n<div class=\"description_limit\"\
        >\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Л\
        имит запросов</a> на один аккаунт продавца для следующих методов DBW:\n<ul>\n\
        \    <li>получение и обновление списка контактов</li>\n    <li>получение и\
        \ удаление идентификаторов маркировки</li>\n    <li>методы сборочных задан\
        ий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- |\
        \ --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин зап\
        рос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_200_response"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить список новых сборочных заданий
      tags:
      - Сборочные задания DBW
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders:
    get:
      description: "Метод возвращает информацию о завершенных [сборочных заданиях\
        ](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW).\n<br><br>\nМожно получ\
        ить данные за заданный период, максимум 30 календарных дней одним запросом\
        .\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:\n\
        <ul>\n    <li>получение и обновление списка контактов</li>\n    <li>получе\
        ние и удаление идентификаторов маркировки</li>\n    <li>методы сборочных з\
        аданий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | ---\
        \ | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин з\
        апрос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      parameters:
      - description: Параметр пагинации. Устанавливает предельное количество возвращаемых
          данных
        explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Параметр пагинации. Устанавливает значение, с которого надо\
          \ получить следующий пакет данных. Для получения полного списка данных д\
          олжен быть равен `0` в первом запросе. Для следующих запросов необходимо\
          \ брать значения из одноименного поля в ответе"
        explode: true
        in: query
        name: next
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Дата начала периода в формате Unix timestamp
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          type: integer
        style: form
      - description: Дата конца периода в формате Unix timestamp
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_get_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить информацию о завершенных сборочных заданиях
      tags:
      - Сборочные задания DBW
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/delivery-date:
    post:
      description: "Метод возвращает информацию о выбранных покупателем дате и вре\
        мени доставки сборочных заданий.\n<br>\n\n<div class=\"description_limit\"\
        >\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Л\
        имит запросов</a> на один аккаунт продавца для следующих методов DBW:\n<ul>\n\
        \    <li>получение и обновление списка контактов</li>\n    <li>получение и\
        \ удаление идентификаторов маркировки</li>\n    <li>методы сборочных задан\
        ий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- |\
        \ --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин зап\
        рос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliveryDatesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryDatesInfoResp"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest1"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить дату и время доставки
      tags:
      - Сборочные задания DBW
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbw/orders/client:
    post:
      description: "Метод возвращает информацию о покупателях по ID сборочных зада\
        ний.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:\n\
        <ul>\n    <li>получение и обновление списка контактов</li>\n    <li>получе\
        ние и удаление идентификаторов маркировки</li>\n    <li>методы сборочных з\
        аданий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | ---\
        \ | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин з\
        апрос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrdersRequestAPI"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientInfoResp"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest1"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                UploadDataLimit:
                  $ref: "#/components/examples/UploadDataLimit"
              schema:
                $ref: "#/components/schemas/_api_marketplace_v3_dbw_orders_client_post_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Информация о покупателе
      tags:
      - Сборочные задания DBW
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/status:
    post:
      description: "Метод возвращает статусы сборочных заданий по их ID.\n<br><br>\n\
        `supplierStatus` — статус сборочного задания.\nТриггер его изменения — дей\
        ствие самого продавца.\n\nВозможные значения `supplierStatus`:\n| Статус \
        \  | Описание            | Как перевести сборочное задание в данный статус\
        \ |\n| -------  | ---------           | --------------------------------------|\n\
        | `new`      | **Новое сборочное задание** | |\n| `confirm`  | **На сборке\
        **      |  [Перевести сборочное задание на сборку](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1{orderId}~1confirm/patch)\n\
        | `complete` | **В доставке**  | [Перевести сборочное задание в доставку](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1marketplace~1v3~1dbw~1orders~1status~1deliver/post)\
        \ |\n| `receive`  | **Получено покупателем**|  Переводится курьером\n| `reject`\
        \   | **Отказ покупателя при получении**| Переводится курьером\n| `cancel`\
        \   | **Отменено продавцом**   |  [Отменить сборочное задание](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1{orderId}~1cancel/patch)\n\
        | `cancel_missed_call` | **Отмена по причине недозвона**<br> | Статус меня\
        ется автоматически |\n\n<br><br>\n`wbStatus` — статус системы Wildberries.\n\
        \nВозможные значения `wbStatus`:\n- `waiting` — сборочное задание в работе\
        \n- `sold` — заказ получен покупателем\n- `canceled` — отмена сборочного з\
        адания\n- `canceled_by_client` — покупатель отменил заказ при получении\n\
        - `declined_by_client` — покупатель отменил заказ в первый чаc\n<br>\nОтме\
        на доступна покупателю в первый час с момента заказа, если заказ не переве\
        ден на сборку\n- `defect` — отмена заказа по причине брака\n- `canceled_by_missed_call`\
        \ — отмена заказа по причине недозвона\n- `postponed_delivery` — курьерска\
        я доставка отложена\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:\n\
        <ul>\n    <li>получение и обновление списка контактов</li>\n    <li>получе\
        ние и удаление идентификаторов маркировки</li>\n    <li>методы сборочных з\
        аданий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | ---\
        \ | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин з\
        апрос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbw_orders_status_post_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_status_post_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить статусы сборочных заданий
      tags:
      - Сборочные задания DBW
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/{orderId}/confirm:
    patch:
      description: "Метод переводит [сборочное задание](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW)\
        \ в [статус](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post)\
        \ `confirm` — на сборке.\n\n<div class=\"description_limit\">\n<a href=\"\
        /openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов\
        </a> на один аккаунт продавца для следующих методов DBW:\n<ul>\n    <li>по\
        лучение и обновление списка контактов</li>\n    <li>получение и удаление и\
        дентификаторов маркировки</li>\n    <li>методы сборочных заданий</li>\n</ul>\
        \ \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n\
        | 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин запрос с кодами от\
        ветов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Подтверждено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: "#/components/examples/StatusMismatch"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления статуса
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Перевести на сборку
      tags:
      - Сборочные задания DBW
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/stickers:
    post:
      description: "Метод возвращает список стикеров для [сборочных заданий](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1new/get)\
        \ в [статусах](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post):\n\
        \  - `confirm` — на сборке\n  - `complete` — в доставке\n\nЗа один запрос\
        \ можно получить максимум 100 стикеров.<br>\n\nДоступные форматы стикеров\
        :\n  - SVG\n  - ZPLV (вертикальный)\n  - ZPLH (горизонтальный)\n  - PNG\n\n\
        Доступны размеры:\n  - 580x400 px при `width=58&height=40` в запросе\n  -\
        \ 400x300 px при `width=40&height=30` в запросе\n\n<div class=\"description_limit\"\
        >\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Л\
        имит запросов</a> на один аккаунт продавца для следующих методов DBW:\n<ul>\n\
        \    <li>получение и обновление списка контактов</li>\n    <li>получение и\
        \ удаление идентификаторов маркировки</li>\n    <li>методы сборочных задан\
        ий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- |\
        \ --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин зап\
        рос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      parameters:
      - description: Тип стикера
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - svg
          - zplv
          - zplh
          - png
          type: string
        style: form
      - description: Ширина стикера
        explode: true
        in: query
        name: width
        required: true
        schema:
          enum:
          - 58
          - 40
          type: integer
        style: form
      - description: Высота стикера
        explode: true
        in: query
        name: height
        required: true
        schema:
          enum:
          - 40
          - 30
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbw_orders_stickers_post_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_stickers_post_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить стикеры сборочных заданий
      tags:
      - Сборочные задания DBW
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbw/orders/status/deliver:
    post:
      description: "Метод переводит [сборочные задания](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders/get)\
        \ из [статуса](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post)\
        \ `confirm` в статус `complete` — в доставке.\n\n<div class=\"description_important\"\
        >\nПроверяйте ответ метода. Сборочные задания, переведённые в доставку, ве\
        рнутся с признаком `\"isError\":false`. Для остальных сборочных заданий см\
        отрите причину ошибки в массиве `errors`\n</div>\n\n<div class=\"description_limit\"\
        >\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Л\
        имит запросов</a> на один аккаунт продавца для следующих методов DBW:\n<ul>\n\
        \    <li>получение и обновление списка контактов</li>\n    <li>получение и\
        \ удаление идентификаторов маркировки</li>\n    <li>методы сборочных задан\
        ий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- |\
        \ --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин зап\
        рос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
                results:
                - orderId: 42131238
                  isError: true
                  errors:
                  - code: 409
                    detail: MetaValidationFail
                    metaDetails:
                    - key: sgtin
                      value: "1234567890123"
                      decision: sgtinInvalidFormat
                - orderId: 4279781545
                  isError: false
              schema:
                $ref: "#/components/schemas/api.StatusSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      summary: Перевести сборочные задания в доставку
      tags:
      - Сборочные задания DBW
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/courier:
    post:
      description: "Метод возвращает контактные данные и номер автомобиля курьера\
        \ по ID сборочного задания. <br> Для сборочных заданий в статусах `confirm`,\
        \ `complete`.\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:\n\
        <ul>\n    <li>получение и обновление списка контактов</li>\n    <li>получе\
        ние и удаление идентификаторов маркировки</li>\n    <li>методы сборочных з\
        аданий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | ---\
        \ | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин з\
        апрос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrdersRequestAPI"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderCourierInfoResp"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      summary: Информация о курьере
      tags:
      - Сборочные задания DBW
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/{orderId}/cancel:
    patch:
      description: "Метод отменяет [сборочное задание](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW)\
        \ и переводит в [статус](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post)\
        \ `cancel` — отменено продавцом.\n\n<div class=\"description_limit\">\n<a\
        \ href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит\
        \ запросов</a> на один аккаунт продавца для методов DBW:\n<ul>\n    <li>по\
        лучение и обновление списка контактов</li>\n    <li>получение и удаление и\
        дентификаторов маркировки</li>\n    <li>управление сборочными заданиями</li>\n\
        </ul> \n\n\n| Тип | Период | Лимит | Интервал | Всплеск |\n| --- | --- | ---\
        \ | --- | --- |\n| Персональный | 1 мин | 300 запросов | 200 мс | 20 запро\
        сов |\n| Сервисный | 1 мин | 300 запросов | 200 мс | 20 запросов |\n| Базо\
        вый с секретом | 1 мин | 300 запросов | 200 мс | 20 запросов |\n| Базовый\
        \ | 1 ч | 10 запросов | 6 мин | 1 запрос |\n\nОдин запрос с кодами ответов\
        \ <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Отменено
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: "#/components/examples/StatusMismatch"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка обновления статуса
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Отменить сборочное задание
      tags:
      - Сборочные задания DBW
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbw/orders/meta/details:
    post:
      description: "Метод возвращает идентификаторы маркировки [сборочных заданий\
        ](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders/get)\
        \ и статусы их валидации.\n<br><br>\nПеречень идентификаторов маркировки,\
        \ доступных для сборочного задания, можно получить в [списке новых сборочн\
        ых заданий](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1new/get),\
        \ поле `requiredMeta`.\n<br><br>\nВозможные идентификаторы маркировки:\n \
        \ - `imei` — [IMEI](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1imei/put)\n\
        \  - `uin` — [УИН](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1uin/put)\n\
        \  - `gtin` — [GTIN](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1gtin/put)\n\
        \  - `sgtin` — [код маркировки Честного знака](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1sgtin/post)\n\
        \n  <div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:\n\
        <ul>\n    <li>получение и обновление списка контактов</li>\n    <li>получе\
        ние и удаление идентификаторов маркировки</li>\n    <li>методы сборочных з\
        аданий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | ---\
        \ | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин з\
        апрос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersRequestV2"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.OrdersMetaDetailsResponse"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: null
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                detail: null
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: "#/components/schemas/api.BatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить идентификаторы маркировки сборочных заданий
      tags:
      - Идентификаторы маркировки DBW
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbw/orders/meta/delete:
    post:
      description: "Метод удаляет значение указанных [идентификаторов маркировки с\
        борочного задания](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post)\
        \ для переданного ключа.\n<br><br>\nВ одном запросе можно удалить идентифи\
        каторы маркировки только одного типа. Укажите тип идентификаторов маркиров\
        ки в запросе:\n  - `imei` — [IMEI](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1imei/put)\n\
        \  - `uin` — [УИН](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1uin/put)\n\
        \  - `gtin` — [GTIN](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1v3~1dbw~1orders~1%7BorderId%7D~1meta~1imei/put)\n\
        \  - `sgtin` — [код маркировки](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1sgtin/post)\n\
        \nМожно передать только один ключ.\n\n  <div class=\"description_limit\">\n\
        <a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лими\
        т запросов</a> на один аккаунт продавца для следующих методов DBW:\n<ul>\n\
        \    <li>получение и обновление списка контактов</li>\n    <li>получение и\
        \ удаление идентификаторов маркировки</li>\n    <li>методы сборочных задан\
        ий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- |\
        \ --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин зап\
        рос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersMetaDleteRequestV2"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api.MetaDeleteResponses"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      summary: Удалить идентификаторы маркировки сборочных заданий
      tags:
      - Идентификаторы маркировки DBW
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/{orderId}/meta:
    get:
      deprecated: true
      description: "Данный метод устарел. Он будет удалён [27 июля](/release-notes?id=508)\n\
        \n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:\n\
        <ul>\n    <li>получение и обновление списка контактов</li>\n    <li>получе\
        ние и удаление идентификаторов маркировки</li>\n    <li>методы сборочных з\
        аданий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | ---\
        \ | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин з\
        апрос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders__orderId__meta_get_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить идентификаторы маркировки сборочного задания
      tags:
      - Идентификаторы маркировки DBW
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbw/orders/meta/sgtin:
    post:
      description: "Метод обновляет код маркировки [Честного знака](https://честны\
        йзнак.рф/) в [идентификаторах маркировки](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post)\
        \ нескольких сборочных заданий.<br>\nЗакрепить код маркировки можно, тольк\
        о если в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post)\
        \ есть поле `sgtin`, а сборочное задание находится в [статусе](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post)\
        \ `confirm` — на сборке.\n<br><br>\nПолучить загруженные маркировки можно\
        \ в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post).\n\
        \n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\"\
        >Лимит запросов</a> на один аккаунт продавца для следующих методов DBW:\n\
        <ul>\n    <li>получение и обновление списка контактов</li>\n    <li>получе\
        ние и удаление идентификаторов маркировки</li>\n    <li>методы сборочных з\
        аданий</li>\n</ul> \n\n| Период | Лимит | Интервал | Всплеск |\n| --- | ---\
        \ | --- | --- |\n| 1 мин | 300 запросов | 200 мс | 20 запросов |\n\nОдин з\
        апрос с кодами ответов <code>4XX</code> учитывается как 10 запросов\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api.OrdersSGTINsSetRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
                results:
                - orderId: 42131238
                  isError: true
                  errors:
                  - code: 409
                    detail: FailedToUpdateMeta
                - orderId: 4279781545
                  isError: false
              schema:
                $ref: "#/components/schemas/api.StatusSetResponses"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      summary: Закрепить коды маркировки Честного знака за сборочными заданиями
      tags:
      - Идентификаторы маркировки DBW
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/{orderId}/meta/uin:
    put:
      description: |
        Метод обновляет УИН в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post) — уникальный идентификационный номер.
        <br><br>
        У одного сборочного задания может быть только один УИН.

        Добавлять маркировку можно только для заказов, которые находятся в [статусе](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBW</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbw_orders__orderId__meta_uin_put_request"
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления идентификаторов маркировки
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием УИН (уникальный идентификационный номер)
      tags:
      - Идентификаторы маркировки DBW
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/{orderId}/meta/imei:
    put:
      description: |
        Метод обновляет IMEI в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post).
        <br><br>
        У одного сборочного задания может быть только один IMEI.

        Добавлять маркировку можно только для заказов, которые находятся в [статусе](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBW</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbw_orders__orderId__meta_imei_put_request"
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления идентификаторов маркировки
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием IMEI
      tags:
      - Идентификаторы маркировки DBW
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbw/orders/{orderId}/meta/gtin:
    put:
      description: |
        Метод обновляет GTIN в [идентификаторах маркировки сборочного задания](/openapi/orders-dbw#tag/dbwLabelIdentifiers/paths/~1api~1marketplace~1v3~1dbw~1orders~1meta~1details/post) — уникальный ID товара в Беларуси.
        <br><br>
        У одного сборочного задания может быть только один GTIN.

        Добавлять маркировку можно только для заказов, которые находятся в [статусе](/openapi/orders-dbw#tag/Sborochnye-zadaniya-DBW/paths/~1api~1v3~1dbw~1orders~1status/post) `confirm`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки DBW</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1000 запросов | 60 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов
        </div>
      parameters:
      - description: ID сборочного задания
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_api_v3_dbw_orders__orderId__meta_gtin_put_request"
      responses:
        "204":
          description: Обновлено
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: "#/components/examples/IncorrectRequestBody"
                IncorrectRequest:
                  $ref: "#/components/examples/IncorrectRequest"
                IncorrectParameter:
                  $ref: "#/components/examples/IncorrectParameter"
              schema:
                $ref: "#/components/schemas/Error"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
          description: Требуется платёж
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Доступ запрещён
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: ""
              schema:
                $ref: "#/components/schemas/Error"
          description: Не найдено
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: "#/components/examples/FailedToUpdateMeta"
              schema:
                $ref: "#/components/schemas/Error"
          description: Ошибка добавления идентификаторов маркировки
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Закрепить за сборочным заданием GTIN
      tags:
      - Идентификаторы маркировки DBW
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
components:
  examples:
    IncorrectRequestBody:
      description: Некорректное тело запроса
      value:
        code: IncorrectRequestBody
        message: ""
    UploadDataLimit:
      description: Превышено количество ID заказов в запросе
      value:
        origin: dbs-public-api
        title: UploadDataLimit
        detail: Upload limit exceeded
        requestId: fd48ee9a-6ff6-446f-b238-5793a9189f1a
    IncorrectRequest:
      value:
        code: IncorrectRequest
        message: ""
    IncorrectRequest1:
      description: Некорректный запрос
      value:
        code: IncorrectRequest
        message: ""
    IncorrectParameter:
      value:
        code: IncorrectParameter
        message: ""
    FailedToUpdateMeta:
      value:
        code: FailedToUpdateMeta
        message: ""
    StatusMismatch:
      value:
        data: {}
        code: StatusMismatch
        message: ""
  parameters:
    Order:
      description: ID сборочного задания
      explode: false
      in: path
      name: orderId
      required: true
      schema:
        example: 5632423
        format: int64
        type: integer
      style: simple
    Next:
      description: "Параметр пагинации. Устанавливает значение, с которого надо по\
        лучить следующий пакет данных. Для получения полного списка данных должен\
        \ быть равен `0` в первом запросе. Для следующих запросов необходимо брать\
        \ значения из одноименного поля в ответе"
      explode: true
      in: query
      name: next
      required: true
      schema:
        format: int64
        type: integer
      style: form
    Limit:
      description: Параметр пагинации. Устанавливает предельное количество возвращаемых
        данных
      explode: true
      in: query
      name: limit
      required: true
      schema:
        maximum: 1000
        minimum: 1
        type: integer
      style: form
  responses:
    "401":
      content:
        application/problem+json:
          example:
            title: unauthorized
            detail: "token problem; token is malformed: could not base64 decode signature:\
              \ illegal base64 data at input byte 84"
            code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
      description: Не авторизован
    "402":
      content:
        application/problem+json:
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance.
              please top up the balance in the company's personal account https://dev.wildberries.ru/company
          schema:
            $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_402_response"
      description: Требуется платёж
    "429":
      content:
        application/problem+json:
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/_api_v3_dbw_orders_new_get_401_response"
      description: Слишком много запросов
    NotFound:
      content:
        application/json:
          example:
            code: NotFound
            message: ""
          schema:
            $ref: "#/components/schemas/Error"
      description: Не найдено
    AccessDenied:
      content:
        application/json:
          example:
            code: AccessDenied
            message: ""
          schema:
            $ref: "#/components/schemas/Error"
      description: Доступ запрещён
  schemas:
    api.OrdersSGTINsSetRequest:
      properties:
        orders:
          items:
            $ref: "#/components/schemas/api.SGTINs"
          maxItems: 1000
          type: array
      required:
      - orders
      type: object
    api.SGTINs:
      properties:
        orderId:
          description: ID сборочного задания
          example: 123456
          type: integer
        sgtins:
          description: Массив кодов маркировки. Допускается от 16 до 135 символов
            для кода одной маркировки
          example:
          - "123456789012345678"
          - "1234567890123456"
          items:
            type: string
          maxItems: 24
          minItems: 1
          type: array
      type: object
    api.StatusSetResponses:
      example:
        requestId: 03615778-eb9e-4f55-b4Of-fd3ac0fad2сc
        results:
        - orderId: 4299281547
          isError: true
          errors:
          - code: 404
            detail: NotFound
        - orderId: 4279781545
          isError: false
      properties:
        requestId:
          description: "Уникальный ID запроса, содержащего ошибки."
          type: string
        results:
          items:
            $ref: "#/components/schemas/api.StatusSetResponse"
          type: array
      required:
      - results
      type: object
    api.StatusSetResponse:
      properties:
        errors:
          description: Детали ошибки
          items:
            $ref: "#/components/schemas/api.BatchErrorResponse"
          type: array
        isError:
          description: Есть ли ошибки
          example: true
          type: boolean
        orderId:
          description: ID сборочного задания с успешно обновлёнными данными
          example: 123456
          type: integer
      required:
      - isError
      - orderId
      type: object
    api.BatchErrorResponse:
      properties:
        code:
          description: |
            Код ошибки:
              - `404`
              - `409`
          example: 404
          type: integer
        detail:
          description: |
            - `NotFound` — сборочное задание не найдено
            - `StatusMismatch` — операция невозможна для этого статуса сборочного задания
            - `ImeiIsNotFilled` — не заполнен IMEI
            - `MetaValidationFail` — ошибки валидации идентификаторов маркировки
          example: NotFound
          type: string
        metaDetails:
          description: Детали ошибки валидации идентификаторов маркировки
          items:
            $ref: "#/components/schemas/api_BatchErrorResponse_metaDetails_inner"
          type: array
      required:
      - code
      - detail
      type: object
    api.MetaDeleteResponses:
      example:
        requestId: requestId
        results:
        - errors:
          - code: 0
            detail: detail
          - code: 0
            detail: detail
          isError: true
          orderId: 6
        - errors:
          - code: 0
            detail: detail
          - code: 0
            detail: detail
          isError: true
          orderId: 6
      properties:
        requestId:
          description: Уникальный ID запроса. Отображается для ответов с ошибками
          type: string
        results:
          items:
            $ref: "#/components/schemas/api_MetaDeleteResponses_results_inner"
          type: array
      required:
      - results
      type: object
    api.OrdersRequestV2:
      properties:
        ordersIds:
          description: Список ID сборочных заданий
          example:
          - 1234678898
          items:
            type: integer
          maxItems: 1000
          type: array
      type: object
    api.OrdersMetaDleteRequestV2:
      properties:
        key:
          description: Название идентификатора маркировки для удаления. Передаётся
            только одно значение
          enum:
          - imei
          - uin
          - gtin
          - sgtin
          example: sgtin
          type: string
        ordersIds:
          description: Список ID сборочных заданий
          example:
          - 123456789
          items:
            type: integer
          maxItems: 1000
          type: array
      type: object
    ClientInfo:
      example:
        replacementPhone: "79871234567"
        phone: "+79871234567"
        firstName: Иван
        fullName: Иванов Иван Иванович
        additionalPhones:
        - "1234554321"
        additionalPhoneCodes:
        - 12345
        orderId: 1345678910
        phoneCode: 0
      properties:
        replacementPhone:
          description: |
            Подменный номер для связи с покупателем. <br>
            Пустое значение `""` указывает, что номер ещё не назначен
          example: "79871234567"
          nullable: false
          type: string
        phone:
          description: |
            Номер телефона для связи с покупателем:
              - если в поле `phoneCode` не указан добавочный код, вы можете позвонить покупателю по указанному номеру. Дополнительные номера телефонов для связи без кодов указаны в поле `additionalPhones`
              - если в поле `phoneCode` указан добавочный код, используйте его, чтобы связаться с покупателем по указанному номеру и добавочному коду
          example: "+79871234567"
          nullable: false
          type: string
        firstName:
          description: Имя покупателя
          example: Иван
          nullable: false
          type: string
        fullName:
          description: "Полное имя покупателя, используется для оформления докумен\
            тов"
          example: Иванов Иван Иванович
          nullable: false
          type: string
        additionalPhones:
          description: |
            Дополнительные номера телефонов для связи с покупателем. <br>
            Используйте, чтобы позвонить покупателю, если недоступен основной номер из `phone`. <br>
            Пустое значение означает, что номер не указан
          example:
          - "1234554321"
          items:
            type: string
          nullable: false
          type: array
        additionalPhoneCodes:
          description: |
            Дополнительные добавочные коды. <br>
            Используйте, если не получилось дозвониться по добавочному коду из `phoneCode`.<br>
            Пустое значение указывает, коды ещё не назначены
          example:
          - 12345
          items:
            type: integer
          nullable: false
          type: array
        orderId:
          description: ID сборочного задания
          example: 1345678910
          type: integer
        phoneCode:
          description: |
            Добавочный код. <br>
            Используйте, чтобы связаться с покупателем по номеру из `phone`.<br>
            Если код не указан, вы можете связаться с покупателем без кода
          example: 0
          nullable: false
          type: integer
      type: object
    ClientInfoResp:
      example:
        orders:
        - replacementPhone: "79871234567"
          phone: "+79871234567"
          firstName: Иван
          fullName: Иванов Иван Иванович
          additionalPhones:
          - "1234554321"
          additionalPhoneCodes:
          - 12345
          orderId: 1345678910
          phoneCode: 0
        - replacementPhone: "79871234567"
          phone: "+79871234567"
          firstName: Иван
          fullName: Иванов Иван Иванович
          additionalPhones:
          - "1234554321"
          additionalPhoneCodes:
          - 12345
          orderId: 1345678910
          phoneCode: 0
      properties:
        orders:
          description: Информация о покупателях
          items:
            $ref: "#/components/schemas/ClientInfo"
          type: array
      type: object
    OrderCourierInfo:
      example:
        courierInfo: "{}"
        orderID: 2876979713
      properties:
        courierInfo:
          allOf:
          - $ref: "#/components/schemas/CourierInfo"
          description: Информация о курьере
          type: object
        orderID:
          description: ID сборочного задания
          example: 2876979713
          type: integer
      type: object
    OrderCourierInfoResp:
      example:
        orders:
        - courierInfo: "{}"
          orderID: 2876979713
        - courierInfo: "{}"
          orderID: 2876979713
      properties:
        orders:
          items:
            $ref: "#/components/schemas/OrderCourierInfo"
          type: array
      type: object
    CourierContactsResponse:
      properties:
        carNumber:
          description: Номер автомобиля
          example: х111хх11
          type: string
        fullName:
          description: ФИО курьера
          example: Иванов Иван Иванович
          type: string
        phone:
          description: Номер телефона
          example: "71230971931"
          type: string
        pTimeFrom:
          description: "Дата и время, с которого прибудет курьер"
          example: 2025-09-06T08:00:00Z
          format: date-time
          nullable: true
          type: string
        pTimeTo:
          description: "Дата и время, до которого прибудет курьер"
          example: 2025-09-06T11:00:00Z
          format: date-time
          nullable: true
          type: string
      type: object
    CourierInfo:
      properties:
        contacts:
          allOf:
          - $ref: "#/components/schemas/CourierContactsResponse"
          description: Контактные данные курьера
          nullable: true
          type: object
        mustBeAssigned:
          description: |
            Должен ли быть назначен курьер к текущему моменту:
              - `false` — нет
              - `true` — да

              Если `"mustBeAssigned":true`, а `"contacts":null`, необходимо запросить контакты в [поддержке](https://seller.wildberries.ru/service-desk-v2)
          type: boolean
        updatedAt:
          description: "Дата и время обновления информации о курьере. <br> Если `null`,\
            \ информация не обновлялась"
          example: 2025-09-06T11:33:10+03:00
          format: date-time
          nullable: true
          type: string
      type: object
    api.OrdersMetaDetailsResponse:
      example:
        requestId: f1787bd2d1fdс35d6f537316514у4a05
        orders:
        - orderId: 123456
          isError: false
          errors: []
          metaDetails:
          - key: sgtin
            value: "123456789012345"
            decision: sgtinIntroduced
          - key: sgtin
            value: "123456789012345"
            decision: sgtinIntroduced
        - orderId: 123456
          isError: false
          errors: []
          metaDetails:
          - key: sgtin
            value: "123456789012345"
            decision: sgtinIntroduced
          - key: sgtin
            value: "123456789012345"
            decision: sgtinIntroduced
      properties:
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
          type: string
        orders:
          description: Идентификаторы маркировки сборочных заданий и статусы их валидации
          items:
            $ref: "#/components/schemas/api_OrdersMetaDetailsResponse_orders_inner"
          type: array
      required:
      - requestId
      type: object
    api.BatchError:
      example:
        detail: detail
        origin: dbs-public-api
        requestId: f1787bd2d1fdс35d6f537316514у4a05
        title: IncorrectRequest
      properties:
        detail:
          description: Детали ошибки
          nullable: true
          type: string
          example: null
        origin:
          description: ID внутреннего сервиса WB
          example: dbs-public-api
          type: string
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
          type: string
        title:
          description: Заголовок ошибки
          example: IncorrectRequest
          type: string
      type: object
    Error:
      example:
        code: code
        message: message
        data: "{}"
      nullable: false
      properties:
        code:
          description: Код ошибки
          nullable: false
          type: string
        message:
          description: Описание ошибки
          nullable: false
          type: string
        data:
          description: Дополнительные данные ошибки
          nullable: true
          type: object
      type: object
    OrdersRequestAPI:
      example:
        orders:
        - 987654321
        - 123456789
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            type: integer
          maxItems: 1000
          type: array
      type: object
    DeliveryDatesRequest:
      example:
        orders:
        - 1234567890
      properties:
        orders:
          description: Список ID сборочных заданий
          items:
            maxItems: 1000
            minItems: 1
            type: integer
          type: array
      type: object
    Next:
      description: "Параметр пагинации. Содержит значение, которое необходимо указ\
        ать в запросе для получения следующего пакета данных"
      example: 13833711
      format: int64
      nullable: false
      type: integer
    OrderNewDBW:
      example:
        address:
          fullAddress: "Челябинская область, г. Челябинск, 51-я улица Арабкира, д\
            . 10А, кв. 42"
          longitude: 44.519068
          latitude: 40.20192
        salePrice: 504658
        requiredMeta:
        - uin
        comment: "Упакуйте в пленку, пожалуйста"
        options:
          isB2b: true
        orderUid: 165918930_629fbc924b984618a44354475ca58675
        groupId: 7a2c8810-1db2-4011-9682-5c7fa33afd83
        article: one-ring-7548
        colorCode: RAL 3017
        rid: f884001e44e511edb8780242ac120002
        createdAt: 2022-05-04T07:56:29Z
        skus:
        - "6665956397512"
        - "6665956397512"
        id: 13833711
        warehouseId: 658434
        nmId: 123456789
        chrtId: 987654321
[...]
