openapi: 3.0.1
info:
  title: Самовывоз
  x-file-name: in-store-pickup
  description: |
    <div class="api-block">

    Управление [сборочными заданиями](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) и [идентификаторами маркировки](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers) Самовывоза.<br><br>

    Вы можете протестировать методы Самовывоза в [песочнице](/sandbox). Также в песочнице доступны [специальные методы](/docs/openapi-other/sandbox-environment#tag/Marketplejs-Samovyvoz) для эмуляции действий пользователя

    </div>
  version: instorepickup
servers:
  - url: https://marketplace-api.wildberries.ru
security:
  - HeaderApiKey: []
tags:
  - name: Сборочные задания Самовывоз
    x-displayName: Сборочные задания Самовывоз
    description: ''
  - name: Идентификаторы маркировки Самовывоз
    x-displayName: Идентификаторы маркировки Самовывоз
    description: ''
paths:
  /api/v3/click-collect/orders/new:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      operationId: getV3ClickCollectOrdersNew
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить список новых сборочных заданий
      description: |
        Метод возвращает список всех новых [сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders), которые есть у продавца на момент запроса.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.NewOrders'
              examples:
                NewOrderClick:
                  $ref: '#/components/examples/NewOrderClick'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/click-collect/orders:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      operationId: getV3ClickCollectOrders
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить информацию о завершённых сборочных заданиях
      description: |
        Метод возвращает информацию о завершённых сборочных заданиях после продажи или отмены заказа.
        <br><br>
        Можно получить данные за заданный период, максимум 30 календарных дней одним запросом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      parameters:
        - name: limit
          in: query
          description: |
            Количество элементов в ответе
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: next
          in: query
          description: |
            Параметр пагинации. Чтобы получить полный список данных, укажите `0` в первом запросе. Чтобы получить следующий пакет данных, используйте значение `next` из ответа
          required: true
          schema:
            type: integer
        - name: dateFrom
          in: query
          description: Дата начала периода в формате Unix timestamp
          required: true
          schema:
            type: integer
        - name: dateTo
          in: query
          description: Дата конца периода в формате Unix timestamp
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Orders'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/final-price:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      operationId: postV3ClickCollectOrdersFinalPrice
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить цены продавца и суммы к оплате
      description: |
        Метод возвращает:
          - цены продавца без учёта скидок
          - суммы к оплате покупателем с учетом всех скидок и кэшбека

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersFinalPriceResponse'
              examples:
                GetFinalPriceSuccess:
                  $ref: '#/components/examples/GetFinalPriceSuccess'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/confirm:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersStatusConfirm
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Перевести сборочные задания на сборку
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статуса](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `new` — новый — в статус `confirm` — на сборке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/prepare:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersStatusPrepare
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Сообщить, что сборочные задания готовы к выдаче
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статуса](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` — на сборке — в статус `prepare` — готово к выдаче.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaDetailsResponse'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/click-collect/orders/client:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersClient
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Информация о покупателе
      description: |
        Метод возвращает информацию о покупателе по ID сборочного задания.
        <br><br>
        Доступно только для сборочных заданий в статусах:
          - `confirm` — на сборке
          - `prepare` — готов к выдаче

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для методов <strong>сборочных заданий Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 300 запросов | 200 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderClientInfoResp'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/v3/click-collect/orders/client/identity:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersClientIdentity
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Проверить, что заказ принадлежит покупателю
      description: |
        Метод сообщает, принадлежит ли проверяемый заказ покупателю или нет по переданному коду.
        <br><br>
        Доступно, если хотя бы одно сборочное задание из заказа находится в статусе prepare - готов к выдаче.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.CheckIdentityRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.CheckedIdentity'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
              examples:
                OrderNotFound:
                  $ref: '#/components/examples/OrderNotFound'
        '409':
          description: Введён неверный проверочный код
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
              examples:
                InvalidPasscode:
                  $ref: '#/components/examples/InvalidPasscode'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/receive:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersStatusReceive
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Сообщить, что заказы приняты покупателями
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статуса](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `prepare` — готово к выдаче — в статус `receive` — получено покупателем.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/reject:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersStatusReject
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Сообщить об отказе от заказов
      description: |
        Метод переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статуса](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `prepare` — готово к выдаче — в статус `reject` — отказ при получении.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/info:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersStatusInfo
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Получить статусы сборочных заданий
      description: "Метод возвращает статусы [сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) по их ID.\n<br><br>\n`supplierStatus` — статус сборочного задания. Триггер его изменения - действие самого продавца.\n\nВозможные значения `supplierStatus`:\n| Статус   | Описание            | Как перевести сборочное задание в данный статус |\n| -------  | ---------           | --------------------------------------|\n| `new`      | **Новое сборочное задание** |\n| `confirm`  | **На сборке**  | \t[Перевести сборочное задание на сборку](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusConfirm)\n| `prepare`  | **Готов к выдаче** | \t[Сообщить, что сборочное задание готово к выдаче](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusPrepare)\n| `receive`  | **Получено покупателем**   | [Сообщить, что заказ принят покупателем](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusReceive)\n| `reject`  | **Отказ покупателя при получении**    |  \t[Сообщить, что покупатель отказался от заказа](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusReject)\n| `cancel`   | **Отменено продавцом**    |  \t[Отменить сборочное задание](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusCancel)\n| `cancel_shelf_life` | **Отмена по истечении срока хранения**    |  \tПереводится автоматически по возникновению события\n\n<br><br>\n`wbStatus` — статус системы Wildberries.\n\nВозможные значения `wbStatus`:\n- `waiting` - сборочное задание в работе\n- `sold` - заказ получен покупателем\n- `canceled` - отмена сборочного задания\n- `canceled_by_client` - покупатель отменил заказ при получении\n- `declined_by_client` - покупатель отменил заказ в первый чаc\n<br> Отмена доступна покупателю в первый час с момента заказа, если заказ не переведён на сборку\n- `defect` - отмена заказа по причине брака\n- `ready_for_pickup` - заказ готов к выдаче\n\n<div class=\"description_limit\">\n<a href=\"/openapi/api-information#tag/introduction/Limity-zaprosov\">Лимит запросов</a> на один аккаунт продавца:\n\n| Период | Лимит | Интервал | Всплеск |\n| --- | --- | --- | --- |\n| 1 сек | 1 запрос | 1 сек | 10 запросов |\n\nОдин запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.\n\n<hr>\n\nВ <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.\n\n</div>\n"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderStatusesV2'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/status/cancel:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersStatusCancel
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Сборочные задания Самовывоз
      summary: Отменить сборочные задания
      description: |
        Переводит [сборочные задания](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) из [статусов](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `new`, `confirm`, `prepare` в статус `cancel` — отменено продавцом.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/details:
    post:
      operationId: postV3ClickCollectOrdersMetaDetails
      x-readonly-method: true
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Получить идентификаторы маркировки сборочных заданий
      description: |
        Метод возвращает идентификаторы маркировки [сборочных заданий ](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders) и статусы их проверки.<br><br>

        Перечень идентификаторов маркировки, доступных для сборочного задания, можно получить в [списке новых сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/getV3ClickCollectOrdersNew), поле `requiredMeta`. Если поле `requiredMeta` не содержит какой-либо идентификатор маркировки, значит, у сборочного задания не может быть этого идентификатора — и добавить его нельзя.<br>
        Возможные идентификаторы маркировки:
          - `imei` — [IMEI](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaImei)
          - `uin` — [УИН](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaUin)
          - `gtin` — [GTIN](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaGtin)
          - `sgtin` — [код маркировки](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaSgtin)
          - `customsDeclaration` — [номер ДТ](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration)
          - `originCountryCode` — [числовой код страны происхождения товара](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration) из [Общероссийского классификатора стран мира](https://esnsi.gosuslugi.ru/classifiers/16269)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов

        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaDetailsResponse'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDeniedBatch'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/delete:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersMetaDelete
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Удалить идентификаторы маркировки сборочных заданий
      description: |
        Метод удаляет значения указанных [идентификаторов маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails).
        <br><br>
        В одном запросе можно удалить идентификаторы маркировки только одного типа. Укажите тип идентификаторов маркировки в запросе:
          - `imei` — [IMEI](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaImei)
          - `uin` — [УИН](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaUin)
          - `gtin` — [GTIN](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaGtin)
          - `sgtin` — [код маркировки](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaSgtin)
          - `customsDeclaration` — [номер ДТ](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration). При удалении номера ДТ также удаляется код страны происхождения товара — `originCountryCode`

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>получения и удаления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 150 запросов | 400 мс | 20 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersMetaDeleteRequest'
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/sgtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersMetaSgtin
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Закрепить коды маркировки Честного знака за сборочными заданиями
      description: |
        Метод обновляет код маркировки [Честного знака](https://честныйзнак.рф/) в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails).<br>
        Закрепить код маркировки можно только за сборочным заданием в [статусе](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` и если в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails) есть поле `sgtin`.
        <br><br>
        Получить загруженные маркировки можно в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersSGTINsSetRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/uin:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersMetaUin
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Закрепить УИН за сборочными заданиями
      description: |
        Метод обновляет УИН, уникальные идентификационные номера, в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails). У одного сборочного задания может быть только один УИН. <br>
        Закрепить УИН можно только за сборочным заданием в [статусе](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` и если в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails) есть поле `uin`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersUINSetRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/imei:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersMetaImei
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Закрепить IMEI за сборочными заданиями
      description: |
        Метод обновляет IMEI в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails). <br>
        У одного сборочного задания может быть только один IMEI. Если у устройства два IMEI — **IMEI** и **IMEI2** или **IMEI1** и **IMEI2** — укажите только **IMEI** или **IMEI1**. **IMEI2** указывать не нужно.<br>
        Закрепить IMEI можно только за сборочным заданием в [статусе](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` и если в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails) есть поле `imei`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersIMEISetRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/gtin:
    servers:
      - url: https://marketplace-api.wildberries.ru
        description: |
          **Prod**
      - url: https://marketplace-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV3ClickCollectOrdersMetaGtin
      x-readonly-method: false
      x-category: marketplace
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Закрепить GTIN за сборочными заданиями
      description: |
        Метод обновляет GTIN, уникальный ID товара в Беларуси, в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails). У одного сборочного задания может быть только один GTIN. <br>
        Закрепить GTIN можно только за сборочным заданием в [статусе](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` и если в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails) есть поле `gtin`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersGTINSetRequest'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
  /api/marketplace/v3/click-collect/orders/meta/customs-declaration:
    servers:
      - url: https://marketplace-api.wildberries.ru
    post:
      x-readonly-method: false
      x-category: marketplace
      security:
        - HeaderApiKey: []
      tags:
        - Идентификаторы маркировки Самовывоз
      summary: Закрепить номера ДТ за сборочными заданиями
      operationId: postV3ClickCollectOrdersMetaCustomsDeclaration
      description: |
        Метод обновляет номера ДТ — деклараций на товары — и коды стран происхождения товаров в [идентификаторах маркировки сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails). У одного сборочного задания может быть только один номер ДТ. <br>
        Закрепить номер ДТ можно, только если выполняются все условия:
          - сборочное задание имеет признак B2B-продажи — `"isB2b":true` в ответе метода [получения новых сборочных заданий](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/getV3ClickCollectOrdersNew)
          - сборочное задание находится в [статусах](/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersStatusInfo) `confirm` или `prepare`
          - поле `customsDeclaration` есть в [идентификаторах маркировки сборочного задания](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaDetails)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца для всех методов <strong>закрепления идентификаторов маркировки Самовывоз</strong>:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 20 запросов | 3 сек | 500 запросов |

        Один запрос с кодами ответов <code>4XX</code> учитывается как 10 запросов.

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов <strong>Маркетплейса</strong>.

        </div>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  maxItems: 1000
                  items:
                    type: object
                    properties:
                      customsDeclaration:
                        type: string
                        minLength: 17
                        maxLength: 29
                        description: Номер ДТ
                        example: 10704010/010624/0000302
                      orderId:
                        type: integer
                        description: ID сборочного задания
                      originCountryCode:
                        type: string
                        description: |
                          Числовой код страны происхождения товара из [Общероссийского классификатора стран мира](https://esnsi.gosuslugi.ru/classifiers/16269). Необходимо указывать только для сборочных заданий с признаком B2B-продажи "isB2b":true
                        example: '643'
                        maxLength: 3
                    required:
                      - customsDeclaration
                      - orderId
                      - originCountryCode
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.CustomsDeclarationSetResponse'
              examples:
                CustomsDeclarationResponse:
                  $ref: '#/components/examples/CustomsDeclarationResponse'
        '400':
          $ref: '#/components/responses/IncorrectRequest'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '429':
          $ref: '#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
  examples:
    GetFinalPriceSuccess:
      value:
        requestId: f1787bd2d1fdc35d6f537316514y4a05
        results:
          - orderId: 1234567890
            data:
              originalPrice: 29000
              convertedOriginalPrice: 29000
              originalFinalPrice: 27000
              convertedOriginalFinalPrice: 27000
              currencyCode: 643
              convertedCurrencyCode: 643
            isError: false
    NewOrderClick:
      value:
        orders:
          - ddate: 29.10.2024
            salePrice: 14000
            requiredMeta:
              - sgtin
            article: wb1702fyjh
            rid: 1234567673554519872.0.0
            createdAt: '2024-10-29T10:19:30Z'
            warehouseAddress: Москва, район Якиманка, Софийская набережная, 4 с1
            orderCode: 23457822-6667
            payMode: prepaid
            skus:
              - '2041546265353'
            id: 1234567890
            warehouseId: 1234567
            nmId: 123456789
            chrtId: 987654321
            price: 14000
            finalPrice: 14000
            convertedPrice: 14000
            convertedFinalPrice: 14000
            currencyCode: 643
            convertedCurrencyCode: 643
            cargoType: 1
            isZeroOrder: false
            options:
              isB2b: true
    CustomsDeclarationResponse:
      value:
        requestId: 7849e1c4-d30e-4937-abe3-0e54e85874bd
        results:
          - orderId: 567891234
            isError: false
          - errors:
              - detail: InvalidOriginCountryCode
                code: 400
            orderId: 987654321
            isError: true
          - errors:
              - detail: OrderNotB2B
                code: 422
            orderId: 123456789
            isError: true
          - errors:
              - detail: StatusMismatch
                code: 409
            orderId: 543216789
            isError: true
    IncorrectRequestBody:
      value:
        code: IncorrectRequestBody
        message: Некорректное тело запроса
    InvalidPasscode:
      description: Введён неправильный проверочный код
      value:
        code: InvalidPasscode
    OrderNotFound:
      description: Заказ не найден
      value:
        code: NotFound
    IncorrectParameter:
      value:
        code: IncorrectParameter
        message: Передан некорректный параметр
  schemas:
    api.OrdersFinalPriceResponse:
      type: object
      required:
        - requestId
        - results
      properties:
        requestId:
          type: string
          description: Уникальный ID запроса
        results:
          type: array
          description: Данные ответа
          items:
            $ref: '#/components/schemas/api.OrderFinalPriceResult'
    api.OrderFinalPriceResult:
      type: object
      required:
        - orderId
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          nullable: false
        data:
          description: |
            Данные сборочного задания.
            <br><br>
            Если `"data":{}`, данные формируются. Повторите запрос позднее. Максимальное время формирования данных около 3 минут.
            <br><br>
            Если `data` отсутствует, данных по сборочному заданию не предусмотрено. Используйте данные из ответов методов:
              - [Получить список новых сборочных заданий](/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/getV3ClickCollectOrdersNew)
              - [Получить информацию о завершенных сборочных заданиях](/docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/getV3ClickCollectOrders)
          type: object
          nullable: false
          properties:
            originalPrice:
              description: Цена продавца в валюте продажи без учёта скидок, умноженная на 100. Предоставляется в информационных целях
              type: integer
              nullable: false
            convertedOriginalPrice:
              description: Цена продавца в валюте страны продавца без учёта скидок, умноженная на 100. Предоставляется в информационных целях
              type: integer
              nullable: false
            originalFinalPrice:
              description: Сумма к оплате покупателем в валюте продажи с учетом всех скидок и кэшбека, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
              type: integer
              nullable: false
            convertedOriginalFinalPrice:
              description: Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок и кэшбека, умноженная на 100. Предоставляется в информационных целях
              type: integer
              nullable: false
            currencyCode:
              type: integer
              nullable: false
              format: ISO 4217
              description: Код валюты продажи
            convertedCurrencyCode:
              type: integer
              nullable: false
              format: ISO 4217
              description: Код валюты страны продавца
        errors:
          description: Детали ошибки
          nullable: false
          type: array
          items:
            $ref: '#/components/schemas/api.BatchErrorFinalPriceResponse'
        isError:
          type: boolean
          description: Есть ли ошибки
          nullable: false
    api.CheckedIdentity:
      type: object
      properties:
        ok:
          type: boolean
          description: |
            Принадлежит ли заказ покупателю:
              - `true` — принадлежит
              - `false` — значение не применяется. Если заказ не принадлежит покупателю, вы получите ответ со статус-кодом `409`
    Error:
      type: object
      nullable: false
      properties:
        code:
          type: string
          description: Код ошибки
          nullable: false
        message:
          type: string
          description: Описание ошибки
          nullable: false
        data:
          type: object
          description: Дополнительные данные, обогащающие ошибку
          nullable: true
    api.CheckIdentityRequest:
      type: object
      properties:
        orderCode:
          type: string
          description: Уникальный ID заказа покупателя
        passcode:
          type: string
          description: Код подтверждения
      example:
        orderCode: 170046918-0011
        passcode: '4567'
    api.Error:
      type: object
      properties:
        code:
          type: string
        data:
          type: object
        message:
          type: string
    api.NewOrder:
      type: object
      properties:
        ddate:
          type: string
          description: Планируемая дата доставки
        salePrice:
          description: |
            Цена продавца в валюте продажи с учётом скидки продавца, без учёта скидки WB Клуба, умноженная на 100. Предоставляется в информационных целях
          type: integer
          nullable: true
          example: 504600
        requiredMeta:
          type: array
          nullable: true
          description: |
            Список идентификаторов маркировки, доступных для сборочного задания
          items:
            type: string
        article:
          type: string
          description: Артикул продавца
        rid:
          type: string
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/buyersReturns/operation/getV1Claims)
              - [Лента заказов](./analytics#tag/orderFeed/operation/postV1OrderFeed)
              - [Заказы](./reports#tag/mainReports/operation/getV1SupplierOrders)
              - [Продажи](./reports#tag/mainReports/operation/getV1SupplierSales)
              - [Отчет о возвратах и перемещении товаров](./reports#tag/returnsAndItemMovementReport)
              - [Детализации к отчётам реализации по ID отчётов](./financial-reports-and-accounting#tag/financialReports/operation/postV1SalesReportsDetailedReportId)
              - [Детализации к отчётам реализации за период](./financial-reports-and-accounting#tag/financialReports/operation/postV1SalesReportsDetailed)
              - [Детализации к отчётам об издержках на приём платежей по ID отчётов](./financial-reports-and-accounting#tag/financialReports/operation/postV1AcquiringDetailedReportId)
              - [Детализации к отчётам об издержках на приём платежей за период](./financial-reports-and-accounting#tag/financialReports/operation/postV1AcquiringDetailed)
        createdAt:
          type: string
          description: Дата и время создания сборочного задания
          format: date-time
        warehouseAddress:
          type: string
          description: |
            Адрес магазина (склада продавца), на который поступило сборочное
            задание
        orderCode:
          type: string
          description: |
            Уникальный ID заказа покупателя
        payMode:
          description: |
            Режим оплаты:
              - `prepaid` — предоплатный
              - `postpaid` — постоплатный
              - `unknown` — неизвестный
          type: string
          example: prepaid
        skus:
          type: array
          description: Массив баркодов товара
          items:
            type: string
        id:
          type: integer
          description: ID сборочного задания
        warehouseId:
          type: integer
          description: |
            ID склада продавца, на который поступило сборочное
            задание
        nmId:
          type: integer
          description: Артикул WB
        chrtId:
          type: integer
          description: ID размера товара в системе WB
        price:
          type: integer
          description: |
            Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100.
            Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
        finalPrice:
          description: |
            Сумма к оплате покупателем в валюте продажи с учётом всех скидок, умноженная на 100.
            <br>
            Код валюты продажи указан в поле `currencyCode`.
            <br>
            Предоставляется в информационных целях.
            <br><br>
            Используйте значение поля `finalPrice`, только если в ответе метода [POST /api/marketplace/v3/click-collect/orders/final-price](./docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersFinalPrice) вернулось `"data": null`. Во всех остальных случаях используйте значение поля `originalFinalPrice` из ответа указанного метода
          type: integer
          example: 5000
        convertedPrice:
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
          example: 5000
        convertedFinalPrice:
          description: |
            Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок, умноженная на 100.
            <br>
            Предоставляется в информационных целях.
            <br><br>
             Используйте значение поля `convertedFinalPrice`, только если в ответе метода [POST /api/marketplace/v3/click-collect/orders/final-price](./docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersFinalPrice) вернулось `"data": null`. Во всех остальных случаях используйте значение поля `convertedOriginalFinalPrice` из ответа того же метода
          type: integer
          example: 5000
        currencyCode:
          type: integer
          description: Код валюты продажи
          example: 643
          format: ISO 4217
        convertedCurrencyCode:
          description: Код валюты страны продавца
          format: ISO 4217
          type: integer
          example: 643
        cargoType:
          type: integer
          nullable: false
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
            - 1
            - 2
            - 3
        isZeroOrder:
          type: boolean
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
        options:
          type: object
          description: Опции заказа
          properties:
            isB2b:
              type: boolean
              description: |
                Признак B2B-продажи:
                  - `false` — не B2B-продажа
                  - `true` — B2B-продажа
    api.NewOrders:
      type: object
      properties:
        orders:
          type: array
          description: Список сборочных заданий
          items:
            $ref: '#/components/schemas/api.NewOrder'
    api.Order:
      type: object
      properties:
        article:
          type: string
          description: Артикул продавца
          example: wb6scpbwvp
        cargoType:
          type: integer
          nullable: false
          description: |
            Тип товара:
              - `1` — малогабаритный товар (МГТ)
              - `2` — сверхгабаритный товар (СГТ)
              - `3` — крупногабаритный товар (КГТ+)
          enum:
            - 1
            - 2
            - 3
          example: 1
        chrtId:
          type: integer
          description: ID размера товара в системе WB
          example: 12345676
        createdAt:
          type: string
          description: Дата и время создания сборочного задания
          format: date-time
          example: '2025-03-21T09:53:31Z'
        price:
          type: integer
          description: |
            Цена в валюте продажи с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100.
            Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          example: 5000
        finalPrice:
          description: |
            Сумма к оплате покупателем в валюте продажи с учётом всех скидок, умноженная на 100.
            <br>
            Код валюты продажи указан в поле `currencyCode`.
            <br>
            Предоставляется в информационных целях.
            <br><br>
            Используйте значение поля `finalPrice`, только если в ответе метода [POST /api/marketplace/v3/click-collect/orders/final-price](./docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersFinalPrice) вернулось `"data": null`. Во всех остальных случаях используйте значение поля `originalFinalPrice` из ответа указанного метода
          type: integer
          example: 5000
        convertedPrice:
          description: Цена в валюте страны продавца с учетом всех скидок, кроме скидки по WB Кошельку, умноженная на 100. Код валюты продажи указан в поле `currencyCode`. Предоставляется в информационных целях
          type: integer
          example: 5000
        convertedFinalPrice:
          description: |
            Сумма к оплате покупателем в валюте страны продавца с учетом всех скидок, умноженная на 100.
            <br>
            Предоставляется в информационных целях.
            <br><br>
             Используйте значение поля `convertedFinalPrice`, только если в ответе метода [POST /api/marketplace/v3/click-collect/orders/final-price](./docs/openapi/in-store-pickup#tag/inStorePickupAssemblyOrders/operation/postV3ClickCollectOrdersFinalPrice) вернулось `"data": null`. Во всех остальных случаях используйте значение поля `convertedOriginalFinalPrice` из ответа того же метода
          type: integer
          example: 5000
        currencyCode:
          type: integer
          description: Код валюты продажи
          format: ISO 4217
          example: 643
        convertedCurrencyCode:
          description: Код валюты страны продавца
          format: ISO 4217
          type: integer
          example: 643
        id:
          type: integer
          description: ID сборочного задания
          example: 123456789
        isZeroOrder:
          type: boolean
          description: |
            Признак заказа товара с нулевым остатком:
              - `false` — заказ сделан на товар с ненулевым остатком
              - `true` — заказ сделан на товар с нулевым остатком. Такой заказ можно отменить без штрафа за отмену
          example: false
        nmId:
          type: integer
          description: Артикул WB
          example: 1234567898765
        orderCode:
          type: string
          description: |
            Уникальный ID заказа покупателя
          example: 21117866-0006
        payMode:
          description: |
            Режим оплаты:
              - `prepaid` — предоплатный
              - `postpaid` — постоплатный
              - `unknown` — неизвестный
          type: string
          example: prepaid
        rid:
          type: string
          description: |
            Уникальный ID заказа. <br>
            Примечание: `rid` — это `srid` в ответах методов:
              - [Заявки покупателей на возврат](./user-communication#tag/buyersReturns/operation/getV1Claims)
              - [Лента заказов](./analytics#tag/orderFeed/operation/postV1OrderFeed)
              - [Заказы](./reports#tag/mainReports/operation/getV1SupplierOrders)
              - [Продажи](./reports#tag/mainReports/operation/getV1SupplierSales)
              - [Отчет о возвратах и перемещении товаров](./reports#tag/returnsAndItemMovementReport)
              - [Детализации к отчётам реализации по ID отчётов](./financial-reports-and-accounting#tag/financialReports/operation/postV1SalesReportsDetailedReportId)
              - [Детализации к отчётам реализации за период](./financial-reports-and-accounting#tag/financialReports/operation/postV1SalesReportsDetailed)
              - [Детализации к отчётам об издержках на приём платежей по ID отчётов](./financial-reports-and-accounting#tag/financialReports/operation/postV1AcquiringDetailedReportId)
              - [Детализации к отчётам об издержках на приём платежей за период](./financial-reports-and-accounting#tag/financialReports/operation/postV1AcquiringDetailed)
          example: 5044304527347733263.0.0
        skus:
          type: array
          description: Массив баркодов товара
          items:
            type: string
          example:
            - '2043227963145'
        warehouseAddress:
          type: string
          description: Адрес магазина (склада продавца), на который поступило сборочное задание
          example: Москва, район Якиманка, Софийская набережная, 4 с1
        warehouseId:
          type: integer
          description: ID склада продавца, на который поступило сборочное задание
          example: 1162157
        options:
          type: object
          description: Опции заказа
          properties:
            isB2b:
              example: false
              type: boolean
              description: |
                Признак B2B-продажи:
                  - `false` — не B2B-продажа
                  - `true` — B2B-продажа
    api.OrderClientInfo:
      type: object
      properties:
        phone:
          type: string
          example: '+7111111111'
          description: |
            Телефон для связи с покупателем. Чтобы связаться с покупателем наберите
            этот номер и введите добавочный код. Данный номер не является прямым
            номером покупателя
        firstName:
          type: string
          description: Имя покупателя
          example: Ольга
        orderID:
          type: integer
          example: 4564152
          description: ID сборочного задания
        phoneCode:
          type: integer
          example: 3535
          description: Добавочный код
    api.OrderClientInfoResp:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/api.OrderClientInfo'
    api.Orders:
      type: object
      properties:
        next:
          type: integer
          description: |
            Параметр пагинации. Содержит значение, которое необходимо указать в
            запросе для получения следующего пакета данных
          example: 12345566
        orders:
          type: array
          description: Список сборочных заданий
          items:
            $ref: '#/components/schemas/api.Order'
    api.OrdersRequest:
      type: object
      properties:
        orders:
          type: array
          description: Список ID сборочных заданий
          items:
            type: integer
      example:
        orders:
          - 1234567
    api.OrdersSGTINsSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.SGTINs'
    api.SGTINs:
      type: object
      required:
        - orderId
        - sgtins
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        sgtins:
          type: array
          minItems: 1
          maxItems: 24
          description: Массив кодов маркировки. Допускается от 16 до 135 символов для кода одной маркировки
          example:
            - '123456789012345678'
            - '1234567890123456'
          items:
            type: string
    api.OrdersUINSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.UIN'
    api.UIN:
      type: object
      required:
        - orderId
        - uin
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        uin:
          type: string
          minLength: 16
          maxLength: 16
          description: УИН
          example: '1234568909091232'
    api.OrdersIMEISetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.IMEI'
    api.IMEI:
      type: object
      required:
        - orderId
        - imei
      properties:
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
        imei:
          type: string
          minLength: 15
          maxLength: 15
          description: IMEI
          example: '654321741987258'
    api.OrdersGTINSetRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/api.GTIN'
    api.GTIN:
      type: object
      required:
        - gtin
        - orderId
      properties:
        gtin:
          description: GTIN
          minLength: 13
          maxLength: 13
          type: string
          example: '1234567890123'
        orderId:
          description: ID сборочного задания
          type: integer
          example: 123456
    api.BatchError:
      type: object
      required:
        - origin
        - requestId
        - title
      properties:
        detail:
          type: object
          nullable: true
          description: Детали ошибки
          example: {}
        origin:
          type: string
          description: ID внутреннего сервиса WB
          example: market-public-api
        requestId:
          type: string
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        title:
          type: string
          description: Заголовок ошибки
          example: IncorrectRequest
    api.BatchErrorResponse:
      properties:
        code:
          type: integer
          description: |
            Код ошибки:
              - `404`
              - `409`
              - `400`
          example: 404
        detail:
          type: string
          description: |
            - `NotFound` — сборочное задание не найдено
            - `StatusMismatch` — операция невозможна для этого статуса сборочного задания
            - `ImeiIsNotFilled` — не заполнен IMEI
            - `OrderNotB2B` — операция доступна только для сборочных заданий с признаком B2B-продажи `"isB2b":true`
            - `InvalidOriginCountryCode` — некорректный код страны происхождения товара
          example: NotFound
      type: object
    api.BatchErrorFinalPriceResponse:
      required:
        - code
        - detail
      properties:
        code:
          type: integer
          description: |
            Код ошибки:
              - `404` — `NotFound`
              - `400` — `StatusMismatch`
              - `422` — `PriceNotCalculated`
          example: 404
        detail:
          type: string
          description: |
            - `NotFound` — сборочное задание не найдено (`404`)
            - `StatusMismatch` — операция невозможна для этого статуса сборочного задания (`400`)
            - `PriceNotCalculated` — операция невозможна для сборочных заданий, созданных ранее 23.07.2026 (`422`)
          example: NotFound
      type: object
    api.BatchCustomsDeclarationErrorResponse:
      required:
        - code
        - detail
      properties:
        code:
          type: integer
          description: |
            Код ошибки:
              - `404`
              - `409`
              - `400`
          example: 404
        detail:
          type: string
          description: |
            - `NotFound` — сборочное задание не найдено
            - `StatusMismatch` — операция невозможна для этого статуса сборочного задания
            - `OrderNotB2B` — операция доступна только для сборочных заданий с признаком B2B-продажи `"isB2b":true`
            - `InvalidOriginCountryCode` — некорректный код страны происхождения товара
          example: NotFound
      type: object
    api.MetaErrorResponse:
      required:
        - code
        - detail
      properties:
        code:
          type: integer
          description: Код ошибки
          example: 404
        detail:
          type: string
          description: |
            - `NotFound` — сборочное задание не найдено
            - `IncorrectRequestBody` — неправильный запрос
            - `IncorrectRequest` — передан некорректный параметр
          example: NotFound
      type: object
    api.OrdersErrorResponse:
      required:
        - code
        - detail
      properties:
        code:
          type: integer
          description: Код ошибки
          example: 404
        detail:
          type: string
          description: |
            - `NotFound` — сборочное задание не найдено
          example: NotFound
      type: object
    api.OrdersRequestV2:
      type: object
      required:
        - ordersIds
      properties:
        ordersIds:
          description: Список ID сборочных заданий
          example:
            - 123456
            - 234567
            - 345678
          maxItems: 1000
          type: array
          items:
            type: integer
    api.StatusSetResponses:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
          - orderId: 123456
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 234567
            isError: false
      properties:
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            $ref: '#/components/schemas/api.StatusSetResponse'
          type: array
      type: object
      required:
        - requestId
        - results
    api.CustomsDeclarationSetResponse:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
          - orderId: 123456
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 234567
            isError: false
      properties:
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            $ref: '#/components/schemas/api.StatusSetCustomsDeclarationResponse'
          type: array
      type: object
      required:
        - requestId
        - results
    api.StatusSetResponse:
      type: object
      required:
        - orderId
        - isError
      properties:
        orderId:
          type: integer
          description: ID сборочного задания
          example: 123456
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        errors:
          items:
            $ref: '#/components/schemas/api.BatchErrorResponse'
          type: array
          description: Детали ошибки
    api.StatusSetCustomsDeclarationResponse:
      type: object
      required:
        - orderId
        - isError
      properties:
        orderId:
          type: integer
          description: ID сборочного задания
          example: 123456
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        errors:
          items:
            $ref: '#/components/schemas/api.BatchCustomsDeclarationErrorResponse'
          type: array
          description: Детали ошибки
    api.MetaDetailsResponse:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
          - orderId: 234567
            isError: false
          - orderId: 123456
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 345678
            isError: true
            errors:
              - code: 409
                detail: MetaValidationFail
                metaDetails:
                  - key: imei
                    value: '359876543210925'
                    decision: imeiAlreadySold
      properties:
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            type: object
            required:
              - orderId
              - isError
            properties:
              orderId:
                type: integer
                description: ID сборочного задания
              isError:
                type: boolean
                description: Есть ли ошибки
              errors:
                items:
                  required:
                    - code
                    - detail
                  properties:
                    code:
                      type: integer
                      description: Код ошибки
                    detail:
                      type: string
                      description: |
                        - `NotFound` — сборочное задание не найдено
                        - `StatusMismatch` — операция невозможна для этого статуса сборочного задания
                        - `MetaValidationFail` — идентификаторы маркировки не прошли проверку
                    metaDetails:
                      allOf:
                        - $ref: '#/components/schemas/MetaDetailsErrors'
                        - description: Ошибки проверки идентификаторов маркировки
                  type: object
                type: array
                description: Детали ошибки
      type: object
      required:
        - requestId
        - results
    MetaDetailsErrors:
      type: array
      description: Ошибки проверки идентификаторов маркировки
      items:
        type: object
        properties:
          key:
            type: string
            example: uin
            description: Идентификатор маркировки
          value:
            nullable: true
            type: string
            example: null
            description: Значение идентификатора маркировки
          decision:
            type: string
            example: uinMaySell
            description: |
              Ошибки проверки идентификаторов маркировки. <br>
              - `imei`
                - `pending` — Проверка маркировки продолжается. Дождитесь изменения статуса проверки
                - `required` — Маркировка обязательна и не закреплена за сборочным заданием
                - `imeiInvalidFormat` — Указан неверный формат маркировки
                - `imeiAlreadySold` — Товар с этим IMEI уже продан
              - `uin`
                - `required` — Маркировка обязательна и не закреплена за сборочным заданием
              - `sgtin`
                - `pending` — Проверка маркировки продолжается. Дождитесь изменения статуса проверки
                - `required` — Маркировка обязательна и не закреплена за сборочным заданием
                - `sgtinInvalidFormat` — Указан неверный формат маркировки
                - `sgtinNotFound` — Маркировка не найдена в [Честном знаке](https://chestnyznak.ru)
                - `sgtinEmitted` —  Маркировка эмитирована
                - `sgtinApplied` — Не пройдена процедура Ввод в оборот
                - `sgtinWrittenOff` — Списан
                - `sgtinRetired` — Выбыл
                - `sgtinWithdrawn` — Выбыл
                - `sgtinDisaggregated` — Расформирован
                - `sgtinDisaggregation` — Расформирован
                - `sgtinAppliedNotPaid` — Не оплачен
              - `gtin`
                - `required` — Маркировка обязательна и не закреплена за сборочным заданием
              - `expiration`
                - `required` — Маркировка обязательна и не закреплена за сборочным заданием
              - `customsDeclaration`
                - `required` — Маркировка обязательна и не закреплена за сборочным заданием
    api.OrdersResponses:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
          - orderId: 123456
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 234567
            isError: false
      properties:
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            $ref: '#/components/schemas/api.OrdersResponse'
          type: array
      type: object
      required:
        - requestId
        - results
    api.OrdersResponse:
      type: object
      required:
        - orderId
        - isError
      properties:
        orderId:
          type: integer
          description: ID сборочного задания
          example: 123456
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        errors:
          items:
            $ref: '#/components/schemas/api.OrdersErrorResponse'
          type: array
          description: Детали ошибки
    api.MetaSetResponses:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
          - orderId: 123456
            isError: true
            errors:
              - code: 404
                detail: NotFound
          - orderId: 234567
            isError: false
      properties:
        requestId:
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            $ref: '#/components/schemas/api.MetaSetResponse'
          type: array
      type: object
      required:
        - requestId
        - results
    api.MetaSetResponse:
      type: object
      required:
        - orderId
        - isError
      properties:
        orderId:
          type: integer
          description: ID сборочного задания
          example: 123456
        isError:
          type: boolean
          description: Есть ли ошибки
          example: true
        errors:
          items:
            $ref: '#/components/schemas/api.MetaErrorResponse'
          type: array
          description: Детали ошибки
    api.OrderStatusesV2:
      type: object
      example:
        orders:
          - supplierStatus: confirm
            wbStatus: waiting
            errors: []
            orderId: 123456
          - supplierStatus: ''
            wbStatus: ''
            errors:
              - code: 404
                detail: NotFound
            orderId: 789012
      properties:
        orders:
          type: array
          description: Информация о статусах
          items:
            $ref: '#/components/schemas/api.OrderStatusV2'
    api.OrderStatusV2:
      type: object
      required:
        - orderId
      properties:
        errors:
          description: Информация об ошибке
          items:
            $ref: '#/components/schemas/api.OrdersErrorResponse'
          type: array
        orderId:
          type: integer
          description: ID сборочного задания
        supplierStatus:
          type: string
          description: Статус сборочного задания, установленный продавцом
        wbStatus:
          type: string
          description: Статус сборочного задания в системе Wildberries
    api.OrdersMetaDetailsResponse:
      type: object
      required:
        - requestId
        - orders
      properties:
        requestId:
          type: string
          description: Уникальный ID запроса
          example: f1787bd2d1fdс35d6f537316514у4a05
        orders:
          type: array
          description: Идентификаторы маркировки сборочных заданий и статусы их валидации
          items:
            type: object
            required:
              - isError
              - metaDetails
              - orderId
            properties:
              orderId:
                type: integer
                example: 123456
                description: ID сборочного задания
              isError:
                type: boolean
                description: Есть ли ошибки
                example: false
              errors:
                type: array
                example: []
                description: Информация об ошибке
                items:
                  type: object
                  required:
                    - code
                    - detail
                  properties:
                    code:
                      type: integer
                      description: Код ошибки
                      example: 404
                    detail:
                      type: string
                      example: NotFound
                      description: Дополнительная информация об ошибке
              metaDetails:
                type: array
                description: Идентификаторы маркировки и статусы их валидации
                items:
                  type: object
                  required:
                    - decision
                    - key
                  properties:
                    key:
                      type: string
                      example: imei
                      description: |
                        Идентификатор маркировки:
                          - `imei` — [IMEI](./in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaImei)
                          - `uin` — [УИН](./in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaUin)
                          - `gtin` — [GTIN](./in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaGtin)
                          - `sgtin` — [код маркировки](./in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaSgtin)
                          - `customsDeclaration` — [номер ДТ](./in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration)
                          - `originCountryCode` — [числовой код страны происхождения товара](./in-store-pickup#tag/inStorePickupLabelIdentifiers/operation/postV3ClickCollectOrdersMetaCustomsDeclaration) из [Общероссийского классификатора стран мира](https://esnsi.gosuslugi.ru/classifiers/16269)
                    value:
                      type: string
                      nullable: true
                      description: Значение идентификатора маркировки
                      example: '359876543210025'
                    decision:
                      type: string
                      example: imeiInvalidFormat
                      description: |
                        Статусы проверки идентификатора маркировки. <br>
                        - `imei`
                          - `filled` — Маркировка закреплена за сборочным заданием, проверка не требуется
                          - `optional` — Маркировка не закреплена за сборочным заданием и не обязательна. Проверка пройдена
                          - `deadlineExceeded` — Проверка маркировки не завершена и будет продолжена. Проверка может завершиться и успешно, и неуспешно
                          - `imeiMaySell` — Товар допущен к продаже. Проверка пройдена
                          - `imeiSoldB2B` — Товар продан покупателю B2B, допущен к продаже повторно. Проверка пройдена
                          - `pending` — Проверка маркировки продолжается. Дождитесь изменения статуса проверки
                          - `required` — Маркировка обязательна и не закреплена за сборочным заданием. Проверка не пройдена
                          - `imeiInvalidFormat` — Указан неверный формат маркировки. Проверка не пройдена
                          - `imeiAlreadySold` — Товар с этим IMEI уже продан. Проверка не пройдена
                        - `uin`
                          - `filled` — Маркировка закреплена за сборочным заданием, проверка не требуется
                          - `optional` — Маркировка не закреплена за сборочным заданием и не обязательна. Проверка пройдена
                          - `required` — Маркировка обязательна и не закреплена за сборочным заданием. Проверка не пройдена                         <br>
                        - `sgtin`
                          - `filled` — Маркировка закреплена за сборочным заданием, проверка не требуется
                          - `optional` — Маркировка не закреплена за сборочным заданием и не обязательна. Проверка пройдена
                          - `deadlineExceeded` — Проверка маркировки не завершена и будет продолжена. Проверка может завершиться и успешно, и неуспешно
                          - `sgtinIntroduced` — Товар допущен к продаже. Проверка пройдена
                          - `sgtinSoldB2B` — Товар продан покупателю B2B, допущен к продаже повторно. Проверка пройдена
                          - `pending` — Проверка маркировки продолжается. Дождитесь изменения статуса проверки
                          - `required` — Маркировка обязательна и не закреплена за сборочным заданием. Проверка не пройдена
                          - `sgtinInvalidFormat` — Указан неверный формат маркировки. Проверка не пройдена
                          - `sgtinNotFound` — Маркировка не найдена в [Честном знаке](https://chestnyznak.ru). Проверка не пройдена
                          - `sgtinEmitted` —  Маркировка эмитирована. Проверка не пройдена
                          - `sgtinApplied` — Не пройдена процедура Ввод в оборот. Проверка не пройдена
                          - `sgtinWrittenOff` — Списан. Проверка не пройдена
                          - `sgtinRetired` — Выбыл. Проверка не пройдена
                          - `sgtinWithdrawn` — Выбыл. Проверка не пройдена
                          - `sgtinDisaggregated` — Расформирован. Проверка не пройдена
                          - `sgtinDisaggregation` — Расформирован. Проверка не пройдена
                          - `sgtinAppliedNotPaid` — Не оплачен. Проверка не пройдена
                        - `gtin`
                          - `filled` — Маркировка закреплена за сборочным заданием, проверка не требуется
                          - `optional` — Маркировка не закреплена за сборочным заданием и не обязательна. Проверка пройдена
                          - `required` — Маркировка обязательна и не закреплена за сборочным заданием. Проверка не пройдена
                        - `customsDeclaration`
                          - `filled` — Маркировка закреплена за сборочным заданием, проверка не требуется
                          - `optional` — Маркировка не закреплена за сборочным заданием и не обязательна. Проверка пройдена
                          - `required` — Маркировка обязательна и не закреплена за сборочным заданием. Проверка не пройдена
    api.OrdersMetaDeleteRequest:
      type: object
      required:
        - key
        - ordersIds
      properties:
        key:
          type: string
          enum:
            - imei
            - uin
            - gtin
            - sgtin
            - customsDeclaration
          example: imei
          description: Тип идентификаторов маркировки для удаления. Передаётся только одно значение
        ordersIds:
          type: array
          description: Список ID сборочных заданий
          maxItems: 1000
          example:
            - 123456
            - 234567
          items:
            type: integer
  responses:
    '401':
      description: Не авторизован
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: unauthorized
            detail: 'token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84'
            code: 07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: '2024-09-30T06:52:38Z'
    '402':
      description: Требуется платёж
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки. Ошибка возвращается только сервисам из [Каталога решений для бизнеса](/business-solutions)
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance. please top up the balance in the company's personal account https://dev.wildberries.ru/company
    '429':
      description: Слишком много запросов
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: '2024-09-30T06:52:38Z'
    AccessDenied:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: AccessDenied
            message: Доступ запрещён
    IncorrectRequest:
      description: Неправильный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/api.BatchError'
          example:
            detail: {}
            origin: market-public-api
            requestId: f1787bd2d1fdс35d6f537316514у4a05
            title: IncorrectRequest
    AccessDeniedBatch:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/api.BatchError'
          example:
            detail: {}
            origin: market-public-api
            requestId: f1787bd2d1fdс35d6f537316514у4a05
            title: AccessDenied
