openapi: 3.0.1
info:
  title: Поставки FBW
  version: ordersfbw
  description: |
    <div class="description_important">
      Узнать больше о поставках FBW можно в <a href="https://seller.wildberries.ru/instructions/subcategory/5a8e1202-0865-45b7-acae-5d0afc7add56?goBackOption=prevRoute&categoryId=479385c6-de01-4b4d-ad4e-ed941e65582e">справочном центре</a>
    </div>

    <div class="api-block">

    В разделе описаны методы получения:
      - [информации для формирования поставок](/openapi/orders-fbw#tag/informationForFormingSupplies)
      - [информации о поставках](/openapi/orders-fbw#tag/suppliesInformation)

    Вы можете создавать карточки товара в песочнице [Контента](/openapi/api-information#tag/authorization/Kategorii-tokenov), а потом использовать баркоды товаров в <a href='/sandbox'>песочнице</a> Поставок

    </div>
  x-file-name: orders-fbw
security:
  - HeaderApiKey: []
tags:
  - name: Информация для формирования поставок
    x-displayName: Информация для формирования поставок
    description: ''
    x-tagKey: informationForFormingSupplies
  - name: Информация о поставках
    x-displayName: Информация о поставках
    description: ''
    x-tagKey: suppliesInformation
  - name: Черновики поставок
    x-displayName: Черновики поставок
    description: ''
    x-tagKey: supplyDrafts
paths:
  /api/v1/acceptance/options:
    servers:
      - url: https://supplies-api.wildberries.ru
        description: |
          **Prod**
      - url: https://supplies-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    post:
      operationId: postV1AcceptanceOptions
      x-readonly-method: true
      x-category: supplies
      security:
        - HeaderApiKey: []
      tags:
        - Информация для формирования поставок
      summary: Опции приёмки
      description: |
        Метод [временно отключён](https://dev.wildberries.ru/release-notes?id=570)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 6 запросов | 10 сек | 6 запросов |
        | Сервисный | 1 мин | 6 запросов | 10 сек | 6 запросов |
        | Базовый с секретом | 1 мин | 6 запросов | 10 сек | 6 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов.

        </div>
      parameters:
        - name: warehouseID
          in: query
          description: ID склада. <br> Если параметр не указан, возвращаются данные по всем складам.<br> **Максимум одно значение**
          schema:
            type: integer
          example: 507
      requestBody:
        content:
          application/json:
            schema:
              type: array
              maxItems: 5000
              items:
                $ref: '#/components/schemas/models.Good'
            examples:
              RequestOptions:
                $ref: '#/components/examples/RequestOptions'
        required: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.OptionsResultModel'
              examples:
                Response:
                  $ref: '#/components/examples/OptionsResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorModel'
              examples:
                BadWarehouseIDsParam:
                  $ref: '#/components/examples/Response400Options'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Не найдено
        '429':
          $ref: '#/components/responses/429'
  /api/v1/warehouses:
    servers:
      - url: https://supplies-api.wildberries.ru
        description: |
          **Prod**
      - url: https://supplies-api-sandbox.wildberries.ru
        description: |
          **Sandbox**
    get:
      operationId: getV1Warehouses
      x-readonly-method: true
      x-category: supplies
      security:
        - HeaderApiKey: []
      tags:
        - Информация для формирования поставок
      summary: Список складов
      description: |
        Метод [временно отключён](https://dev.wildberries.ru/release-notes?id=570)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 6 запросов | 10 сек | 6 запросов |
        | Сервисный | 1 мин | 6 запросов | 10 сек | 6 запросов |
        | Базовый с секретом | 1 мин | 6 запросов | 10 сек | 6 запросов |
        | Базовый | 12 ч | 1 запрос | 12 ч | 1 запрос |

        <hr>

        В <a href='/sandbox'>песочнице</a> — максимум 1 запрос в секунду суммарно для всех методов.

        </div>
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/models.WarehousesResultItems'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Не найдено
        '429':
          $ref: '#/components/responses/429'
  /api/v1/transit-tariffs:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      operationId: getV1TransitTariffs
      x-readonly-method: true
      x-category: supplies
      tags:
        - Информация для формирования поставок
      summary: Транзитные направления
      description: |
        Метод [временно отключён](https://dev.wildberries.ru/release-notes?id=570)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 6 запросов | 10 сек | 10 запросов |
        | Сервисный | 1 мин | 6 запросов | 10 сек | 10 запросов |
        | Базовый с секретом | 1 мин | 6 запросов | 10 сек | 10 запросов |
        | Базовый | 12 ч | 1 запрос | 12 ч | 1 запрос |
        </div>
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/models.TransitTariff'
              examples:
                ResponseTariffs:
                  $ref: '#/components/examples/ResponseTariffs'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplies:
    servers:
      - url: https://supplies-api.wildberries.ru
    post:
      operationId: postV1Supplies
      x-readonly-method: true
      x-category: supplies
      tags:
        - Информация о поставках
      summary: Список поставок
      description: |
        Метод возвращает список поставок, по умолчанию — последние 1000 поставок.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Сервисный | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Базовый с секретом | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
        - name: limit
          in: query
          description: Количество записей в ответе
          schema:
            type: integer
            default: 1000
            maximum: 1000
            minimum: 1
        - name: offset
          in: query
          description: После какого элемента выдавать данные
          schema:
            type: integer
            default: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.SuppliesFiltersRequest'
            example:
              dates:
                - from: '2024-03-04'
                  till: '2025-03-24'
                  type: factDate
              statusIDs:
                - 5
                - 6
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/models.Supply'
              example:
                - phone: +7 916 *** 44 44
                  supplyID: null
                  preorderID: 34597755
                  createDate: '2024-12-29T16:58:26+03:00'
                  supplyDate: null
                  factDate: null
                  updatedDate: null
                  statusID: 1
                  boxTypeID: 1
                - phone: +7 916 *** 33 33
                  supplyID: 26596368
                  preorderID: 34601223
                  createDate: '2024-12-29T16:57:59+03:00'
                  supplyDate: '2024-12-29T00:00:00+03:00'
                  factDate: null
                  updatedDate: null
                  statusID: 2
                  boxTypeID: 5
                - phone: +7 000 *** 36 76
                  supplyID: 22677736
                  preorderID: 27363170
                  createDate: '2024-08-22T18:10:59+03:00'
                  supplyDate: '2024-08-22T00:00:00+03:00'
                  factDate: '2024-08-22T12:24:14+03:00'
                  updatedDate: '2024-08-22T18:33:45+03:00'
                  statusID: 6
                  boxTypeID: 2
                  isBoxOnPallet: false
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorModel'
              examples:
                BadTypeFormat:
                  $ref: '#/components/examples/BadTypeFormat'
                BadLimitFormat:
                  $ref: '#/components/examples/BadLimitFormat'
                BadOffsetFormat:
                  $ref: '#/components/examples/BadOffsetFormat'
                BadFromOrTill:
                  $ref: '#/components/examples/BadFromOrTill'
                BadStatusIDs:
                  $ref: '#/components/examples/BadStatusIDs'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplies/{ID}:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      operationId: getV1SuppliesId
      x-readonly-method: true
      x-category: supplies
      tags:
        - Информация о поставках
      summary: Детали поставки
      description: |
        Метод возвращает детали поставки по ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Сервисный | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Базовый с секретом | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
        - name: ID
          in: path
          description: ID поставки или заказа
          required: true
          schema:
            type: integer
        - name: isPreorderID
          in: query
          description: |
            Поиск по:
              - `true` — ID заказа, если в `ID` передаёте ID заказа
              - `false` — ID поставки, если в `ID` передаёте ID поставки
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SupplyDetails'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorModel'
              examples:
                BadPathParamFormat:
                  $ref: '#/components/examples/BadPathParamFormat'
                BadisPreorderIDFormat:
                  $ref: '#/components/examples/BadisPreorderIDFormat'
                PreorderIdSearchError:
                  $ref: '#/components/examples/PreorderIdSearchError'
                BadID:
                  $ref: '#/components/examples/BadID'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorModel'
              examples:
                SupplyNotFound:
                  $ref: '#/components/examples/SupplyNotFound'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplies/{ID}/goods:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      operationId: getV1SuppliesIdGoods
      x-readonly-method: true
      x-category: supplies
      tags:
        - Информация о поставках
      summary: Товары поставки
      description: |
        Метод возвращает информацию о товарах в поставке.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Сервисный | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Базовый с секретом | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
        - name: limit
          in: query
          description: Количество записей в ответе
          schema:
            type: integer
            default: 100
            maximum: 1000
            minimum: 1
        - name: offset
          in: query
          description: После какого элемента выдавать данные
          schema:
            type: integer
            default: 0
        - name: isPreorderID
          in: query
          description: |
            Поиск по:
              - `true` — ID заказа, если в `ID` передаёте ID заказа
              - `false` — ID поставки, если в `ID` передаёте ID поставки
          schema:
            type: boolean
            default: false
        - name: ID
          in: path
          description: ID поставки или заказа
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/models.GoodInSupply'
        '400':
          description: Неправильный запрос
          content:
            text/plain; charset=utf-8:
              schema:
                $ref: '#/components/schemas/models.ErrorModel'
              examples:
                BadOffsetFormat:
                  $ref: '#/components/examples/BadOffsetFormat'
                BadisPreorderIDFormat:
                  $ref: '#/components/examples/BadisPreorderIDFormat'
                BadPathParamFormat:
                  $ref: '#/components/examples/BadPathParamFormat'
                BadLimitFormat:
                  $ref: '#/components/examples/BadLimitFormat'
                BadSupplyIDItems:
                  $ref: '#/components/examples/BadSupplyIDItems'
                BadID:
                  $ref: '#/components/examples/BadID'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
  /api/v1/supplies/{ID}/package:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      operationId: getV1SuppliesIdPackage
      x-readonly-method: true
      x-category: supplies
      tags:
        - Информация о поставках
      summary: Упаковка поставки
      description: |
        Метод возвращает информацию об упаковке поставки.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Сервисный | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Базовый с секретом | 1 мин | 30 запросов | 2 сек | 10 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
        - name: ID
          in: path
          description: ID поставки
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/models.Box'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorModel'
              examples:
                BadPathParamFormat:
                  $ref: '#/components/examples/BadPathParamFormat'
                BadSupplyIDPackage:
                  $ref: '#/components/examples/BadSupplyIDPackage'
                BadID:
                  $ref: '#/components/examples/BadID'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
  /api/supplies/v1/drafts:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      x-readonly-method: true
      x-token-types:
        - personal
        - service
      x-category: supplies
      operationId: getV1Drafts
      summary: Список черновиков
      description: |

        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену, 
                <strong>Сервисному</strong> токену
        </div>

        Метод возвращает список черновиков поставок.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 10 запросов |
        </div>
      tags:
        - Черновики поставок
      parameters:
        - name: limit
          in: query
          description: Количество черновиков в ответе
          schema:
            type: integer
            default: 1000
            minimum: 0
            maximum: 1000
        - name: offset
          in: query
          description: Сколько элементов пропустить. Например, для значения 10 ответ начнется с 11 элемента
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - createDt
              - updateDt
            default: createDt
          description: |
            Сортировка:
              - `createdDt` — по дате создания черновика
              - `updatedDt` — по дате обновления черновика
        - name: order
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: |
            Порядок выдачи:
              - `desc` — по убыванию
              - `asc` — по возрастанию
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ListDraftsResponse'
              example:
                drafts:
                  - draftId: b5aed067-69d4-47b8-a5d0-591c615288f9
                    phone: +7 123 *** 23 23
                    skuQuantity: 5
                    itemQuantity: 1
                    createdAt: '2025-06-17T08:11:57.767Z'
                    updatedAt: '2025-06-17T08:11:57.767Z'
                total: 1
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.DraftError'
              examples:
                BadLimitFormat:
                  $ref: '#/components/examples/BadLimitFormat'
                BadOffsetFormat:
                  $ref: '#/components/examples/BadOffsetFormat'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
    post:
      x-readonly-method: false
      x-token-types:
        - personal
        - service
      x-category: supplies
      operationId: postV1Drafts
      summary: Создать черновик
      description: |

        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену, 
                <strong>Сервисному</strong> токену
        </div>

        Метод создаёт пустой черновик поставки.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 10 запросов |
        </div>
      tags:
        - Черновики поставок
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DraftCreateResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
  /api/supplies/v1/drafts/{draftId}:
    servers:
      - url: https://supplies-api.wildberries.ru
    delete:
      x-readonly-method: false
      x-token-types:
        - personal
        - service
      x-category: supplies
      operationId: deleteV1DraftsDraftId
      summary: Удалить черновик
      description: |

        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену, 
                <strong>Сервисному</strong> токену
        </div>

        Метод удаляет черновик поставки по его ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 10 запросов |
        </div>
      tags:
        - Черновики поставок
      parameters:
        - name: draftId
          in: path
          description: ID черновика
          required: true
          schema:
            type: string
            format: UUID
      responses:
        '204':
          description: Успешно
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.DraftError'
              example:
                status: 400
                title: bad request
                detail: Неверный формат draftId
                requestId: a6bdc2a4d2fde51c2036fa8af2483886
                origin: supply-api
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.DraftError'
              example:
                status: 404
                title: not found
                detail: Черновик не найден
                requestId: a6bdc2a4d2fde51c2036fa8af2483886
                origin: supply-api
        '429':
          $ref: '#/components/responses/429'
  /api/supplies/v1/drafts/{draftId}/items:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      x-readonly-method: true
      x-token-types:
        - personal
        - service
      x-category: supplies
      operationId: getV1DraftsDraftIdItems
      summary: Список товаров в черновике
      description: |

        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену, 
                <strong>Сервисному</strong> токену
        </div>

        Метод возвращает список товаров черновика.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 10 запросов |
        </div>
      tags:
        - Черновики поставок
      parameters:
        - name: draftId
          in: path
          description: ID черновика
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ListDraftItemsResponse'
              example:
                items:
                  - sku: '2039395667350'
                    quantity: 1000
                    nmId: 123456789
                    brandName: Brand
                    subjectName: Комбинезоны для животных
                    imgSrc: https://basket-13.wbbasket.ru/vol123/part3456/123456789/images/tm/1.webp
                    title: комбенизон для собак
                    techSize: '48'
                    vendorCode: '1111'
                    color: красный бархат
                skuQuantity: 1
                itemQuantity: 1
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.DraftError'
              examples:
                BadDraftIdFormat:
                  $ref: '#/components/examples/BadDraftIdFormat'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.DraftError'
              example:
                status: 404
                title: not found
                detail: Черновик не найден
                requestId: a6bdc2a4d2fde51c2036fa8af2483886
                origin: supply-api
        '429':
          $ref: '#/components/responses/429'
    post:
      x-readonly-method: false
      x-category: supplies
      operationId: postV1DraftsDraftIdItems
      x-token-types:
        - personal
        - service
      summary: Добавить товары в черновик
      description: |

        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену, 
                <strong>Сервисному</strong> токену
        </div>

        Метод добавляет товары в черновик поставки.

        <div class="description_important">

         Метод работает по принципу атомарности:
          - если все баркоды прошли валидацию успешно, то все товары добавятся в черновик. В ответе вернётся <code>{"results":[]}</code>
          - если хотя бы один баркод не прошел валидацию, ни один товар в черновик не добавится. В ответе вернётся список невалидных баркодов

        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 10 запросов |
        </div>
      tags:
        - Черновики поставок
      parameters:
        - name: draftId
          in: path
          description: ID черновика
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.DraftAdditemsRequest'
            example:
              items:
                - quantity: 1
                  sku: '1234567'
                - quantity: 1
                  sku: '2000000512907'
      responses:
        '200':
          description: |
            Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DraftAddItemsErrorResponse'
              examples:
                invalidSku:
                  $ref: '#/components/examples/InvalidSku'
                SuccessResponse:
                  $ref: '#/components/examples/SuccessResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.DraftError'
              examples:
                BadDraftIdFormat:
                  $ref: '#/components/examples/BadDraftIdFormat'
                ItemsArrayLimitExceeded:
                  $ref: '#/components/examples/ItemsArrayLimitExceeded'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.DraftError'
              example:
                status: 404
                title: not found
                detail: Черновик не найден
                requestId: a6bdc2a4d2fde51c2036fa8af2483886
                origin: supply-api
        '429':
          $ref: '#/components/responses/429'
    delete:
      x-readonly-method: false
      x-category: supplies
      operationId: deleteV1DraftsDraftIdItems
      x-token-types:
        - personal
        - service
      summary: Удалить товары из черновика
      description: |

        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену, 
                <strong>Сервисному</strong> токену
        </div>

        Метод удаляет товары из черновика поставки по списку баркодов.

          <div class="description_important">
          Баркоды не валидируются. Если в запросе вы передали некорректные баркоды, вы не получите ошибку. При этом корректные баркоды будут удалены из черновика.
          </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 30 запросов | 2 сек | 10 запросов |
        </div>
      tags:
        - Черновики поставок
      parameters:
        - name: draftId
          in: path
          description: ID черновика
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/models.DraftDeleteitemsRequest'
            example:
              skus:
                - '123456789'
      responses:
        '200':
          description: |
            Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.DraftDeleteItemsErrorResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/SuccessResponse1'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.DraftError'
              examples:
                EmptyParameter:
                  $ref: '#/components/examples/BadRequestDraftItems0'
                WrongParameter:
                  $ref: '#/components/examples/BadRequestDraftItems1'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errors.DraftError'
              example:
                status: 404
                title: not found
                detail: Черновик не найден
                requestId: a6bdc2a4d2fde51c2036fa8af2483886
                origin: supply-api
        '429':
          $ref: '#/components/responses/429'
  /api/supplies/v1/discrepancies/{supplyId}:
    servers:
      - url: https://supplies-api.wildberries.ru
    get:
      operationId: getV1SuppliesSupplyIdDiscrepanciesQuantity
      x-readonly-method: true
      x-category: supplies
      x-token-types:
        - personal
      tags:
        - Информация о поставках
      summary: Расхождения в поставке
      description: |
        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену
        </div>

        Метод возвращает информацию о выявленных расхождениях между заявленным и фактическим количеством товара в поставке.
        <br>
        Для поставок принятых не позднее года назад.
        <br><br>
        **Типы расхождений:**
        <br><br>
        Расхождение в большую сторону:<br><br>
        1. Избыток товара с заявленным баркодом:
          - `"discrepancyType": "surplus"`
          - `"discrepancyLabel": "surplus"`
        2. Избыток товара с несоответствующим заявленному баркодом:
          - `"discrepancyType": "surplus"`
          - `"discrepancyLabel": "re-sorting"`

        Расхождение в меньшую сторону:<br><br>
        1. Не хватает товара:
          - `"discrepancyType": "shortage"`
          - `"discrepancyLabel": "shortage"`
        2. Некоторые баркоды не соответствуют заявленным:
          - `"discrepancyType": "shortage"`
          - `"discrepancyLabel": "re-sorting"`

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 1 запрос |
        </div>
      parameters:
        - name: supplyId
          in: path
          description: ID поставки
          required: true
          schema:
            type: string
            format: integer
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/models.ItemDiscrepancyResponse'
              examples:
                ItemDiscrepancyResponse:
                  $ref: '#/components/examples/ItemDiscrepancyResponse'
        '400':
          description: Неправильный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorModel'
              examples:
                BadPathParamFormat:
                  $ref: '#/components/examples/BadPathParamFormat'
                BadSupplyIDPackage:
                  $ref: '#/components/examples/BadSupplyIDPackage'
                BadID:
                  $ref: '#/components/examples/BadID'
        '401':
          $ref: '#/components/responses/401'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.SupplyAcceptedMoreThanYearAgo'
              examples:
                SupplyAcceptedMoreThanYearAgo:
                  $ref: '#/components/examples/SupplyAcceptedMoreThanYearAgo'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Response4XX'
              examples:
                Response403TokenCategory:
                  $ref: '#/components/examples/Response403TokenCategory'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/models.ErrorModel'
              examples:
                SupplyNotFound:
                  $ref: '#/components/examples/SupplyNotFound'
        '429':
          $ref: '#/components/responses/429'
components:
  securitySchemes:
    HeaderApiKey:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    models.ItemDiscrepancyResponse:
      required:
        - packageCode
        - videoUrl
        - videoStartsAt
        - videoUnavailable
        - items
      type: object
      properties:
        packageCode:
          description: ID упаковки
          type: string
        videoUrl:
          description: Видео фиксации расхождений в процессе приёмки
          type: string
        videoStartsAt:
          description: Дата и время видеофиксации расхождений в процессе приемки
          type: string
          format: date-time
        videoUnavailable:
          description: |
            Доступность видео:
               - `false` — видео доступно
               - `true` — видео недоступно
          type: boolean
        items:
          description: Товары поставки
          type: array
          items:
            $ref: '#/components/schemas/models.DiscrepancyResponseItem'
    models.DiscrepancyResponseItem:
      type: object
      required:
        - actualAmount
        - actualSku
        - declaredAmount
        - discrepancyQuantity
        - discrepancyType
        - declaredSku
        - skuScans
      properties:
        declaredSku:
          nullable: false
          description: Баркод, заявленный при формировании поставки
          type: string
        discrepancyType:
          nullable: false
          type: string
          description: |
            Тип расхождения в целом по коробу:
             - `surplus` — товара в коробе больше заявленного
             - `shortage` — товара в коробе меньше заявленного
             - `re-sorting` — баркод принятого товара не соответствует заявленному при формировании поставки
          enum:
            - surplus
            - shortage
            - re-sorting
        declaredAmount:
          nullable: false
          description: Количество товара, заявленное при формировании поставки
          type: integer
        actualAmount:
          nullable: false
          description: Фактическое количество товара
          type: integer
        discrepancyQuantity:
          nullable: false
          description: Разница между заявленным и фактическим количеством товара
          type: integer
        actualSku:
          nullable: false
          description: Фактический баркод
          type: string
        skuScans:
          description: Результаты сканирования товаров
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/models.ItemScans'
    models.ItemScans:
      required:
        - scanId
        - declaredSku
        - scanTime
        - discrepancyLabel
        - actualSku
      type: object
      properties:
        scanId:
          nullable: false
          description: ID сканирования
          type: integer
        declaredSku:
          nullable: false
          description: Баркод, заявленный при формировании поставки
          type: string
        scanTime:
          nullable: false
          description: Дата и время сканирования
          format: date-time
          type: string
        discrepancyLabel:
          nullable: false
          type: string
          description: |
            Тип расхождения товара:
             - `surplus` — товара больше, чем заявлено
             - `shortage` — товара меньше, чем заявлено
             - `re-sorting` — баркод принятого товара не соответствует заявленному при формировании поставки
          enum:
            - surplus
            - shortage
            - re-sorting
        actualSku:
          nullable: false
          type: string
          description: Фактический баркод
    errors.DraftError:
      required:
        - status
        - title
        - requestId
        - origin
      type: object
      properties:
        status:
          type: integer
          description: HTTP статус-код
        title:
          type: string
          description: Заголовок ошибки
        detail:
          type: string
          description: Детали ошибки
        requestId:
          type: string
          description: Уникальный ID запроса
        origin:
          type: string
          description: ID внутреннего сервиса WB
    models.DraftAdditemsRequest:
      type: object
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/models.Item'
          description: Список товаров
          maxItems: 1000
    models.DraftAddItemsErrorResponse:
      required:
        - results
      properties:
        results:
          description: Список невалидных баркодов с ошибками
          items:
            $ref: '#/components/schemas/models.DraftAddItemsResultItem'
          type: array
      type: object
    models.DraftDeleteItemsErrorResponse:
      required:
        - results
      properties:
        results:
          type: array
      type: object
    models.DraftAddItemsResultItem:
      required:
        - error
        - sku
      properties:
        error:
          allOf:
            - $ref: '#/components/schemas/models.DraftAddItemsResultError'
          description: Детали ошибки
        sku:
          description: Баркод
          type: string
      type: object
    models.DraftAddItemsResultError:
      required:
        - detail
        - title
      properties:
        detail:
          description: Детали ошибки
          example: Создайте карточку товара с этим баркодом
          type: string
        title:
          description: Заголовок ошибки
          example: Invalid sku
          type: string
      type: object
    models.DraftCreateResponse:
      required:
        - draftId
      type: object
      properties:
        draftId:
          type: string
          description: ID черновика
          example: cd20d135-f13f-47a0-903c-3bd268b92047
    models.DraftDeleteitemsRequest:
      type: object
      required:
        - skus
      properties:
        skus:
          type: array
          minItems: 1
          items:
            type: string
          description: Список баркодов
    models.DraftItemItem:
      required:
        - sku
        - color
        - quantity
        - brandName
        - imgSrc
        - nmId
        - subjectName
        - techSize
        - title
        - vendorCode
      type: object
      properties:
        sku:
          type: string
          description: Баркод
        color:
          type: string
          description: Цвет товара
        quantity:
          type: integer
          description: Количество единиц товара
        brandName:
          type: string
          description: Бренд
        imgSrc:
          type: string
          description: Ссылка на изображение товара
        nmId:
          type: integer
          description: Артикул WB
        subjectName:
          type: string
          description: Предмет
        techSize:
          type: string
          description: Размер товара
        title:
          type: string
          description: Название товара
        vendorCode:
          type: string
          description: Артикул продавца
    models.DraftItem:
      required:
        - draftId
        - phone
        - createdAt
        - updatedAt
        - skuQuantity
        - itemQuantity
      type: object
      properties:
        draftId:
          type: string
          description: ID черновика
        phone:
          type: string
          description: Телефон пользователя, создавшего черновик
        createdAt:
          type: string
          description: Дата и время создания черновика
          format: ISO 8601
        updatedAt:
          type: string
          description: Дата и время последнего обновления черновика
          format: ISO 8601
        skuQuantity:
          type: integer
          description: Количество баркодов
        itemQuantity:
          type: integer
          description: Количество единиц товара
    models.ListDraftItemsResponse:
      required:
        - skuQuantity
        - itemQuantity
        - items
      type: object
      properties:
        skuQuantity:
          type: integer
          description: Количество баркодов
        itemQuantity:
          type: integer
          description: Количество единиц товара
        items:
          type: array
          items:
            $ref: '#/components/schemas/models.DraftItemItem'
          description: Список товаров
    models.ListDraftsResponse:
      required:
        - total
        - drafts
      type: object
      properties:
        total:
          type: integer
          description: Общее количество черновиков
        drafts:
          type: array
          items:
            $ref: '#/components/schemas/models.DraftItem'
          description: Список черновиков
    models.Item:
      type: object
      required:
        - quantity
        - sku
      properties:
        quantity:
          type: integer
          description: |
            Количество единиц товара
          minimum: 1
          maximum: 999999
        sku:
          type: string
          description: Баркод из карточки товара
    models.TransitTariff:
      type: object
      properties:
        transitWarehouseName:
          type: string
          description: Транзитный склад
        destinationWarehouseName:
          type: string
          description: Склад назначения
        activeFrom:
          type: string
          description: С какого числа доступно транзитное направление
          format: date-time
        boxTariff:
          nullable: true
          type: array
          description: Тариф за транзит коробов. Если `null`, транзит для коробов недоступен
          items:
            $ref: '#/components/schemas/models.VolumeTariff'
        palletTariff:
          type: integer
          description: Тариф за паллету, ₽
    models.VolumeTariff:
      type: object
      properties:
        from:
          type: integer
          description: Объём поставки от, литры
        to:
          type: integer
          description: Объём поставки до, литры
        value:
          type: number
          description: Тариф, ₽ за литр
    models.Box:
      type: object
      properties:
        packageCode:
          type: string
          description: Штрих-код упаковки
        quantity:
          type: integer
          description: Суммарное количество товара в упаковке, шт
        barcodes:
          type: array
          description: Список упакованных товаров
          items:
            $ref: '#/components/schemas/models.GoodInBox'
      example:
        packageCode: WB_689
        quantity: 1
        barcodes:
          - barcode: '1234567891234'
            quantity: 1
    models.GoodInBox:
      type: object
      properties:
        barcode:
          type: string
          description: Баркод
        quantity:
          type: integer
          description: Количество, шт
    models.SuppliesFiltersRequest:
      properties:
        dates:
          description: Фильтр по датам
          items:
            $ref: '#/components/schemas/models.DateFilterRequest'
          type: array
        statusIDs:
          description: |
            Фильтр поставок по статусам. Возможные значения:
              - `1` — Не запланировано
              - `2` — Запланировано
              - `3` — Отгрузка разрешена
              - `4` — Идёт приёмка
              - `5` — Принято
              - `6` — Отгружено на воротах
          items:
            $ref: '#/components/schemas/models.HandySupplyStatus'
          type: array
      type: object
    models.GoodInSupply:
      type: object
      properties:
        barcode:
          description: Баркод товара
          type: string
        vendorCode:
          type: string
          description: Артикул продавца
        nmID:
          type: integer
          description: Артикул WB
        needKiz:
          description: |
            Нужен ли [код маркировки Честного знака](https://честныйзнак.рф/) для этого товара:
              - `false` — не нужен
              - `true` — нужен
          type: boolean
        tnved:
          type: string
          description: |
            Код ТНВЭД.
            <br>
            Если `"needKiz":true`, а `"tnved":null`, нужно заполнить характеристику товара **ТН ВЭД** в [личном кабинете](https://seller.wildberries.ru/new-goods) или по [API](./item-management#tag/listings/operation/postV2CardsUpdate)
          nullable: true
        techSize:
          type: string
          description: Размер товара, указанный продавцом
        color:
          description: Цвет товара
          type: string
          nullable: true
        supplierBoxAmount:
          type: integer
          nullable: true
          description: Указано в упаковке, шт
        quantity:
          type: integer
          description: Указано в поставке/заказе, шт
        readyForSaleQuantity:
          type: integer
          nullable: true
          description: Поступило в продажу, шт
        acceptedQuantity:
          type: integer
          nullable: true
          description: Принято, шт
        unloadingQuantity:
          type: integer
          nullable: true
          description: Количество товара на раскладке, шт
      example:
        barcode: '1234567891234'
        vendorCode: wb4sewt0vg
        nmID: 987456654
        needKiz: true
        tnved: '6204430000'
        techSize: C
        color: красный
        supplierBoxAmount: 10
        quantity: 10
        readyForSaleQuantity: 0
        unloadingQuantity: 0
        acceptedQuantity: 0
    models.DateFilterRequest:
      properties:
        from:
          type: string
          description: Дата начала периода
          format: ISO 8601
        till:
          type: string
          description: Дата окончания периода
          format: ISO 8601
        type:
          type: string
          enum:
            - factDate
            - createDate
            - supplyDate
            - updatedDate
          description: |
            Тип дат:
              - `factDate` — дата фактической отгрузки поставки
              - `createDate` — дата создания поставки
              - `supplyDate` — плановая дата отгрузки поставки
              - `updatedDate` — дата изменения поставки
      required:
        - type
      type: object
    models.SupplyDetails:
      type: object
      properties:
        phone:
          description: Телефон пользователя, создавшего поставку
          type: string
        statusID:
          description: |
            ID статуса поставки:
              - `1` — Не запланировано
              - `2` — Запланировано
              - `3` — Отгрузка разрешена
              - `4` — Идёт приёмка
              - `5` — Принято
              - `6` — Отгружено на воротах
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          type: integer
        virtualTypeID:
          description: |
            ID типа виртуальной поставки. Отображается только для поставок с `"boxTypeID":0`.
              - `0` — Перенос остатков
              - `1` — Обезличка
              - `4` — QR-поставка
              - `5` — Допринято
              - `6` — Скан-приёмка
          type: integer
        boxTypeID:
          description: |
            ID типа поставки:
              - `0` — Без коробов (виртуальная поставка)
              - `1` и `2` — Короба
              - `5` — Монопаллеты
              - `6` — Суперсейф
          type: integer
        createDate:
          description: Дата и время создания поставки
          type: string
        supplyDate:
          description: Плановая дата отгрузки поставки
          type: string
          nullable: true
        factDate:
          description: Дата фактической отгрузки поставки
          type: string
          nullable: true
        updatedDate:
          description: Дата изменения поставки
          type: string
          nullable: true
        warehouseID:
          description: ID склада, на который планируется поставка
          type: integer
        warehouseName:
          description: Название склада, на который планируется поставка
          type: string
        actualWarehouseID:
          description: ID склада, на который поставка была привезена
          type: integer
          nullable: true
        actualWarehouseName:
          description: Название склада, на который поставка привезена
          type: string
        transitWarehouseID:
          description: ID транзитного склада
          type: integer
          nullable: true
        transitWarehouseName:
          description: Название транзитного склада
          type: string
        acceptanceCost:
          description: Предварительная стоимость приёмки, ₽
          type: number
          nullable: true
        paidAcceptanceCoefficient:
          description: Коэффициент приёмки
          type: number
          nullable: true
        rejectReason:
          description: Причина, по которой поставка не может быть принята
          type: string
          nullable: true
        supplierAssignName:
          nullable: true
          description: Краткое название продавца
          type: string
        storageCoef:
          description: Коэффициент хранения
          type: string
          nullable: true
        deliveryCoef:
          description: Коэффициент логистики
          type: string
          nullable: true
        quantity:
          type: integer
          description: Добавлено в поставку/заказ, шт
        readyForSaleQuantity:
          type: integer
          nullable: false
          description: Поступило в продажу, шт
        acceptedQuantity:
          type: integer
          nullable: false
          description: Принято, шт
        unloadingQuantity:
          type: integer
          nullable: false
          description: Количество товара, находящегося на раскладке, шт
        depersonalizedQuantity:
          type: integer
          nullable: true
          description: Количество обезличенного товара, шт
        discrepancies:
          type: integer
          description: |
            Расхождения между заявленным и фактическим количеством товара в поставке.
            <br>
            Только при `"statusID":5`
        isBoxOnPallet:
          type: boolean
          description: |
            Тип поставки — **Поштучная палета**:
              - `true` — да
              - `false` — нет

              Поле возвращается только при `"boxTypeID": 2`
      example:
        phone: +7 903 *** 98 62
        statusID: 5
        boxTypeID: 2
        createDate: '2025-07-15T17:17:45+03:00'
        supplyDate: '2025-07-15T00:00:00+03:00'
        factDate: '2025-07-18T11:37:32+03:00'
        updatedDate: '2025-07-18T12:59:53+03:00'
        warehouseID: 507
        warehouseName: Коледино
        actualWarehouseID: 507
        actualWarehouseName: Коледино
        transitWarehouseID: null
        transitWarehouseName: ''
        acceptanceCost: 5000
        paidAcceptanceCoefficient: 10
        rejectReason: null
        supplierAssignName: Магазин
        storageCoef: '215'
        deliveryCoef: '200'
        quantity: 10
        readyForSaleQuantity: 0
        acceptedQuantity: 10
        unloadingQuantity: 10
        depersonalizedQuantity: 0
        discrepancies: 0
        isBoxOnPallet: true
    models.HandySupplyStatus:
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
      type: integer
      x-enum-varnames:
        - NotPlanned
        - Planned
        - AllowUnload
        - Accepting
        - Accepted
        - Virtual
        - UnloadedOnGate
    models.Supply:
      properties:
        phone:
          description: Телефон пользователя, создавшего поставку
          type: string
        supplyID:
          description: ID поставки. Если `null`, это заказ, тогда используйте значение поля `preorderID`
          type: integer
          nullable: true
        preorderID:
          description: ID заказа (незапланированная поставка). Для всех виртуальных поставок будет `0`
          type: integer
        createDate:
          description: Дата и время создания поставки
          type: string
        supplyDate:
          description: Плановая дата отгрузки поставки
          type: string
          nullable: true
        factDate:
          description: Дата фактической отгрузки поставки
          type: string
          nullable: true
        updatedDate:
          description: Дата изменения поставки
          type: string
          nullable: true
        statusID:
          description: |
            ID статуса поставки:
              - `1` — Не запланировано
              - `2` — Запланировано
              - `3` — Отгрузка разрешена
              - `4` — Идёт приёмка
              - `5` — Принято
              - `6` — Отгружено на воротах
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
          type: integer
        boxTypeID:
          description: |
            ID типа поставки:
              - `0` — Без коробов (виртуальная поставка)
              - `1` и `2` — Короба
              - `5` — Монопаллеты
              - `6` — Суперсейф
        isBoxOnPallet:
          type: boolean
          description: |
            Тип поставки — **Поштучная палета**:
              - `true` — да
              - `false` — нет

              Поле возвращается только при `"boxTypeID": 2`
      type: object
    models.WarehousesResultItems:
      type: object
      properties:
        ID:
          type: integer
          description: ID склада
        name:
          type: string
          description: Название склада
        address:
          type: string
          description: Адрес склада
        workTime:
          type: string
          description: Режим работы склада
        isActive:
          type: boolean
          description: |
            Доступен ли в качестве склада назначения:
            - `true` — да
            - `false` — нет
        isTransitActive:
          type: boolean
          description: |
            Доступен ли в качестве транзитного склада:
            - `true` — да
            - `false` — нет
      example:
        ID: 300461
        name: Гомель 2
        address: Гомель, Могилёвская улица 1/А
        workTime: 24/7
        isActive: false
        isTransitActive: true
    models.Good:
      type: object
      properties:
        quantity:
          type: integer
          description: |
            Суммарное количество товаров, планируемых для поставки. <br>  **Максимум 999999**
          minimum: 1
          maximum: 999999
        barcode:
          type: string
          description: Баркод из карточки товара
    models.ErrorModel:
      type: object
      properties:
        status:
          type: integer
          description: HTTP статус-код
        title:
          type: string
          description: ID ошибки
        detail:
          type: string
          description: Описание ошибки
        requestId:
          type: string
          description: ID запроса
        origin:
          type: string
          description: Сервис, вернувший ошибку
    models.OptionsResultModel:
      type: object
      properties:
        result:
          type: array
          items:
            type: object
            properties:
              barcode:
                type: string
                description: Баркод из карточки товара
              error:
                type: object
                description: Данные ошибки. При наличии
                properties:
                  title:
                    type: string
                    description: ID ошибки
                  detail:
                    type: string
                    description: Описание ошибки
              isError:
                type: boolean
                description: |
                  Наличие ошибки:
                    - `true` — ошибка есть
                    - Поля нет — ошибка отсутствует
              warehouses:
                type: array
                nullable: true
                description: Список складов. При наличии ошибки будет `null`
                items:
                  type: object
                  properties:
                    warehouseID:
                      type: integer
                      description: ID склада. По нему можно получить [информацию о складе](./orders-fbw#tag/informationForFormingSupplies/operation/getV1Warehouses)
                    canBox:
                      type: boolean
                      description: |
                        Тип упаковки **Короб**:
                          - `true` — доступен
                          - `false` — недоступен
                    canMonopallet:
                      type: boolean
                      description: |
                        Тип упаковки **Монопаллета**:
                          - `true` — доступен
                          - `false` — недоступен
                    canSupersafe:
                      type: boolean
                      description: |
                        Тип упаковки **Суперсейф**:
                          - `true` — доступен
                          - `false` — недоступен
                    isBoxOnPallet:
                      type: boolean
                      description: |
                        Тип поставки **Поштучная палета**:
                          - `true` — доступен
                          - `false` — недоступен
        requestId:
          type: string
          description: ID запроса при наличии ошибок
    models.SupplyAcceptedMoreThanYearAgo:
      type: object
      required:
        - status
        - title
        - detail
        - requestId
        - origin
      properties:
        status:
          type: integer
          description: HTTP-статус код
        title:
          type: string
          description: Краткое описание ошибки
        detail:
          type: string
          description: Подробное описание ошибки
        requestId:
          type: string
          description: ID запроса
        origin:
          type: string
          description: Сервис, в котором произошла ошибка
    Response4XX:
      type: object
      properties:
        title:
          type: string
          description: Заголовок ошибки
        detail:
          type: string
          description: Детали ошибки
        code:
          type: string
          description: Внутренний код ошибки
        requestId:
          type: string
          description: ID запроса
        origin:
          type: string
          description: ID внутреннего сервиса WB
        status:
          type: number
          description: HTTP статус-код
        statusText:
          type: string
          description: Расшифровка HTTP статус-кода
        timestamp:
          type: string
          format: date-time
          description: Дата и время запроса
  examples:
    SupplyAcceptedMoreThanYearAgo:
      summary: Поставка принята больше года назад
      value:
        status: 403
        title: forbidden
        detail: поставка принята больше года назад
        requestId: 36c00cfacde02214ca39c0c7486746f1
        origin: supply-api
    BadDraftIdFormat:
      description: Значение параметра `draftId` некорректно
      value:
        status: 400
        title: bad request
        detail: Неверный формат draftId
        requestId: f02ddbea3875b553cab3ed899b7abd33
        origin: supply-api
    ItemsArrayLimitExceeded:
      description: Превышен максимальный размер массива `items`
      value:
        status: 400
        title: bad request
        detail: Превышен максимальный размер массива items. Максимум 1000
        requestId: test-request-id-1
        origin: supply-api
    BadRequestDraftItems0:
      description: |
        Не указано значение параметра
      value:
        status: 400
        title: bad request
        detail: Укажите значение параметра 'skus'
        requestId: a6bdc2a4d2fde51c2036fa8af2483886
        origin: supply-api
    BadRequestDraftItems1:
      description: |
        Не указан параметр
      value:
        status: 400
        title: bad request
        detail: Укажите параметр 'skus'
        requestId: a6bdc2a4d2fde51c2036fa8af2483886
        origin: supply-api
    InvalidSku:
      description: |
        Переданы некорректные баркоды.
        Ни один баркод не добавлен в черновик
      value:
        results:
          - sku: '1234567'
            error:
              title: Invalid sku
              detail: Создайте карточку товара с этим баркодом
    SuccessResponse:
      description: Все баркоды успешно добавлены в черновик
      value:
        results: []
    SuccessResponse1:
      description: Успешно
      value:
        results: []
    RequestOptions:
      value:
        - quantity: 1
          barcode: k
        - quantity: 7
          barcode: '1111111111'
    OptionsResponse:
      value:
        result:
          - barcode: Seller
            warehouses: null
            error:
              title: barcode validation error
              detail: barcode Seller is not found
            isError: true
          - barcode: '123456789'
            warehouses:
              - warehouseID: 205349
                canBox: true
                canMonopallet: false
                canSupersafe: false
                isBoxOnPallet: false
              - warehouseID: 211622
                canBox: false
                canMonopallet: true
                canSupersafe: false
                isBoxOnPallet: true
              - warehouseID: 214951
                canBox: true
                canMonopallet: false
                canSupersafe: false
                isBoxOnPallet: true
              - warehouseID: 206319
                canBox: true
                canMonopallet: false
                canSupersafe: false
                isBoxOnPallet: true
        requestId: kr53d2bRKYmkK2N6zaNKHs
    Response400Options:
      value:
        status: 400
        title: bad request
        detail: Неверный формат warehouseID
        requestId: a6bdc2a4d2fde51c2036fa8af2483886
        origin: supply-api
      description: Значение параметра `warehouseID` не указано, или некорректно
    BadTypeFormat:
      value:
        status: 400
        title: bad request
        detail: 'Выберите значение параметра ''Type'' из списка: ''factDate createDate supplyDate updatedDate'''
        requestId: 31aba083c7144409c3cbbb968e693f16
        origin: supply-api
      description: Значение параметра `type` не указано или некорректно
    BadStatusIDs:
      value:
        status: 400
        title: bad request
        detail: 'Выберите значение параметра ''StatusIDs[0]'' из списка: ''1 2 3 4 5 6'''
        requestId: 52d7410a596b40cecfeb70c41ae5ac99
        origin: supply-api
      description: Значение параметра `statusIDs` некорректно
    BadFromOrTill:
      value:
        status: 400
        title: bad request
        detail: 'ошибка при считывании даты "11-03-2019". Дата должна быть в формате ISO Date: 2006-01-02'
        requestId: 7916f0258e363ad2b6663e980903818d
        origin: supply-api
      description: Указанная дата некорректна
    BadOffsetFormat:
      value:
        status: 400
        title: bad request
        detail: Неверный формат offset
        requestId: a6bdc2a4d2fde51c2036fa8af2483886
        origin: supply-api
      description: Значение параметра `offset` некорректно
    BadLimitFormat:
      value:
        status: 400
        title: bad request
        detail: Неверный формат limit
        requestId: a6bdc2a4d2fde51c2036fa8af2483886
        origin: supply-api
      description: Значение параметра `limit` некорректно
    BadisPreorderIDFormat:
      value:
        status: 400
        title: bad request
        detail: Неверный формат isPreorderID
        requestId: a6bdc2a4d2fde51c2036fa8af2483886
        origin: supply-api
      description: Значение параметра `isPreorderID` не указано или некорректно
    BadPathParamFormat:
      value:
        status: 400
        title: bad request
        detail: неверный формат id (должен быть int32)
        requestId: aee7d3a5378ef3c7ec0e7a5bc94abfcf
        origin: supply-api
      description: Значение параметра `ID` не указано или некорректно
    PreorderIdSearchError:
      value:
        status: 400
        title: bad request
        detail: 'fail to get supply details: по заказу 123456789 найдена поставка 987654321. Используйте поиск по ID поставки'
        requestId: bc28456e85d5590c74decbcd9f63cd91
        origin: supply-api
      description: По заказу найдена поставка. Используйте поиск по ID поставки
    BadID:
      value:
        status: 400
        title: bad request
        detail: id выходит за рамки int32
        requestId: 0e35ac7fdbb94695db4004cb4c4ca12b
        origin: supply-api
      description: Длина значения параметра ID превышена
    SupplyNotFound:
      value:
        status: 404
        title: not found
        detail: поставка 1234 не найдена
        requestId: a6bdc2a4d2fde51c2036fa8af2483886
        origin: supply-api
    BadSupplyIDItems:
      value:
        status: 400
        title: bad request
        detail: 'fail to get box barcodes info: fail to get barcodes info: internal error: get supply by id: Поставка не найдена'
        requestId: a6bdc2a4d2fde51c2036fa8af2483886
        origin: supply-api
      description: Не найдена указанная поставка
    BadSupplyIDPackage:
      value:
        status: 400
        title: bad request
        detail: 'fail to get barcodes info: internal error: get supply by id: Поставка не найдена'
        requestId: a6bdc2a4d2fde51c2036fa8af2483886
        origin: supply-api
      description: Не найдена указанная поставка
    ResponseTariffs:
      value:
        - transitWarehouseName: Обухово
          destinationWarehouseName: Краснодар
          activeFrom: '2024-11-03T21:01:00Z'
          boxTariff: null
          palletTariff: 7500
        - transitWarehouseName: СЦ Гомель 2
          destinationWarehouseName: Краснодар (Тихорецкая)
          activeFrom: '2025-04-08T21:00:48.019Z'
          boxTariff:
            - from: 0
              to: 1500
              value: 5.3
            - from: 1500
              to: 0
              value: 3.9
          palletTariff: 6500
    ItemDiscrepancyResponse:
      value:
        - packageCode: WB_2282893992
          videoUrl: ''
          videoStartsAt: '2026-07-11T10:02:42Z'
          videoUnavailable: false
          items:
            - declaredSku: '1234567890'
              discrepancyType: surplus
              declaredAmount: 1
              actualAmount: 2
              discrepancyQuantity: 2
              actualSku: '1234567890'
              skuScans:
                - scanId: 1
                  declaredSku: '1234567890'
                  scanTime: '2025-01-18T21:11:54+03:00'
                  discrepancyLabel: surplus
                  actualSku: '1234567890'
                - scanId: 2
                  declaredSku: '1234567890'
                  scanTime: '2025-01-18T21:11:54+03:00'
                  discrepancyLabel: surplus
                  actualSku: '1234567890'
    Response403TokenCategory:
      value:
        status: 403
        statusText: Forbidden
        title: Forbidden
        detail: scope is not allowed for this resource
        requestId: 2dbf6fc9-bad8-4ef9-a058-c938a8553ba5
        origin: ag-marketplace
        timestamp: '2026-09-03T13:55:15Z'
      description: Неверная категория токена
  responses:
    '401':
      description: Не авторизован
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: unauthorized
            detail: 'token problem; token is malformed: could not base64 decode signature: illegal base64 data at input byte 84'
            code: 07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: ag-marketplace
            status: 401
            statusText: Unauthorized
            timestamp: '2024-09-30T06:52:38Z'
    '402':
      description: Требуется платёж
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки. Ошибка возвращается только сервисам из [Каталога решений для бизнеса](/business-solutions)
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance. please top up the balance in the company's personal account https://dev.wildberries.ru/company
    '403':
      description: Доступ запрещён
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          examples:
            Response403TokenCategory:
              value:
                status: 403
                statusText: Forbidden
                title: Forbidden
                detail: scope is not allowed for this resource
                requestId: 2dbf6fc9-bad8-4ef9-a058-c938a8553ba5
                origin: ag-marketplace
                timestamp: '2026-09-03T13:55:15Z'
              description: Неверная категория токена
    '429':
      description: Слишком много запросов
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              title:
                type: string
                description: Заголовок ошибки
              detail:
                type: string
                description: Детали ошибки
              code:
                type: string
                description: Внутренний код ошибки
              requestId:
                type: string
                description: Уникальный ID запроса
              origin:
                type: string
                description: ID внутреннего сервиса WB
              status:
                type: number
                description: HTTP статус-код
              statusText:
                type: string
                description: Расшифровка HTTP статус-кода
              timestamp:
                type: string
                format: date-time
                description: Дата и время запроса
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: 07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: ag-marketplace
            status: 429
            statusText: Too Many Requests
            timestamp: '2024-09-30T06:52:38Z'
