openapi: 3.0.1
info:
  description: |
    <div class="api-block">

    В этом разделе:
    - [общая информация о WB API](/openapi/api-information#tag/introduction)
    - как [начать работу с WB API](/openapi/api-information#tag/introduction/Kak-nachat-rabotu-s-API)
    - как [авторизоваться](/openapi/api-information#tag/authorization) и [создавать токены](/openapi/api-information#tag/authorization/Kak-sozdat-personalnyj-bazovyj-ili-testovyj-token)
    - основные [статус-коды ответов](/openapi/api-information#tag/introduction/Status-kody-HTTP)
    - [лимиты запросов](/openapi/api-information#tag/introduction/Limity-zaprosov)
    - как обратиться в [поддержку](/openapi/api-information#tag/introduction/Podderzhka)

    С помощью методов этого раздела вы можете:
    - проверить [подключение к WB API](/openapi/api-information#tag/connectionCheck/operation/getPing)
    - получить [новости портала продавцов](/openapi/api-information#tag/newsApi/operation/getV2News)
    - получить [информацию о продавце](/openapi/api-information#tag/sellerInformation/operation/getV1SellerInfo)
    - [управлять пользователями продавца](/openapi/api-information#tag/sellerUserManagement)

    </div>
  title: Общее
  version: general
  x-file-name: general
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Введение
  x-displayName: Введение
- description: ""
  name: Авторизация
  x-displayName: Авторизация
- description: ""
  name: Проверка подключения к WB API
  x-displayName: Проверка подключения к WB API
- description: ""
  name: API новостей
  x-displayName: API новостей
- description: ""
  name: Информация о продавце
  x-displayName: Информация о продавце
- description: ""
  name: Управление пользователями продавца
  x-displayName: Управление пользователями продавца
paths:
  /ping:
    get:
      description: |
        Метод проверяет:
          1. Успешно ли запрос доходит до WB API
          2. Валидность токена авторизации и URL запроса
          3. Совпадают ли категория токена и сервис

        <div class="description_important">
          Метод не предназначен для проверки доступности сервисов WB
        </div>

        У каждого сервиса есть свой вариант метода в зависимости от домена:

        | Категория | URL запроса |
        |---------------|-----------------------|
        | Контент | `https://content-api.wildberries.ru/ping`<br>`https://content-api-sandbox.wildberries.ru/ping` |
        | Аналитика | `https://seller-analytics-api.wildberries.ru/ping` |
        | Цены и скидки | `https://discounts-prices-api.wildberries.ru/ping`<br>`https://discounts-prices-api-sandbox.wildberries.ru/ping` |
        | Маркетплейс | `https://marketplace-api.wildberries.ru/ping` |
        | Статистика | `https://statistics-api.wildberries.ru/ping`<br>`https://statistics-api-sandbox.wildberries.ru/ping` |
        | Продвижение | `https://advert-api.wildberries.ru/ping`<br>`https://advert-api-sandbox.wildberries.ru/ping` |
        | Вопросы и отзывы | `https://feedbacks-api.wildberries.ru/ping`<br>`https://feedbacks-api-sandbox.wildberries.ru/ping` |
        | Чат с покупателями | `https://buyer-chat-api.wildberries.ru/ping` |
        | Поставки | `https://supplies-api.wildberries.ru/ping` |
        | Возвраты покупателями | `https://returns-api.wildberries.ru/ping` |
        | Документы | `https://documents-api.wildberries.ru/ping` |
        | Финансы | `https://finance-api.wildberries.ru/ping` |
        | Тарифы, Новости, Получить информацию о продавце | `https://common-api.wildberries.ru/ping` |
        | Управление пользователями продавца | `https://user-management-api.wildberries.ru/ping` |

        <div class="description_limit">
          Максимум 3 запроса за 30 <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">секунд</a>. Если попытаться автоматизировать использование метода, запросы будут временно заблокированы. Лимит действует отдельно для каждого варианта метода в зависимости от домена
        </div>
      operationId: getPing
      responses:
        "200":
          content:
            application/json:
              example:
                TS: 2024-08-16T11:19:05+03:00
                Status: OK
              schema:
                $ref: "#/components/schemas/getPing_200_response"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Проверка подключения
      tags:
      - Проверка подключения к WB API
      x-readonly-method: true
      x-category: all
    servers:
    - url: https://common-api.wildberries.ru
  /api/communications/v2/news:
    get:
      description: |
        Метод позволяет получать новости портала продавцов. <br> Для получения успешного ответа необходимо указать
        один из параметров `from` или `fromID`. <br> За один запрос можно получить не более 100 новостей.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      operationId: getV2News
      parameters:
      - description: "Дата, от которой необходимо выдать новости"
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 2025-02-06
          format: date
          type: string
        style: form
      - description: "ID новости, начиная с которой — включая её — нужно получить\
          \ список новостей"
        example: 7369
        explode: true
        in: query
        name: fromID
        required: false
        schema:
          format: uint64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - content: |
                    Теперь в кампаниях ВБ.Медиа вы можете размещать баннеры для пользователей, которые взаимодействовали
                    с товарами из определённой категории: покупали, искали, добавляли в корзину и избранное. Также можно
                    выбрать период, за который хотите учитывать эти действия.Например, вы продаёте обувь. Рекламу можно
                    показать людям, которые добавляли в корзину или избранное товары из этой категории за последние 14
                    дней. Возможно, пользователи, которые попадают под этот критерий, уже совершили покупку. Поэтому вы
                    можете уточнить настройки показа: добавить параметр «Не покупал товар из категории „Обувь“ в последние
                    14 дней». Так вероятность того, что ваш баннер приведёт к покупке, будет выше.Чтобы запустить рекламу,
                    создайте в кабинете ВБ.Медиа кампанию «По показам» и на шаге 4 включите «Поведенческие параметры».
                    Эти параметры можно комбинировать с таргетированием по предполагаемым интересам, полу, возрасту и
                    региону.Подробнее о том, как настроить таргетинг, — в инструкции «По показам».Запустить рекламу на
                    Wildberries
                  date: 2025-02-05T14:10:35+03:00
                  header: |
                    Новые настройки кампаний в ВБ.Медиа: таргетируйте рекламу в зависимости от того, как аудитория
                    использует сервисы Wildberries
                  id: 7369
                  types:
                  - id: 4
                    name: Маркетинг
                - content: |
                    Добавили получение отчётов по текстам поисковых запросов в формате CSV. В описания методов «Создать
                    отчёт» и «Получить отчёт» добавили описания и примеры моделей: • запросов — SearchReportTextReq, •
                    успешных ответов (статус-код 200) — SearchReportTextRes.В ответ метода «Поисковые запросы по товару»
                    добавили 8 полей и структуры price и medianPosition. Узнать больше можно в Журнале изменений.Эти методы
                    доступны только с подпиской «Джем»
                  date: 2025-02-06T18:14:58+03:00
                  header: Изменения в API «Аналитики и данных»
                  id: 7373
                  types:
                  - id: 8
                    name: API
                  - id: 41
                    name: Аналитика продавца
              schema:
                $ref: "#/components/schemas/getV2News_200_response"
          description: Успешно
        "400":
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получение новостей портала продавцов
      tags:
      - API новостей
      x-readonly-method: true
      x-category: commonapi
    servers:
    - url: https://common-api.wildberries.ru
  /api/v1/seller-info:
    get:
      description: |
        <div class="description_auth">
          Информацию о продавце можно получить с токеном любой <a href="/openapi/api-information#tag/authorization/Kategorii-tokenov">категории</a>
        </div>

        Метод позволяет получать наименование продавца и ID его профиля.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Сервисный | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый с секретом | 1 мин | 1 запрос | 1 мин | 10 запросов |
        | Базовый | 24 ч | 1 запрос | 24 ч | 1 запрос |
        </div>
      operationId: getV1SellerInfo
      responses:
        "200":
          content:
            application/json:
              example:
                name: ИП Кружинин В. Р.
                sid: e8923014-e233-47q8-898e-3cc86d67ea61
                tin: "1234567890"
                tradeMark: Flax Store
              schema:
                $ref: "#/components/schemas/getV1SellerInfo_200_response"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV1SellerInfo_402_response"
          description: Требуется платёж
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить информацию о продавце
      tags:
      - Информация о продавце
      x-readonly-method: true
      x-category: commonapi
    servers:
    - url: https://common-api.wildberries.ru
  /api/common/v1/rating:
    get:
      description: |
        <div class="description_auth">
          Для доступа к методу используйте <a href="/openapi/api-information#tag/authorization/Kak-sozdat-personalnyj-bazovyj-ili-testovyj-token">токен</a> для категории <strong>Вопросы и отзывы</strong>
        </div>


        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Сервисному</strong> токену
        </div>

        Метод возвращает пользовательский рейтинг продавца и количество отзывов.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 1 запрос |
        </div>
      operationId: getV1Rating
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupplierRatingModel"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV1SellerInfo_402_response"
          description: Требуется платёж
        "403":
          content:
            application/problem+json:
              example:
                title: forbidden
                detail: base token is not allowed
                code: base token is not allowed for this path
                requestId: 722199b2e15bbca48cc1d488a7989976
                origin: s2s-finance
                status: 403
                statusText: Forbidden
                timestamp: 2026-05-25T02:47:09Z
              schema:
                $ref: "#/components/schemas/getV1Rating_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить рейтинг продавца
      tags:
      - Информация о продавце
      x-readonly-method: true
      x-category: questionsandfeedback
      x-token-types:
      - service
    servers:
    - url: https://feedbacks-api.wildberries.ru
  /api/common/v1/subscriptions:
    get:
      description: |
        <div class="description_auth">
          Информацию о подписке Джем можно получить с токеном любой <a href="/openapi/api-information#tag/authorization/Kategorii-tokenov">категории</a>
        </div>


        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Сервисному</strong> токену
        </div>

        Метод возвращает информацию о подписке [Джем](https://seller.wildberries.ru/monetization/jam):
          - Если продавец никогда не подключал подписку Джем, возвращается пустой ответ `200`.
          - Если продавец активировал и никогда не отменял подписку, возвращается:
            - дата активации подписки `since`
            - дата окончания текущего оплаченного периода `till`
          - Если подписка закончилась или была отменена, но продавец подключил её повторно, возвращается:
            - дата первой активации подписки `since`
            - дата окончания текущего оплаченного периода `till`
          - Если подписка неактивна, возвращается:
            - дата первой активации подписки `since`
            - дата окончания последнего оплаченного периода `till`

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 10 запросов |
        </div>
      operationId: getV1Subscriptions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionsJamInfo"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: "#/components/schemas/getV1SellerInfo_402_response"
          description: Требуется платёж
        "403":
          content:
            application/problem+json:
              example:
                title: forbidden
                detail: base token is not allowed
                code: base token is not allowed for this path
                requestId: 722199b2e15bbca48cc1d488a7989976
                origin: s2s-finance
                status: 403
                statusText: Forbidden
                timestamp: 2026-05-25T02:47:09Z
              schema:
                $ref: "#/components/schemas/getV1Rating_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить информацию о подписке Джем
      tags:
      - Информация о продавце
      x-readonly-method: true
      x-category: commonapi
      x-token-types:
      - service
    servers:
    - url: https://common-api.wildberries.ru
  /api/common/v1/tariff-constructor/options:
    get:
      description: |
        <div class="description_auth">
          Информацию об опциях Конструктора тарифов можно получить с токеном любой <a href="/openapi/api-information#tag/authorization/Kategorii-tokenov">категории</a>
        </div>


        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Сервисному</strong> токену
        </div>

        Метод возвращает информацию обо всех опциях и пакетах опций, которые продавец подключил в [Конструкторе тарифов](https://seller.wildberries.ru/tariff-constructor).<br><br>

        Опции, входящие в подключённые пакеты, возвращаются в массиве `packages`. Опции, подключённые вне пакетов, возвращаются в массиве `options`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 мин | 1 запрос | 1 мин | 10 запросов |
        </div>
      operationId: getV1TariffConstructorOptions
      parameters:
      - description: |
          Язык полей ответа:
            - `ru` — русский
            - `en` — английский
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: ru
          enum:
          - ru
          - en
          example: ru
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                PlanBuilderSuccess:
                  $ref: "#/components/examples/PlanBuilderSuccess"
              schema:
                $ref: "#/components/schemas/PlanBuilderOptionsInfo"
          description: Успешно
        "400":
          content:
            application/problem+json:
              examples:
                PlanBuilder400:
                  $ref: "#/components/examples/PlanBuilder400"
              schema:
                $ref: "#/components/schemas/PlanBuilderErrors"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "403":
          content:
            application/problem+json:
              example:
                title: forbidden
                detail: base token is not allowed
                code: base token is not allowed for this path
                requestId: 722199b2e15bbca48cc1d488a7989976
                origin: s2s-finance
                status: 403
                statusText: Forbidden
                timestamp: 2026-05-25T02:47:09Z
              schema:
                $ref: "#/components/schemas/getV1Rating_403_response"
          description: Доступ запрещён
        "404":
          content:
            application/problem+json:
              examples:
                PlanBuilder404:
                  $ref: "#/components/examples/PlanBuilder404"
              schema:
                $ref: "#/components/schemas/PlanBuilderErrors"
          description: Не найдено
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить информацию об опциях Конструктора тарифов
      tags:
      - Информация о продавце
      x-readonly-method: true
      x-category: commonapi
      x-token-types:
      - service
    servers:
    - url: https://common-api.wildberries.ru
  /api/v1/invite:
    post:
      description: |
        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену
        </div>

        Метод создаёт приглашение для нового пользователя с настройкой доступов к разделам профиля продавца.<br>
        Как выдаются права доступа:
        - Если `access` пустой (`[]`) или не указан — по умолчанию выдаются все доступы, кроме доступов к витрине (`showcase`) и **Джем** (`changeJam`)
        - Если в `access` указана часть разделов профиля, то кроме тех доступов, что указаны в запросе, также выдаются все доступы по умолчанию
        - Если в `access` перечислены все возможные разделы, доступы будут выданы согласно запросу, без доступов по умолчанию
        - Если в `access` дважды указан один и тот же раздел (`code`):
          - при разных значениях `disabled` (`true` и `false`) доступ не будет выдан
          - при одинаковых значениях `"disabled": true` доступ не будет выдан
          - при одинаковых значениях `"disabled": false` доступ будет выдан

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 5 запросов |
        </div>
      operationId: postV1Invite
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createInviteRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createInviteResponse"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "403":
          content:
            application/problem+json:
              example:
                title: forbidden
                detail: base token is not allowed
                code: base token is not allowed for this path
                requestId: 722199b2e15bbca48cc1d488a7989976
                origin: s2s-finance
                status: 403
                statusText: Forbidden
                timestamp: 2026-05-25T02:47:09Z
              schema:
                $ref: "#/components/schemas/getV1Rating_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Создать приглашение для нового пользователя
      tags:
      - Управление пользователями продавца
      x-readonly-method: false
      x-category: usermanagement
      x-token-types:
      - personal
    servers:
    - url: https://user-management-api.wildberries.ru
  /api/v1/users:
    get:
      description: |
        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену
        </div>

        Метод возвращает список активных или приглашённых пользователей профиля продавца.<br><br>
        Чтобы выбрать список, укажите значение параметра `isInviteOnly`:
          - `isInviteOnly=true` — список приглашённых пользователей, которые ещё не активировали доступ
          - `isInviteOnly=false` или не указан — список активных пользователей

        По каждому пользователю можно получить:
          - роль пользователя
          - разделы, к которым есть доступы
          - статус приглашения

        Список приглашённых пользователей в ответе всегда отсортирован по дате создания: от новых до старых.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 5 запросов |
        </div>
      operationId: getV1Users
      parameters:
      - description: Количество активных или приглашённых пользователей в ответе
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int64
          maximum: 100
          type: integer
        style: form
      - description: |
          Сколько элементов пропустить. Например, для значения 10 ответ начнется с 11 элемента
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int64
          type: integer
        style: form
      - description: |
          - `true` — список приглашённых пользователей, которые ещё не активировали доступ
          - `false` или не указан — список активных пользователей профиля продавца
        explode: true
        in: query
        name: isInviteOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                invitesOnly:
                  description: Список приглашённых пользователей
                  summary: isInviteOnly=true
                  value:
                    total: 2
                    countInResponse: 2
                    users:
                    - id: 0
                      role: ""
                      position: Аналитик
                      phone: "79998888888"
                      email: ""
                      isOwner: false
                      firstName: ""
                      secondName: ""
                      patronymic: ""
                      goodsReturn: false
                      isInvitee: true
                      inviteeInfo:
                        phoneNumber: "79998888888"
                        position: Аналитик
                        inviteUuid: 00000000-0000-4000-8000-000000000001
                        expiredAt: 2025-12-01T00:00:00Z
                        isActive: true
                      access:
                      - code: supply
                        disabled: true
                      - code: changeJam
                        disabled: true
                      - code: showcase
                        disabled: false
                      - code: suppliersDocuments
                        disabled: false
                      - code: discountPrice
                        disabled: true
                      - code: feedbacks
                        disabled: false
                      - code: questions
                        disabled: false
                      - code: brands
                        disabled: true
                      - code: pointsForReviews
                        disabled: false
                      - code: pinFeedbacks
                        disabled: false
                      - code: finance
                        disabled: true
                      - code: balance
                        disabled: false
                      - code: oldAnalyticsReports
                        disabled: false
                      - code: marketplace
                        disabled: false
                      - code: brandsFlow
                        disabled: false
                      - code: copyrightComplaints
                        disabled: false
                      - code: pretrialClaims
                        disabled: false
                      - code: sellersChat
                        disabled: false
                      - code: brandzone
                        disabled: false
                      - code: brandzoneSubscribe
                        disabled: false
                    - id: 0
                      role: ""
                      position: ""
                      phone: 7999XXXX102
                      email: ""
                      isOwner: false
                      firstName: ""
                      secondName: ""
                      patronymic: ""
                      goodsReturn: false
                      isInvitee: true
                      inviteeInfo:
                        phoneNumber: "79996666666"
                        position: Аналитик
                        inviteUuid: 00000000-0000-4000-8000-000000000002
                        expiredAt: 2025-12-10T00:00:00Z
                        isActive: false
                      access:
                      - code: supply
                        disabled: true
                      - code: changeJam
                        disabled: true
                      - code: showcase
                        disabled: false
                      - code: suppliersDocuments
                        disabled: false
                      - code: discountPrice
                        disabled: true
                      - code: feedbacks
                        disabled: false
                      - code: questions
                        disabled: false
                      - code: brands
                        disabled: true
                      - code: pointsForReviews
                        disabled: false
                      - code: pinFeedbacks
                        disabled: false
                      - code: finance
                        disabled: true
                      - code: balance
                        disabled: false
                      - code: oldAnalyticsReports
                        disabled: false
                      - code: marketplace
                        disabled: false
                      - code: brandsFlow
                        disabled: false
                      - code: copyrightComplaints
                        disabled: false
                      - code: pretrialClaims
                        disabled: false
                      - code: sellersChat
                        disabled: false
                      - code: brandzone
                        disabled: false
                      - code: brandzoneSubscribe
                        disabled: false
                usersOnly:
                  description: Список активных пользователей
                  summary: isInviteOnly=false
                  value:
                    total: 2
                    countInResponse: 2
                    users:
                    - id: 1001
                      role: user
                      position: Аналитик
                      phone: "79999999999"
                      email: user1@example.com
                      isOwner: true
                      firstName: Иван
                      secondName: Иванов
                      patronymic: ""
                      goodsReturn: true
                      isInvitee: false
                      inviteeInfo: null
                      access:
                      - code: supply
                        disabled: true
                      - code: changeJam
                        disabled: true
                      - code: showcase
                        disabled: false
                      - code: suppliersDocuments
                        disabled: false
                      - code: discountPrice
                        disabled: true
                      - code: feedbacks
                        disabled: false
                      - code: questions
                        disabled: false
                      - code: brands
                        disabled: true
                      - code: pointsForReviews
                        disabled: false
                      - code: pinFeedbacks
                        disabled: false
                      - code: finance
                        disabled: true
                      - code: balance
                        disabled: false
                      - code: oldAnalyticsReports
                        disabled: false
                      - code: marketplace
                        disabled: false
                      - code: brandsFlow
                        disabled: false
                      - code: copyrightComplaints
                        disabled: false
                      - code: pretrialClaims
                        disabled: false
                      - code: sellersChat
                        disabled: false
                      - code: brandzone
                        disabled: false
                      - code: brandzoneSubscribe
                        disabled: false
                    - id: 1002
                      role: user
                      position: Менеджер
                      phone: "79997777777"
                      email: user2@example.com
                      isOwner: false
                      firstName: Владимир
                      secondName: Смирнов
                      patronymic: ""
                      goodsReturn: true
                      isInvitee: true
                      inviteeInfo:
                        phoneNumber: "79997777777"
                        position: Менеджер
                        inviteUuid: 00000000-0000-4000-8000-000000000001
                        expiredAt: 2025-12-01T00:00:00Z
                        isActive: true
                      access:
                      - code: supply
                        disabled: true
                      - code: changeJam
                        disabled: true
                      - code: showcase
                        disabled: false
                      - code: suppliersDocuments
                        disabled: false
                      - code: discountPrice
                        disabled: true
                      - code: feedbacks
                        disabled: false
                      - code: questions
                        disabled: false
                      - code: brands
                        disabled: true
                      - code: pointsForReviews
                        disabled: false
                      - code: pinFeedbacks
                        disabled: false
                      - code: finance
                        disabled: true
                      - code: balance
                        disabled: false
                      - code: oldAnalyticsReports
                        disabled: false
                      - code: marketplace
                        disabled: false
                      - code: brandsFlow
                        disabled: false
                      - code: copyrightComplaints
                        disabled: false
                      - code: pretrialClaims
                        disabled: false
                      - code: sellersChat
                        disabled: false
                      - code: brandzone
                        disabled: false
                      - code: brandzoneSubscribe
                        disabled: false
              schema:
                $ref: "#/components/schemas/getUsersResponse"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "403":
          content:
            application/problem+json:
              example:
                title: forbidden
                detail: base token is not allowed
                code: base token is not allowed for this path
                requestId: 722199b2e15bbca48cc1d488a7989976
                origin: s2s-finance
                status: 403
                statusText: Forbidden
                timestamp: 2026-05-25T02:47:09Z
              schema:
                $ref: "#/components/schemas/getV1Rating_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получить список активных или приглашённых пользователей продавца
      tags:
      - Управление пользователями продавца
      x-readonly-method: true
      x-category: usermanagement
      x-token-types:
      - personal
    servers:
    - url: https://user-management-api.wildberries.ru
  /api/v1/users/access:
    put:
      description: |
        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену
        </div>

        Метод меняет права доступа одному или нескольким пользователям.<br>
        <br>
        Обновляются только права доступа, переданные в параметрах запроса. Остальные поля остаются без изменений.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 5 запросов |
        </div>
      operationId: putV1UsersAccess
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateUserAccessRequest"
        required: true
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "403":
          content:
            application/problem+json:
              example:
                title: forbidden
                detail: base token is not allowed
                code: base token is not allowed for this path
                requestId: 722199b2e15bbca48cc1d488a7989976
                origin: s2s-finance
                status: 403
                statusText: Forbidden
                timestamp: 2026-05-25T02:47:09Z
              schema:
                $ref: "#/components/schemas/getV1Rating_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Изменить права доступа пользователей
      tags:
      - Управление пользователями продавца
      x-readonly-method: false
      x-category: usermanagement
      x-token-types:
      - personal
    servers:
    - url: https://user-management-api.wildberries.ru
  /api/v1/user:
    delete:
      description: |
        <div class="description_token">
            Метод <a href="/openapi/api-information#tag/authorization/Pravila-ispolzovaniya-tokenov-dostupa-k-API">доступен</a> по
                <strong>Персональному</strong> токену
        </div>

        Метод удаляет пользователя из [списка сотрудников продавца](/openapi/api-information#tag/sellerUserManagement/operation/getV1Users). Этому пользователю будет закрыт доступ в профиль продавца.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/introduction/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:

        | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- |
        | 1 сек | 1 запрос | 1 сек | 10 запросов |
        </div>
      operationId: deleteV1User
      parameters:
      - description: "ID пользователя, которому будет закрыт доступ"
        explode: true
        in: query
        name: deletedUserID
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Не авторизован
        "403":
          content:
            application/problem+json:
              example:
                title: forbidden
                detail: base token is not allowed
                code: base token is not allowed for this path
                requestId: 722199b2e15bbca48cc1d488a7989976
                origin: s2s-finance
                status: 403
                statusText: Forbidden
                timestamp: 2026-05-25T02:47:09Z
              schema:
                $ref: "#/components/schemas/getV1Rating_403_response"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/getPing_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Удалить пользователя
      tags:
      - Управление пользователями продавца
      x-readonly-method: false
      x-category: usermanagement
      x-token-types:
      - personal
    servers:
    - url: https://user-management-api.wildberries.ru
components:
  examples:
    PlanBuilderSuccess:
      value:
        activeOptionCount: 2
        activePackageCount: 1
        totalCommissionRate: 2.3
        packages:
        - slug: super-seller
          name: Суперпродавец
          status: active
          periodDuration: 90
          commissionRate: 0.8
          activatedAt: 2026-03-15T00:00:00+03:00
          expiresAt: 2026-06-15T00:00:00+03:00
          options:
          - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
            slug: review-pin
            name: Закрепление отзыва
          - id: b2c3d4e5-f6a7-8901-bcde-f12345678901
            slug: premium-seller-status
            name: Статус Премиум-продавца
        options:
        - id: c3d4e5f6-a7b8-9012-cdef-123456789012
          slug: daily-withdrawal
          name: Запрос вывода денег в любой день
          status: active
          periodDuration: 90
          commissionRate: 1
          activatedAt: 2026-03-15T00:00:00+03:00
          expiresAt: 2026-05-20T00:00:00+03:00
        - id: d4e5f6a7-b8c9-0123-defa-234567890123
          slug: priority-support
          name: Приоритетная поддержка
          status: pendingDeactivation
          periodDuration: 30
          activatedAt: 2026-03-15T00:00:00+03:00
          expiresAt: 2026-04-10T00:00:00+03:00
          promotion:
            commissionRate: 0.3
            expiresAt: 2026-04-30T00:00:00+03:00
    PlanBuilder400:
      value:
        title: Validation failed
        detail: "Invalid locale value 'fr'. Allowed values: ru, en"
        status: 400
        origin: options-service
        code: INVALID_LOCALE
        requestId: abc123-def456
        errors:
        - field: locale
          message: "Must be one of: ru, en"
    PlanBuilder404:
      value:
        title: Options not available
        detail: Options are not available for this supplier
        status: 404
        origin: options-service
        code: OPTIONS_NOT_AVAILABLE
  responses:
    "401":
      content:
        application/problem+json:
          example:
            title: unauthorized
            detail: "token problem; token is malformed: could not base64 decode signature:\
              \ illegal base64 data at input byte 84"
            code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/getPing_401_response"
      description: Не авторизован
    "402":
      content:
        application/problem+json:
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance.
              please top up the balance in the company's personal account https://dev.wildberries.ru/company
          schema:
            $ref: "#/components/schemas/getV1SellerInfo_402_response"
      description: Требуется платёж
    "403":
      content:
        application/problem+json:
          example:
            title: forbidden
            detail: base token is not allowed
            code: base token is not allowed for this path
            requestId: 722199b2e15bbca48cc1d488a7989976
            origin: s2s-finance
            status: 403
            statusText: Forbidden
            timestamp: 2026-05-25T02:47:09Z
          schema:
            $ref: "#/components/schemas/getV1Rating_403_response"
      description: Доступ запрещён
    "429":
      content:
        application/problem+json:
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: "#/components/schemas/getPing_401_response"
      description: Слишком много запросов
  schemas:
    Access:
      description: Настройки доступа к разделам профиля продавца
      example:
      - code: balance
        disabled: false
      - code: pointsForReviews
        disabled: false
      - code: brands
        disabled: true
      - code: finance
        disabled: true
      - code: supply
        disabled: true
      items:
        $ref: "#/components/schemas/Access_inner"
      type: array
    getUsersResponse:
      example:
        total: 0
        countInResponse: 6
        users:
        - id: 1
          role: user
          position: position
          phone: phone
          email: email
          isOwner: true
          firstName: firstName
          secondName: secondName
          patronymic: patronymic
          goodsReturn: true
          isInvitee: true
          inviteeInfo:
            phoneNumber: phoneNumber
            position: position
            inviteUuid: inviteUuid
            expiredAt: 2000-01-23T04:56:07.000+00:00
            isActive: true
          access:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
        - id: 1
          role: user
          position: position
          phone: phone
          email: email
          isOwner: true
          firstName: firstName
          secondName: secondName
          patronymic: patronymic
          goodsReturn: true
          isInvitee: true
          inviteeInfo:
            phoneNumber: phoneNumber
            position: position
            inviteUuid: inviteUuid
            expiredAt: 2000-01-23T04:56:07.000+00:00
            isActive: true
          access:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
      properties:
        total:
          description: Общее количество активных или приглашённых пользователей
          type: integer
        countInResponse:
          description: Количество активных или приглашённых пользователей на текущей
            странице
          type: integer
        users:
          description: Информация о пользователях
          items:
            $ref: "#/components/schemas/getUsersResponse_users_inner"
          type: array
      required:
      - countInResponse
      - total
      - users
      type: object
    createInviteRequest:
      example:
        access:
        - code: balance
          disabled: false
        - code: pointsForReviews
          disabled: false
        - code: brands
          disabled: true
        - code: finance
          disabled: true
        - code: supply
          disabled: true
        invite:
          phoneNumber: "79999999999"
          position: Менеджер
      properties:
        access:
          description: Настройки доступа к разделам профиля продавца
          example:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
          items:
            $ref: "#/components/schemas/Access_inner"
          type: array
        invite:
          $ref: "#/components/schemas/createInviteRequest_invite"
      required:
      - invite
      type: object
    createInviteResponse:
      description: Данные приглашения
      example:
        inviteID: 741b8aa6-08ac-4782-8a9d-d931bcbbf608
        expiredAt: 2025-10-06T10:56:04.335060746Z
        isSuccess: true
        inviteUrl: https://seller.wildberries.ru/supplier-settings/supplier-card?inviteId=e5a813c7-65e0-4599-a550-a6b3d85661ed
      properties:
        inviteID:
          description: ID приглашения
          format: uuid
          type: string
        expiredAt:
          description: Дата и время окончания срока действия приглашения
          format: date-time
          type: string
        isSuccess:
          description: |
            - `true` — приглашение создано успешно
            - `false` — повторите запрос
          type: boolean
        inviteUrl:
          description: "URL приглашения, по которому должен перейти пользователь"
          type: string
      required:
      - expiredAt
      - inviteID
      - inviteUrl
      - isSuccess
      type: object
    updateUserAccessRequest:
      example:
        usersAccesses:
        - userId: 42334965
          access:
          - code: balance
            disabled: false
          - code: finance
            disabled: true
          - code: feedbacks
            disabled: false
        - userId: 52334965
          access:
          - code: balance
            disabled: true
          - code: changeJam
            disabled: false
          - code: showcase
            disabled: false
      properties:
        usersAccesses:
          description: Настройки доступа для пользователя
          items:
            $ref: "#/components/schemas/UserAccess"
          type: array
      required:
      - usersAccesses
      type: object
    UserAccess:
      properties:
        userId:
          description: ID пользователя
          type: integer
        access:
          description: Настройки доступа к разделам профиля продавца
          example:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
          items:
            $ref: "#/components/schemas/Access_inner"
          type: array
      type: object
    errorResponse:
      example:
        title: Bad Request
        status: 400
        detail: "bad request cause: user is not in current supplier"
        requestId: c479c04d0b576a9ba0b20fdf235004c2
        origin: public-acl
      properties:
        title:
          description: Заголовок ошибки
          type: string
        detail:
          description: Детали ошибки
          type: string
        requestId:
          description: ID запроса
          type: string
        origin:
          description: Название внутреннего сервиса
          type: string
        status:
          description: HTTP статус-код
          type: number
      required:
      - detail
      - origin
      - requestId
      - status
      - title
      type: object
    SupplierRatingModel:
      example:
        feedbackCount: 12355
        valuation: 4.55
      properties:
        feedbackCount:
          description: Количество отзывов
          example: 12355
          type: integer
        valuation:
          description: Рейтинг продавца
          example: 4.55
          format: float
          type: number
      type: object
    SubscriptionsJamInfo:
      description: Информация о подписке Джем
      example:
        state: active
        activationSource: jam
        level: premium
        since: 2026-03-16T08:38:08.056406Z
        till: 2026-04-25T14:44:28.393587Z
      properties:
        state:
          description: |
            Статус подписки:
              - `active` — активна
              - `inactive` — истекла или отменена
          enum:
          - active
          - inactive
          example: active
          type: string
        activationSource:
          description: |
            Источник подключения подписки:
              - `constructor` — покупка через раздел **Конструктор тарифов**
              - `jam` — покупка через раздел **Подписка «Джем»**
          enum:
          - constructor
          - jam
          example: jam
          type: string
        level:
          description: |
            Уровень подписки:
              - `standard`
              - `advanced`
              - `premium`
          enum:
          - standard
          - advanced
          - premium
          example: premium
          type: string
        since:
          description: Дата и время первой активации подписки. Не меняется при продлении
            или повторной активации
          example: 2026-03-16T08:38:08.056406Z
          format: date-time
          type: string
        till:
          description: Дата и время окончания подписки
          example: 2026-04-25T14:44:28.393587Z
          format: date-time
          type: string
      required:
      - activationSource
      - level
      - since
      - state
      - till
      type: object
    PlanBuilderOptionsInfo:
      example:
        activeOptionCount: 5
        activePackageCount: 2
        totalCommissionRate: 4.6
        packages:
        - id: 79861ed4-ccfd-4998-96a9-c90f8bf98bb9
          slug: superSeller
          name: Суперпродавец
          status: active
          activatedAt: 2006-01-02T15:04:05.999+03:00
          expiresAt: 2006-01-02T15:04:05.999+03:00
          commissionRate: 2.5
          periodDuration: 90
          options:
          - id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
            slug: pinReview
            name: Закрепление отзывов и видео
          - id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
            slug: pinReview
            name: Закрепление отзывов и видео
        - id: 79861ed4-ccfd-4998-96a9-c90f8bf98bb9
          slug: superSeller
          name: Суперпродавец
          status: active
          activatedAt: 2006-01-02T15:04:05.999+03:00
          expiresAt: 2006-01-02T15:04:05.999+03:00
          commissionRate: 2.5
          periodDuration: 90
          options:
          - id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
            slug: pinReview
            name: Закрепление отзывов и видео
          - id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
            slug: pinReview
            name: Закрепление отзывов и видео
        options:
        - id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
          slug: pinReview
          name: Закрепление отзывов и видео из Wibes
          status: active
          activatedAt: 2006-01-02T15:04:05.999+03:00
          expiresAt: 2006-01-02T15:04:05.999+03:00
          commissionRate: 2.1
          periodDuration: 90
          promotion: ""
        - id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
          slug: pinReview
          name: Закрепление отзывов и видео из Wibes
          status: active
          activatedAt: 2006-01-02T15:04:05.999+03:00
          expiresAt: 2006-01-02T15:04:05.999+03:00
          commissionRate: 2.1
          periodDuration: 90
          promotion: ""
      properties:
        activeOptionCount:
          description: "Количество активных опций, не включённых в пакеты"
          example: 5
          format: int
          type: number
        activePackageCount:
          description: Количество активных пакетов опций
          example: 2
          format: int
          type: number
        totalCommissionRate:
          description: "Итоговая комиссия за подключённые опции и пакеты, % от обо\
            рота"
          example: 4.6
          format: float
          type: number
        packages:
          description: Подключённые пакеты опций
          items:
            $ref: "#/components/schemas/PlanBuilderPackage"
          type: array
        options:
          description: Подключённые опции
          items:
            $ref: "#/components/schemas/PlanBuilderOption"
          type: array
      required:
      - activeOptionCount
      - activePackageCount
      - options
      - packages
      - totalCommissionRate
      type: object
    PlanBuilderPackage:
      example:
        id: 79861ed4-ccfd-4998-96a9-c90f8bf98bb9
        slug: superSeller
        name: Суперпродавец
        status: active
        activatedAt: 2006-01-02T15:04:05.999+03:00
        expiresAt: 2006-01-02T15:04:05.999+03:00
        commissionRate: 2.5
        periodDuration: 90
        options:
        - id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
          slug: pinReview
          name: Закрепление отзывов и видео
        - id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
          slug: pinReview
          name: Закрепление отзывов и видео
      properties:
        id:
          description: ID пакета
          example: 79861ed4-ccfd-4998-96a9-c90f8bf98bb9
          format: uuid
          type: string
        slug:
          description: Код пакета
          example: superSeller
          type: string
        name:
          description: Название пакета на языке из параметра `locale`
          example: Суперпродавец
          type: string
        status:
          description: |
            Статус пакета:
              - `active` — активен
              - `pendingActivation` — подключён, начнёт работать с 00:00 следующего дня
              - `pendingDeactivation` — отключён, перестанет работать с 00:00 следующего дня
          enum:
          - active
          - pendingActivation
          - pendingDeactivation
          example: active
          type: string
        activatedAt:
          description: Дата активации пакета
          example: 2006-01-02T15:04:05.999+03:00
          format: date-time
          type: string
        expiresAt:
          description: Дата окончания минимального срока действия пакета. До этого
            дня пакет опций нельзя отключить
          example: 2006-01-02T15:04:05.999+03:00
          format: date-time
          type: string
        commissionRate:
          description: "Комиссия за пакет, % от оборота"
          example: 2.5
          format: float
          type: number
        periodDuration:
          description: Минимальный срок действия пакета в днях
          example: 90
          format: int
          type: number
        options:
          description: "Опции, которые входят в пакет"
          items:
            $ref: "#/components/schemas/PlanBuilderOptionShort"
          type: array
      type: object
    PlanBuilderOption:
      example:
        id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
        slug: pinReview
        name: Закрепление отзывов и видео из Wibes
        status: active
        activatedAt: 2006-01-02T15:04:05.999+03:00
        expiresAt: 2006-01-02T15:04:05.999+03:00
        commissionRate: 2.1
        periodDuration: 90
        promotion: ""
      properties:
        id:
          description: ID опции
          example: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
          type: string
        slug:
          description: Код опции
          example: pinReview
          type: string
        name:
          description: Название опции на языке из параметра `locale`
          example: Закрепление отзывов и видео из Wibes
          type: string
        status:
          description: |
            Статус опции:
              - `active` — активна
              - `pendingActivation` — подключена, начнёт работать с 00:00 следующего дня
              - `pendingDeactivation` — отключена, перестанет работать с 00:00 следующего дня
          enum:
          - active
          - pendingActivation
          - pendingDeactivation
          example: active
          type: string
        activatedAt:
          description: Дата активации опции
          example: 2006-01-02T15:04:05.999+03:00
          format: date-time
          type: string
        expiresAt:
          description: Дата окончания минимального срока действия опции. До этого
            дня опцию нельзя отключить
          example: 2006-01-02T15:04:05.999+03:00
          format: date-time
          type: string
        commissionRate:
          description: "Стоимость подключения опции, % от оборота. Возвращается, е\
            сли в ответе нет объекта `promotion`"
          example: 2.1
          format: float
          type: number
        periodDuration:
          description: Минимальный срок действия опции в днях
          example: 90
          format: int
          type: number
        promotion:
          allOf:
          - $ref: "#/components/schemas/PlanBuilderPromotion"
          description: "Акция, по которой подключена опция. Не возвращается, если\
            \ опция подключена без акции или срок действия акции истёк"
      type: object
    PlanBuilderOptionShort:
      example:
        id: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
        slug: pinReview
        name: Закрепление отзывов и видео
      properties:
        id:
          description: ID опции
          example: 4f134ae7-f768-481e-bac1-bf75d2fdc6f7
          type: string
        slug:
          description: Код опции
          example: pinReview
          type: string
        name:
          description: Название опции на языке из параметра `locale`
          example: Закрепление отзывов и видео
          type: string
      type: object
    PlanBuilderPromotion:
      properties:
        commissionRate:
          description: "Стоимость подключения опции по акции, % от оборота"
          example: 0.3
          format: float
          type: number
        expiresAt:
          description: Дата окончания действия цены по акции
          example: 2006-01-02T15:04:05.999+03:00
          format: date-time
          type: string
      type: object
    PlanBuilderErrors:
      properties:
        title:
          description: Заголовок ошибки
          type: string
        detail:
          description: Детали ошибки
          type: string
        code:
          description: Внутренний код ошибки
          type: string
        requestId:
          description: Уникальный ID запроса
          type: string
        origin:
          description: ID внутреннего сервиса WB
          type: string
        status:
          description: HTTP статус-код
          type: number
        errors:
          description: Ошибки запроса с указанием параметров и деталей ошибок
          items:
            description: TODO default missing array inner type to string
            type: string
          type: array
      type: object
    getPing_200_response:
      example:
        TS: TS
        Status: OK
      properties:
        TS:
          description: Timestamp запроса
          type: string
        Status:
          description: Статус
          enum:
          - OK
          type: string
      type: object
    getPing_401_response:
      properties:
        title:
          description: Заголовок ошибки
          type: string
        detail:
          description: Детали ошибки
          type: string
        code:
          description: Внутренний код ошибки
          type: string
        requestId:
          description: Уникальный ID запроса
          type: string
        origin:
          description: ID внутреннего сервиса WB
          type: string
        status:
          description: HTTP статус-код
          type: number
        statusText:
          description: Расшифровка HTTP статус-кода
          type: string
        timestamp:
          description: Дата и время запроса
          format: date-time
          type: string
      type: object
    getV2News_200_response_data_inner_types_inner:
      example:
        id: 6
        name: name
      properties:
        id:
          description: ID тега
          type: integer
        name:
          description: Название тега
          type: string
      type: object
    getV2News_200_response_data_inner:
      example:
        content: content
        date: 2000-01-23T04:56:07.000+00:00
        header: header
        id: 0
        types:
        - id: 6
          name: name
        - id: 6
          name: name
      properties:
        content:
          description: Текст новости
          format: plaintext
          type: string
        date:
          description: Дата и время публикации новости
          format: date-time
          type: string
        header:
          description: Заголовок новости
          type: string
        id:
          description: ID новости
          type: integer
        types:
          description: Теги новости
          items:
            $ref: "#/components/schemas/getV2News_200_response_data_inner_types_inner"
          type: array
      type: object
    getV2News_200_response:
      example:
        data:
        - content: content
          date: 2000-01-23T04:56:07.000+00:00
          header: header
          id: 0
          types:
          - id: 6
            name: name
          - id: 6
            name: name
        - content: content
          date: 2000-01-23T04:56:07.000+00:00
          header: header
          id: 0
          types:
          - id: 6
            name: name
          - id: 6
            name: name
      properties:
        data:
          description: Новости
          items:
            $ref: "#/components/schemas/getV2News_200_response_data_inner"
          type: array
      type: object
    getV1SellerInfo_200_response:
      example:
        name: name
        sid: sid
        tin: tin
        tradeMark: tradeMark
      properties:
        name:
          description: Наименование продавца
          type: string
        sid:
          description: "Уникальный ID продавца на Wildberries, [находящийся в публ\
            ичном поле токена](./api-information#tag/authorization/Kak-ustroen-token)"
          format: UUID
          type: string
        tin:
          description: ИНН
          type: string
        tradeMark:
          description: Торговое наименование продавца
          type: string
      type: object
    getV1SellerInfo_402_response:
      properties:
        title:
          description: Заголовок ошибки
          type: string
        detail:
          description: "Детали ошибки. Ошибка возвращается только сервисам из [Кат\
            алога решений для бизнеса](/business-solutions)"
          type: string
      type: object
    getV1Rating_403_response:
      properties:
        title:
          description: Заголовок ошибки
          type: string
        detail:
          description: Детали ошибки
          type: string
        code:
          description: Внутренний код ошибки
          type: string
        requestId:
          description: ID запроса
          type: string
        origin:
          description: ID внутреннего сервиса WB
          type: string
        status:
          description: HTTP статус-код
          type: number
        statusText:
          description: Расшифровка HTTP статус-кода
          type: string
        timestamp:
          description: Дата и время запроса
          format: date-time
          type: string
      type: object
    Access_inner:
      properties:
        code:
          description: |
            Код раздела профиля продавца, к которому пользователь получит доступ:
            * `balance` — Просмотр баланса и вывод средств
            * `brands` — Управление брендами
            * `changeJam` — Доступ к подключению подписки **Джем**: **А/Б тесты**, отметки на фото, автозапуски видео, сравнение карточек
            * `discountPrice` — Изменение цен на товары, управление скидками и акциями
            * `finance` — Финансовая аналитика. Статистика по балансу, финансовые отчёты, история платежей
            * `showcase` — Управление витриной магазина
            * `suppliersDocuments` — Просмотр и скачивание документов по работе с площадкой
            * `supply` — Создание и управление поставками FBW
            * `questions` — Просмотр и ответы на вопросы покупателей
            * `pinFeedbacks` — Возможность закреплять и откреплять отзывы
            * `pointsForReviews` — Баллы за отзывы
            * `feedbacks` — Просмотр и ответы на отзывы покупателей
            * `oldAnalyticsReports` — Отчёты
            * `marketplace` — Свой склад
            * `brandsFlow` — Мои бренды
            * `copyrightComplaints` — Обращения правообладателей
            * `pretrialClaims` — Досудебные претензии
            * `sellersChat` — Чат с покупателями
            * `brandzone` — Бренд-зона. Публикация изменений
            * `brandzoneSubscribe` — Управление подпиской бренд-зоны
          enum:
          - balance
          - brands
          - changeJam
          - discountPrice
          - finance
          - showcase
          - suppliersDocuments
          - supply
          - questions
          - pinFeedbacks
          - pointsForReviews
          - feedbacks
          - oldAnalyticsReports
          - marketplace
          - brandsFlow
          - copyrightComplaints
          - pretrialClaims
          - sellersChat
          - brandzone
          - brandzoneSubscribe
          type: string
        disabled:
          description: |
            * `true` — доступ к разделу запрещён
            * `false` — доступ к разделу разрешён
          type: boolean
      required:
      - code
      - disabled
      type: object
    getUsersResponse_users_inner_inviteeInfo:
      description: "Информация о приглашении, если пользователь приглашён"
      example:
        phoneNumber: phoneNumber
        position: position
        inviteUuid: inviteUuid
        expiredAt: 2000-01-23T04:56:07.000+00:00
        isActive: true
      nullable: true
      properties:
        phoneNumber:
          description: Номер телефона приглашённого пользователя
          type: string
        position:
          description: Должность приглашённого пользователя
          type: string
        inviteUuid:
          description: ID приглашения
          format: UUID
          type: string
        expiredAt:
          description: Дата и время окончания срока действия приглашения
          format: date-time
          type: string
        isActive:
          description: |
            - `true` — приглашение активно
            - `false` — приглашение неактивно
          type: boolean
      type: object
    getUsersResponse_users_inner:
      example:
        id: 1
        role: user
        position: position
        phone: phone
        email: email
        isOwner: true
        firstName: firstName
        secondName: secondName
        patronymic: patronymic
        goodsReturn: true
        isInvitee: true
        inviteeInfo:
          phoneNumber: phoneNumber
          position: position
          inviteUuid: inviteUuid
          expiredAt: 2000-01-23T04:56:07.000+00:00
          isActive: true
        access:
        - code: balance
          disabled: false
        - code: pointsForReviews
          disabled: false
        - code: brands
          disabled: true
        - code: finance
          disabled: true
        - code: supply
          disabled: true
      properties:
        id:
          description: ID пользователя
          type: integer
        role:
          description: |
            Роль пользователя:
              * `user` — пользователь, который активировал доступ
              * ` ` (пустая строка) — пользователь, который не активировал доступ
          enum:
          - user
          - ""
          type: string
        position:
          description: Должность пользователя
          type: string
        phone:
          description: Номер телефона пользователя
          type: string
        email:
          description: Email пользователя
          type: string
        isOwner:
          description: Является ли пользователь владельцем профиля продавца
          type: boolean
        firstName:
          description: Имя пользователя
          type: string
        secondName:
          description: Фамилия пользователя
          type: string
        patronymic:
          description: Отчество пользователя
          type: string
        goodsReturn:
          description: Может ли пользователь одобрять возвраты товаров
          type: boolean
        isInvitee:
          description: Приглашён ли пользователь
          type: boolean
        inviteeInfo:
          $ref: "#/components/schemas/getUsersResponse_users_inner_inviteeInfo"
        access:
          description: Настройки доступа к разделам профиля продавца
          example:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
          items:
            $ref: "#/components/schemas/Access_inner"
          type: array
      required:
      - access
      - email
      - firstName
      - goodsReturn
      - id
      - inviteeInfo
      - isInvitee
      - isOwner
      - patronymic
      - phone
      - position
      - role
      - secondName
      type: object
    createInviteRequest_invite:
      properties:
        phoneNumber:
          description: |
            Номер телефона пользователя для приглашения.
            <details><summary><strong>Поддерживаются номера телефонов из стран:</strong></summary>• Азербайджан<br>• Армения<br>• Барбадос<br>• Беларусь<br>• Бразилия<br>• Гонконг<br>• Грузия<br>• Италия<br>• Казахстан<br>• Китай<br>• Кыргызстан<br>• Макао<br>• ОАЭ<br>• Россия<br>• Сербия<br>• Таджикистан<br>• Турция<br>• Узбекистан<br>• Чехия<br>• Швеция</details>
          type: string
        position:
          description: Должность пользователя
          maxLength: 150
          type: string
      required:
      - phoneNumber
      type: object
  securitySchemes:
    HeaderApiKey:
      in: header
      name: Authorization
      type: apiKey
