openapi: 3.0.1
info:
  description: |
    <div class="description_important">
      Узнать больше о маркетинге и продвижении можно в <a href="https://seller.wildberries.ru/instructions/category/59d92bd3-6ea0-40f2-b762-ca8835d7d42e?goBackOption=prevRoute&categoryId=479385c6-de01-4b4d-ad4e-ed941e65582e">справочном центре</a>
    </div>

    <div class="api-block">

    Методы маркетинга и продвижения позволяют:
      1. Получать информацию о кампаниях [продвижения](/openapi/promotion#tag/Kampanii) и [медиакампаниях](/openapi/promotion#tag/Media)
      2. [Создавать](/openapi/promotion#tag/Sozdanie-kampanij) и [управлять](/openapi/promotion#tag/Upravlenie-kampaniyami) кампаниями
      3. Управлять [финансами](/openapi/promotion#tag/Finansy) кампаний
      4. Выгружать [статистику](/openapi/promotion#tag/Statistika) кампаний продвижения и медиакампаний
      5. Работать с [календарём акций](/openapi/promotion#tag/Kalendar-akcij)
      6. Устанавливать [рекомендации](/openapi/promotion#tag/recommendations) для товаров

    Данные синхронизируются с базой раз в 3 минуты. Статусы кампаний меняются раз в минуту. Ставки кампаний меняются раз в 30 секунд.

    </div>
  title: Маркетинг и продвижение
  version: promotion
  x-file-name: promotion
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Кампании
- description: ""
  name: Создание кампаний
- description: ""
  name: Управление кампаниями
- description: ""
  name: Поисковые кластеры
- description: ""
  name: Финансы
- description: ""
  name: Медиа
- description: ""
  name: Статистика
- description: ""
  name: Календарь акций
- description: ""
  name: Рекомендации
  x-displayName: Рекомендации
paths:
  /adv/v1/promotion/count:
    get:
      description: |
        Метод возвращает списки всех [рекламных кампаний](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) продавца с их ID. Кампании сгруппированы по типу и статусу, у каждой указана дата последнего изменения.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 4 запроса | 15 мин | 1 запрос |
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                adverts:
                - type: 9
                  status: 8
                  count: 3
                  advert_list:
                  - advertId: 6485174
                    changeTime: 2023-05-10T12:12:52.676254+03:00
                  - advertId: 6500443
                    changeTime: 2023-05-10T17:08:46.370656+03:00
                  - advertId: 7936341
                    changeTime: 2023-07-12T15:51:08.367478+03:00
                all: 3
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_200_response"
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Списки кампаний
      tags:
      - Кампании
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /api/advert/v2/adverts:
    get:
      description: |
        Метод возвращает информацию о рекламных кампаниях с единой или ручной ставкой по их статусам, типам оплаты и ID.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
      - description: "ID кампаний, максимум 50"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          example: "12345,23456,34567,45678,56789"
          type: string
        style: form
      - description: |
          Статусы кампаний:
          - `-1` — удалена, процесс удаления будет завершён в течение 10 минут
          - `4` — готова к запуску
          - `7` — завершена
          - `8` — отменена
          - `9` — активна
          - `11` — на паузе
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          example: "-1,4,8"
          type: string
        style: form
      - description: |
          Тип оплаты:
          - `cpm` — за показы
          - `cpc` — за клик
        explode: true
        in: query
        name: payment_type
        required: false
        schema:
          enum:
          - cpm
          - cpc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                adverts:
                - bid_type: manual
                  id: 567456457
                  nm_settings:
                  - bids_kopecks:
                      recommendations: 0
                      search: 0
                    nm_id: 123456789
                    subject:
                      id: 52
                      name: кошельки
                  - bids_kopecks:
                      recommendations: 11200
                      search: 11200
                    nm_id: 987654321
                    subject:
                      id: 54
                      name: ювелирные кольца
                  settings:
                    name: Кампания от 01.02.2024
                    payment_type: cpm
                    placements:
                      recommendations: false
                      search: true
                  status: 7
                  timestamps:
                    created: 2024-02-01T09:57:38.500606+03:00
                    deleted: 2024-02-05T14:29:32.633968+03:00
                    started: 2024-02-05T12:38:10.212086+03:00
                    updated: 2024-02-05T14:29:32.633968+03:00
                - bid_type: manual
                  id: 28150154
                  nm_settings:
                  - bids_kopecks:
                      recommendations: 0
                      search: 1100
                    nm_id: 5764746785
                    subject:
                      id: 69
                      name: платья
                  settings:
                    name: 'Кампания от 28.08.2025 '
                    payment_type: cpc
                    placements:
                      recommendations: false
                      search: true
                  status: 11
                  timestamps:
                    created: 2025-08-28T09:50:57.611559+03:00
                    deleted: 2100-01-01T00:00:00+03:00
                    started: null
                    updated: 2025-09-10T10:14:58.475499+03:00
              schema:
                $ref: "#/components/schemas/GetAdverts"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Информация о кампаниях
      tags:
      - Кампании
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /api/advert/v1/bids/min:
    post:
      description: |
        Метод возвращает минимальные ставки для карточек товаров в копейках по типу оплаты и местам размещения.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 20 запросов | 3 сек | 5 запросов |
        | Сервисный | 1 мин | 20 запросов | 3 сек | 5 запросов |
        | Базовый с секретом | 1 мин | 20 запросов | 3 сек | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              advert_id: 98765432
              nm_ids:
              - 12345678
              - 87654321
              payment_type: cpm
              placement_types:
              - combined
              - search
              - recommendation
            schema:
              $ref: "#/components/schemas/_api_advert_v1_bids_min_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                bids:
                - bids:
                  - type: combined
                    value: 155
                  - type: search
                    value: 250
                  - type: recommendation
                    value: 250
                  nm_id: 12345678
                - bids:
                  - type: combined
                    value: 155
                  - type: search
                    value: 250
                  - type: recommendation
                    value: 250
                  nm_id: 87654321
              schema:
                $ref: "#/components/schemas/_api_advert_v1_bids_min_post_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardizedBatchError"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      summary: Минимальные ставки для карточек товаров
      tags:
      - Создание кампаний
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v2/seacat/save-ad:
    post:
      description: |
        Метод создаёт кампанию:
          - с ручной ставкой для продвижения товаров в поиске и/или рекомендациях
          - с единой ставкой для продвижения товаров одновременно в поиске и рекомендациях

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Сервисный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый с секретом | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              name: Телефоны
              nms:
              - 146168367
              - 200425104
              bid_type: manual
              placement_types:
              - search
              - recommendations
            schema:
              $ref: "#/components/schemas/_adv_v2_seacat_save_ad_post_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: ID кампании
                example: 1234567
                type: integer
          description: Успешно
        "400":
          content:
            application/json:
              example: Нет доступных категорий для рк. Создайте новую кампанию для
                попадания в текущие категории
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Создать кампанию
      tags:
      - Создание кампаний
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/supplier/subjects:
    get:
      description: |
        Метод возвращает список [предметов](/openapi/work-with-products#tag/categoriesSubcategoriesAndCharacteristics/paths/~1content~1v2~1object~1all/get), которые можно добавить в рекламную [кампанию](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 12 сек | 1 запрос | 12 сек | 5 запросов |
        | Сервисный | 12 сек | 1 запрос | 12 сек | 5 запросов |
        | Базовый с секретом | 12 сек | 1 запрос | 12 сек | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      parameters:
      - description: |
          Тип оплаты:
          - `cpm` — за показы
          - `cpc` — за клик
        explode: true
        in: query
        name: payment_type
        required: false
        schema:
          default: cpm
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Array:
                  value:
                  - name: 3D очки
                    id: 2560
                    count: 1899
                "null":
                  value: null
              schema:
                items:
                  $ref: "#/components/schemas/_adv_v1_supplier_subjects_get_200_response_inner"
                nullable: true
                type: array
                x-nullable: true
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "404":
          description: Не найдено
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Предметы для кампаний
      tags:
      - Создание кампаний
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v2/supplier/nms:
    post:
      description: |
        Метод возвращает список [карточек товаров](/openapi/work-with-products#tag/listings/paths/~1content~1v2~1get~1cards~1list/post), которые можно добавить в рекламную [кампанию](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get). Для получения карточек необходимы ID [предметов](/openapi/promotion#tag/Sozdanie-kampanij/paths/~1adv~1v1~1supplier~1subjects/get), также доступных для добавления в кампанию.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Сервисный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый с секретом | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
            - 123
            - 456
            - 765
            - 321
            schema:
              items:
                type: integer
              type: array
        description: "ID предметов, для которых нужно получить карточки товаров"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Карточки товаров для кампаний
                items:
                  $ref: "#/components/schemas/_adv_v2_supplier_nms_post_200_response_inner"
                nullable: true
                type: array
          description: Успешно
        "400":
          content:
            text/plain:
              example: Ошибка обработки тела запроса
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Карточки товаров для кампаний
      tags:
      - Создание кампаний
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/delete:
    get:
      description: |
        Метод удаляет [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусе `4` — готова к запуску.<br><br>

        После удаления кампания некоторое время будет находиться в статусе `-1` — кампания в процессе удаления. Полное удаление кампании занимает от 3 до 10 минут.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                ResponseInvalidCampaignID:
                  $ref: "#/components/examples/ResponseInvalidCampaignID"
              schema:
                $ref: "#/components/schemas/responseAdvError1"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Удаление кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/rename:
    post:
      description: |
        Метод меняет название [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get). Это можно сделать в любой момент существования кампании.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              advertId: 2233344
              name: newname
            schema:
              $ref: "#/components/schemas/_adv_v0_rename_post_request"
      responses:
        "200":
          description: Успешно
        "400":
          content:
            text/plain:
              examples:
                InvalidRcIdAdv:
                  $ref: "#/components/examples/InvalidRcIdAdv"
                IncorrectName:
                  $ref: "#/components/examples/IncorrectName"
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "422":
          content:
            text/plain:
              examples:
                RequestBodyProcessErrorAdv:
                  $ref: "#/components/examples/RequestBodyProcessErrorAdv"
                CompanyNameChangeErr:
                  $ref: "#/components/examples/CompanyNameChangeErr"
              schema:
                type: string
          description: Ошибка обработки параметров запроса
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Переименование кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/start:
    get:
      description: |
        Метод запускает [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусах `4` — готово к запуску — или `11` — пауза.
        Чтобы запустить кампанию, проверьте ее бюджет. Если бюджета недостаточно, [пополните его](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget~1deposit/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234
          type: integer
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectId:
                  $ref: "#/components/examples/IncorrectId"
                AdvertNotFound:
                  $ref: "#/components/examples/AdvertNotFound"
                LowBudget:
                  $ref: "#/components/examples/LowBudget"
              schema:
                $ref: "#/components/schemas/400Response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "422":
          content:
            text/plain:
              examples:
                StatusNoChangeAdv:
                  $ref: "#/components/examples/StatusNoChangeAdv"
              schema:
                type: string
          description: Статус не изменен
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Запуск кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/pause:
    get:
      description: |
        Метод ставит [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусе `9` — активна — на паузу.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234
          type: integer
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectId:
                  $ref: "#/components/examples/IncorrectId"
                AdvertNotFound:
                  $ref: "#/components/examples/AdvertNotFound"
              schema:
                $ref: "#/components/schemas/400Response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "422":
          content:
            text/plain:
              examples:
                StatusNoChangeAdv:
                  $ref: "#/components/examples/StatusNoChangeAdv"
              schema:
                type: string
          description: Статус не изменен
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Пауза кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/stop:
    get:
      description: |
        Метод завершает [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) в статусах:
          - `4` — готово к запуску
          - `9` — активна
          - `11` — пауза

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234
          type: integer
        style: form
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectId:
                  $ref: "#/components/examples/IncorrectId"
                AdvertNotFound:
                  $ref: "#/components/examples/AdvertNotFound"
              schema:
                $ref: "#/components/schemas/400Response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "422":
          content:
            text/plain:
              examples:
                StatusNoChangeAdv:
                  $ref: "#/components/examples/StatusNoChangeAdv"
              schema:
                type: string
          description: Статус не изменен
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Завершение кампании
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/auction/placements:
    put:
      description: |
        Метод меняет места размещения в кампаниях с ручной ставкой и моделью оплаты за показы — `cpm`.
        <br><br>
        Для кампаний в статусах `4`, `9` и `11`.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              placements:
              - advert_id: 12345
                placements:
                  search: true
                  recommendations: true
            schema:
              $ref: "#/components/schemas/_adv_v0_auction_placements_put_request"
        required: true
      responses:
        "204":
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                BadRequest:
                  value:
                    detail: can not deserialize response body
                    origin: camp-api-public-cache
                    request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                    status: 400
                    title: invalid payload
                BadAdvertPaymentType:
                  value:
                    detail: "advert 12345 has payment type cpc, placements cannot\
                      \ be changed"
                    origin: camp-api-public-cache
                    request_id: e53addfabe9274d5b8f77272ca085ac4
                    status: 400
                    title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Изменение мест размещения в кампаниях с ручной ставкой
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /api/advert/v1/bids:
    patch:
      description: |
        Метод меняет ставки карточек товаров по артикулам WB в кампаниях:
          - с единой ставкой
          - с ручной ставкой
          - с моделью оплаты `cpc` — за клики

        Для кампаний в статусах `4`, `9` и `11`.
        <br><br>
        В запросе укажите место размещения в параметре `placement`:
          - `combined` — в поиске и рекомендациях для кампаний с единой ставкой
          - `search `или `recommendations` — в поиске или рекомендациях для кампаний с ручной ставкой

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              bids:
              - advert_id: 12345
                nm_bids:
                - nm_id: 13335157
                  bid_kopecks: 250
                  placement: recommendations
            schema:
              $ref: "#/components/schemas/_api_advert_v1_bids_patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                bids:
                - advert_id: 12345
                  nm_bids:
                  - nm_id: 13335157
                    bid_kopecks: 250
                    placement: recommendations
              schema:
                $ref: "#/components/schemas/_api_advert_v1_bids_patch_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: "wrong bid value: 3; min: 150"
                origin: camp-api-public-cache
                request_id: 9a929a81ea9dc1601fcc4be81f32c1cb
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Изменение ставок в кампаниях
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/balance:
    get:
      description: |
        Метод возвращает информацию о:
          - счёте кабинета Продвижения WB. Его пополняет продавец.
          - балансе — максимальной сумме для оплаты кампании по взаиморасчету: удержании средств из будущих продаж. Баланс пополнить нельзя, он рассчитывается автоматически на основе отчётов по продвижению.
          - бонусных начислениях WB.

        Информацию о бюджете кампаний можно получить в [отдельном методе](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                balance: 11083
                net: 0
                bonus: 15187
                cashbacks:
                - sum: 10672
                  percent: 50
                  expiration_date: 2026-04-17T10:46:02.176174Z
              schema:
                $ref: "#/components/schemas/_adv_v1_balance_get_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Баланс
      tags:
      - Финансы
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/budget:
    get:
      description: |
        Метод возвращает информацию о бюджете [кампании](/openapi/promotion#tag/Kampanii/paths/~1api~1advert~1v2~1adverts/get) — максимальной сумме затрат на кампанию. Бюджет кампании можно [пополнить](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget~1deposit/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 4 запроса | 250 мс | 4 запроса |
        | Сервисный | 1 сек | 4 запроса | 250 мс | 4 запроса |
        | Базовый с секретом | 1 сек | 4 запроса | 250 мс | 4 запроса |
        | Базовый | 1 ч | 4 запроса | 15 мин | 1 запрос |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                cash: 0
                netting: 0
                total: 500
              schema:
                $ref: "#/components/schemas/_adv_v1_budget_get_200_response"
          description: Успешно
        "400":
          content:
            text/plain:
              examples:
                CampaignNotBelongSeller:
                  $ref: "#/components/examples/CampaignNotBelongSeller"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Бюджет кампании
      tags:
      - Финансы
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/budget/deposit:
    post:
      description: |
        Метод пополняет [бюджет](/openapi/promotion#tag/Finansy/paths/~1adv~1v1~1budget/get) кампании. <br>
        Чтобы запустить кампанию после пополнения бюджета, используйте метод [Запуск кампании](/openapi/promotion#tag/Upravlenie-kampaniyami/paths/~1adv~1v0~1start/get).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      parameters:
      - description: ID кампании
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: 1234567
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/_adv_v1_budget_deposit_post_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                ResponseWithReturn:
                  $ref: "#/components/examples/ResponseWithReturn"
              schema:
                $ref: "#/components/schemas/ResponseWithReturn"
          description: Успешно
        "400":
          content:
            application/json:
              examples:
                DepositAmountMultiple50:
                  description: Сумма пополнения должна быть кратна 50 руб
                  value:
                    error: Сумма пополнения должна быть кратна 50 руб
                MinimumDepositAmountIs500:
                  description: Минимальная сумма пополнения 1000 рублей
                  value:
                    error: Минимальная сумма пополнения 1000 рублей
                IncorrectType:
                  description: Неверный тип источника списания для пополнения промо-бонусами
                  value:
                    error: "Invalid Params: cashback can not be used with such type"
              schema:
                $ref: "#/components/schemas/_adv_v1_budget_deposit_post_400_response"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Пополнение бюджета кампании
      tags:
      - Финансы
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/upd:
    get:
      description: |
        Метод формирует список фактических затрат на рекламные кампании за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
      - description: Начало интервала
        explode: true
        in: query
        name: from
        required: true
        schema:
          example: 2023-07-31
          format: date
          type: string
        style: form
      - description: |
          Конец интервала. <br>
          (Минимальный интервал 1 день, максимальный 31)
        explode: true
        in: query
        name: to
        required: true
        schema:
          example: 2023-08-02
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - updNum: 0
                updTime: 2023-07-31T12:12:54.060536+03:00
                updSum: 24
                advertId: 3355881
                campName: лук лучок
                advertType: 6
                paymentType: Баланс
                advertStatus: 9
              - updNum: 0
                updTime: null
                updSum: 107
                advertId: 3366882
                campName: золотая луковица
                advertType: 8
                paymentType: Счет
                advertStatus: 11
              schema:
                items:
                  $ref: "#/components/schemas/_adv_v1_upd_get_200_response_inner"
                type: array
          description: Успешно
        "400":
          content:
            text/plain:
              examples:
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получение истории затрат
      tags:
      - Финансы
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v1/payments:
    get:
      description: |
        Метод возвращает историю пополнений счёта **WB Продвижение** за заданный период.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 5 запросов |
        | Базовый | 1 ч | 1 запрос | 1 ч | 1 запрос |
        </div>
      parameters:
      - description: Начало интервала
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 2023-07-31
          format: date
          type: string
        style: form
      - description: |
          Конец интервала. <br>
          (Минимальный интервал 1 день, максимальный 31)
        explode: true
        in: query
        name: to
        required: false
        schema:
          example: 2023-08-02
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 1036666
                date: 2022-02-04T09:06:47.985843Z
                sum: 600
                type: 0
                statusId: 1
                cardStatus: ""
              - id: 55261296
                date: 2023-04-13T10:07:42
                sum: 1500
                type: 3
                statusId: 1
                cardStatus: succeeded
              schema:
                items:
                  $ref: "#/components/schemas/_adv_v1_payments_get_200_response_inner"
                type: array
          description: Успешно
        "204":
          description: История пополнений счета не найдена
        "400":
          content:
            application/json:
              examples:
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Получение истории пополнений счёта
      tags:
      - Финансы
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/auction/nms:
    patch:
      description: |
        Метод добавляет и удаляет карточки товаров в кампаниях.
        <br><br>
        Для кампаний в статусах `4`, `9` и `11`.
        <br><br>
        Для добавляемых товаров устанавливается текущая минимальная ставка.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Сервисный | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Базовый с секретом | 1 сек | 1 запрос | 1 сек | 1 запрос |
        | Базовый | 1 ч | 2 запроса | 30 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              nms:
              - advert_id: 12345
                nms:
                  add:
                  - 11111111
                  - 44444444
                  delete:
                  - 55555555
            schema:
              $ref: "#/components/schemas/_adv_v0_auction_nms_patch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                nms:
                - advert_id: 12345
                  nms:
                    added:
                    - 11111111
                    - 44444444
                    deleted:
                    - 55555555
              schema:
                $ref: "#/components/schemas/_adv_v0_auction_nms_patch_200_response"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: nomenclature 13335157 cannot be both added and deleted for
                  advert 27247695
                origin: camp-api-public-cache
                request_id: 6023d2950af564838f9b44a279d2140c
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      security:
      - HeaderApiKey: []
      summary: Изменение списка карточек товаров в кампаниях
      tags:
      - Управление кампаниями
      x-readonly-method: false
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /api/advert/v0/bids/recommendations:
    get:
      description: |
        Метод возвращает рекомендуемые ставки для карточек товаров и поисковых кластеров кампании.
        Только для кампаний с типом оплаты `cpm` — за показы.

         <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Сервисный | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый с секретом | 1 мин | 5 запросов | 12 сек | 5 запросов |
        | Базовый | 1 ч | 20 запросов | 3 мин | 1 запрос |
        </div>
      parameters:
      - description: Артикул WB
        example: 123456789
        explode: true
        in: query
        name: nmId
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: ID кампании
        example: 987654321
        explode: true
        in: query
        name: advertId
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                advertId: 987654321
                base:
                  competitiveBid:
                    bidKopecks: 39500
                  leadersBid:
                    bidKopecks: 66900
                  top2:
                    bidKopecks: 0
                nmId: 123456789
                normQueries:
                - normQuery: футболка
                  reachMax:
                    bidKopecks: 50500
                    bidKopecksMin: 49500
                  reachMedium:
                    bidKopecks: 32000
                  reachMin:
                    bidKopecks: 32000
              schema:
                $ref: "#/components/schemas/V0BidsRecommendationsResponse"
          description: Успешно
        "400":
          content:
            text/plain:
              examples:
                IncorrectTypeAdv:
                  $ref: "#/components/examples/IncorrectTypeAdv"
                IncorrectSupplierIdAdv:
                  $ref: "#/components/examples/IncorrectSupplierIdAdv"
                IncorrectUsingMethods:
                  $ref: "#/components/examples/IncorrectUsingMethods"
              schema:
                type: string
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      summary: Рекомендуемые ставки для карточек товаров и поисковых кластеров
      tags:
      - Управление кампаниями
      x-readonly-method: true
      x-category: advert
    servers:
    - url: https://advert-api.wildberries.ru
  /adv/v0/normquery/stats:
    post:
      description: |
        Метод формирует статистику по поисковым кластерам за указанный период.<br>
        Можно использовать для кампаний с моделями оплаты `cpm` — за показы и `cpc` — за клики.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 мин | 10 запросов | 6 сек | 20 запросов |
        | Сервисный | 1 мин | 10 запросов | 6 сек | 20 запросов |
        | Базовый с секретом | 1 мин | 10 запросов | 6 сек | 20 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              from: 2025-10-07
              to: 2025-10-08
              items:
              - advert_id: 1825035
                nm_id: 983512347
            schema:
              $ref: "#/components/schemas/V0GetNormQueryStatsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                stats:
                - advert_id: 1825035
                  nm_id: 983512347
                  stats:
                  - atbs: 68
                    avg_pos: 3.6
                    clicks: 2090
                    cpc: 471
                    cpm: 813
                    ctr: 107.23
                    norm_query: Фраза 1
                    orders: 19
                    views: 1949
                  - atbs: 68
                    avg_pos: 3.6
                    clicks: 2090
                    cpc: 471
                    cpm: 813
                    ctr: 107.23
                    norm_query: Фраза 2
                    orders: 19
                    views: 1949
                  - atbs: 68
                    avg_pos: 3.6
                    clicks: 2090
                    cpc: 471
                    cpm: 813
                    ctr: 107.23
                    norm_query: Фраза 3
                    orders: 19
                    views: 1949
                  - atbs: 36
                    avg_pos: 3.9
                    clicks: 1847
                    cpc: 278
                    cpm: 445
                    ctr: 96.4
                    norm_query: Фраза 4
                    orders: 28
                    views: 1916
                  - atbs: 36
                    avg_pos: 3.9
                    clicks: 1847
                    cpc: 278
                    cpm: 445
                    ctr: 96.4
                    norm_query: Фраза 5
                    orders: 28
                    views: 1916
                  - atbs: 79
                    avg_pos: 2.2
                    clicks: 2468
                    cpc: 106
                    cpm: 819
                    ctr: 145.01
                    norm_query: Фраза 6
                    orders: 14
                    views: 1702
                  - atbs: 79
                    avg_pos: 2.2
                    clicks: 2468
                    cpc: 106
                    cpm: 819
                    ctr: 145.01
                    norm_query: Фраза 7
                    orders: 14
                    views: 1702
                  - atbs: 67
                    avg_pos: 9.9
                    clicks: 1166
                    cpc: 250
                    cpm: 837
                    ctr: 70.33
                    norm_query: Фраза 8
                    orders: 26
                    views: 1658
                  - atbs: 67
                    avg_pos: 9.9
                    clicks: 1166
                    cpc: 250
                    cpm: 837
                    ctr: 70.33
                    norm_query: Фраза 9
                    orders: 26
                    views: 1658
                  - atbs: 46
                    avg_pos: 2
                    clicks: 2927
                    cpc: 122
                    cpm: 468
                    ctr: 186.43
                    norm_query: Фраза 10
                    orders: 23
                    views: 1570
                  - atbs: 46
                    avg_pos: 2
                    clicks: 2927
                    cpc: 122
                    cpm: 468
                    ctr: 186.43
                    norm_query: Фраза 11
                    orders: 23
                    views: 1570
                  - atbs: 79
                    avg_pos: 7.1
                    clicks: 2447
                    cpc: 67
                    cpm: 426
                    ctr: 163.9
                    norm_query: Фраза 12
                    orders: 13
                    views: 1493
                  - atbs: 79
                    avg_pos: 7.1
                    clicks: 2447
                    cpc: 67
                    cpm: 426
                    ctr: 163.9
                    norm_query: Фраза 13
                    orders: 13
                    views: 1493
                  - atbs: 61
                    avg_pos: 6
                    clicks: 1391
                    cpc: 370
                    cpm: 980
                    ctr: 99.29
                    norm_query: Фраза 14
                    orders: 27
                    views: 1401
                  - atbs: 61
                    avg_pos: 6
                    clicks: 1391
                    cpc: 370
                    cpm: 980
                    ctr: 99.29
                    norm_query: Фраза 15
                    orders: 27
                    views: 1401
                  - atbs: 26
                    avg_pos: 6.9
                    clicks: 1029
                    cpc: 88
                    cpm: 459
                    ctr: 77.43
                    norm_query: Фраза 16
                    orders: 3
                    views: 1329
                  - atbs: 26
                    avg_pos: 6.9
                    clicks: 1029
                    cpc: 88
                    cpm: 459
                    ctr: 77.43
                    norm_query: Фраза 17
                    orders: 3
                    views: 1329
                  - atbs: 67
                    avg_pos: 3.8
                    clicks: 1371
                    cpc: 448
                    cpm: 534
                    ctr: 104.18
                    norm_query: Фраза 18
                    orders: 3
                    views: 1316
                  - atbs: 67
                    avg_pos: 3.8
                    clicks: 1371
                    cpc: 448
                    cpm: 534
                    ctr: 104.18
                    norm_query: Фраза 19
                    orders: 3
                    views: 1316
                  - atbs: 18
                    avg_pos: 10
                    clicks: 2944
                    cpc: 472
                    cpm: 839
                    ctr: 256
                    norm_query: Фраза 20
                    orders: 4
                    views: 1150
                  - atbs: 18
                    avg_pos: 10
                    clicks: 2944
                    cpc: 472
                    cpm: 839
                    ctr: 256
                    norm_query: Фраза 21
                    orders: 4
                    views: 1150
              schema:
                $ref: "#/components/schemas/V0GetNormQueryStatsResponse"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                detail: norm_query API not available
                origin: camp-api-public-cache
                request_id: 60aaf2bc6164e84a9399fae9565b568a
                status: 403
                title: request forbidden
              schema:
                $ref: "#/components/schemas/StandardizedBatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      servers:
      - url: https://advert-api.wildberries.ru
      summary: Статистика поисковых кластеров
      tags:
      - Статистика
      x-readonly-method: true
      x-category: advert
  /adv/v0/normquery/get-bids:
    post:
      description: |
        Метод возвращает список поисковых кластеров со ставками по:
          - ID кампаний
          - артикулам WB

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              items:
              - advert_id: 1825035
                nm_id: 983512347
            schema:
              $ref: "#/components/schemas/V0GetNormQueryBidsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                bids:
                - advert_id: 1825035
                  bid: 700
                  nm_id: 983512347
                  norm_query: Фраза 1
                - advert_id: 1825035
                  bid: 9000
                  nm_id: 983512347
                  norm_query: Фраза 2
                - advert_id: 1825035
                  bid: 9999
                  nm_id: 983512347
                  norm_query: Фраза 3
              schema:
                $ref: "#/components/schemas/V0GetNormQueryBidsResponse"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                detail: norm_query API not available
                origin: camp-api-public-cache
                request_id: 60aaf2bc6164e84a9399fae9565b568a
                status: 403
                title: request forbidden
              schema:
                $ref: "#/components/schemas/StandardizedBatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      servers:
      - url: https://advert-api.wildberries.ru
      summary: Список ставок поисковых кластеров
      tags:
      - Поисковые кластеры
      x-readonly-method: true
      x-category: advert
  /adv/v0/normquery/bids:
    delete:
      description: |
        Метод удаляет ставки с поисковых кластеров.<br>
        Можно использовать только для кампаний с:
          - ручной ставкой
          - моделью оплаты `cpm` — за показы


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              bids:
              - advert_id: 1825035
                nm_id: 983512347
                norm_query: Фраза 1
                bid: 1000
            schema:
              $ref: "#/components/schemas/V0SetNormQueryBidsRequest"
        required: true
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                detail: norm_query API not available
                origin: camp-api-public-cache
                request_id: 60aaf2bc6164e84a9399fae9565b568a
                status: 403
                title: request forbidden
              schema:
                $ref: "#/components/schemas/StandardizedBatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      servers:
      - url: https://advert-api.wildberries.ru
      summary: Удалить ставки поисковых кластеров
      tags:
      - Поисковые кластеры
      x-readonly-method: false
      x-category: advert
    post:
      description: |
        Метод устанавливает ставки на поисковые кластеры.<br>
        Можно использовать только для кампаний с:
          - ручной ставкой
          - моделью оплаты `cpm` — за показы


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 2 запроса | 500 мс | 4 запроса |
        | Сервисный | 1 сек | 2 запроса | 500 мс | 4 запроса |
        | Базовый с секретом | 1 сек | 2 запроса | 500 мс | 4 запроса |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              bids:
              - advert_id: 1825035
                nm_id: 983512347
                norm_query: Фраза 1
                bid: 1000
            schema:
              $ref: "#/components/schemas/V0SetNormQueryBidsRequest"
        required: true
      responses:
        "200":
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Не авторизован
        "403":
          content:
            application/json:
              example:
                detail: norm_query API not available
                origin: camp-api-public-cache
                request_id: 60aaf2bc6164e84a9399fae9565b568a
                status: 403
                title: request forbidden
              schema:
                $ref: "#/components/schemas/StandardizedBatchError"
          description: Доступ запрещён
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: "#/components/schemas/_adv_v1_promotion_count_get_401_response"
          description: Слишком много запросов
      servers:
      - url: https://advert-api.wildberries.ru
      summary: Установить ставки для поисковых кластеров
      tags:
      - Поисковые кластеры
      x-readonly-method: false
      x-category: advert
  /adv/v0/normquery/get-minus:
    post:
      description: |
        Метод возвращает список минус-фраз по:
          - ID кампаний
          - артикулам WB


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Vvedenie/Limity-zaprosov">Лимит запросов</a> на один аккаунт продавца:


        | Тип | Период | Лимит | Интервал | Всплеск |
        | --- | --- | --- | --- | --- |
        | Персональный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Сервисный | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый с секретом | 1 сек | 5 запросов | 200 мс | 10 запросов |
        | Базовый | 1 ч | 5 запросов | 12 мин | 1 запрос |
        </div>
      requestBody:
        content:
          application/json:
            example:
              items:
              - advert_id: 1825035
                nm_id: 983512347
            schema:
              $ref: "#/components/schemas/V0GetNormQueryMinusRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                items:
                - advert_id: 1825035
                  nm_id: 983512347
                  norm_queries:
                  - Фраза 1
              schema:
                $ref: "#/components/schemas/V0GetNormQueryMinusResponse"
          description: Успешно
        "400":
          content:
            application/json:
              example:
                detail: invalid payment_type value
                origin: camp-api-public-cache
                request_id: 7e5cb1f106cc6e85b5b29eb2e8815da2
                status: 400
                title: invalid payload
              schema:
                $ref: "#/components/schemas/response400"
          description: Неправильный запрос
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
[...]
